@charset "UTF-8";
/**
 * PRINT STYLES
 *
 * Description: Print styling for the Cambridge English homepage
 * Author: Nomensa
 *
 */

// hide the following from print view
.skip-link,
.cookie-policy,
.header-tray,
.js-header_controls,
.navigation,
.header_search,
.js-carousel_direction-nav,
.js-carousel_control-nav,
.js-carousel,
.carousel_item,
.intro-panel img,
.icon-tiles .icon-tiles_item a img,
.js-tabs-panel_controls,
.footer_tray-links,
.footer_back-to-top,
.footer_utility ul,
.cc-bottom > div,
footer[role="contentinfo"],
.cc-cookies,
[data-class="button SEStartButton"],
.tools,
.addthis_toolbox,
.breadcrumbs,
.landingLinks,
.col-1,
.col-3,
[itemtype="http://schema.org/VideoObject"],
[itemtype="http://schema.org/AudioObject"] .post-audio,
[type="submit"],
button,
.pagination-links {
    display: none;
}

body {
    //line-height: 18pt;
    font: {
        size: 12pt;
        family: Georgia, 'Times New Roman', serif;
    }

    a:after {
        content: " (" attr(href) ")";
        font-size: 90%;
    }
}

//

h1 {
    font-size: 24pt;
}

h2 {
    font-size: 20pt;
}

h3 {
    font-size: 15pt;
}

h4 {
    font-size: 12pt;
}

/*p {*/
a {
    word-wrap: break-word;

    &[href^="http://"]:after {
        content: " (" attr(href) ")";
        font-size: 90%;
    }

    &:after {
        content: " (http://www.cambridgeenglish.org/" attr(href) ")";
        font-size: 90%;
        color: #666;
    }

    &[href^="#"]:after {
        display: none;
    }

    &[href^="http://"]:after,
    &[href^="https://"]:after {
        content: " (" attr(href) ")";
    }
}
/*}*/

//

.grid_box {
    margin-top: 36pt;
}

.banner_container .grid_box,
.footer_container {
    min-height: 0;
}

.panel-spotlight_heading-container,
.panel_heading-container {
    float: left;
    width: 100%;
}

.panel_heading-container {
    margin: 12pt 0;
}

.product-panel_container {
    img {
        float: left;
        margin-top: 5pt;
    }

    h3 {
        float: left;
        margin-left: 5pt;
    }

    p {
        clear: both;
    }
}

.ui-tabs-panel {
    display: block;
    min-height: 0;
}

.listing-panel_list {
    list-style-type: none;
    padding-left: 15pt;

    img {
        margin-right: 5pt;
    }

    .listing-panel_icon--newspaper {
        display: none;
    }
}

.testimonial-panel {
    p:before, p:after {
        content: '"';
    }

    cite {
        font-style: normal;
    }
}

//

header[role="banner"] {
    &:before {
        content: "www.cambridgeenglish.org";
    }
}

.logo {
    a {
        width: 341px;
        height: 22px;
        background: transparent url(../img/ce-logo.png) no-repeat 0 0;
        display: block;
        overflow: hidden;
        text-indent: -999em;
        direction: ltr;
    }
}

.global-form {
    &:after {
        display: block;
        content: "Thank you for printing this page. Find more at www.cambridgeenglish.org";
        margin-top: 1.5em;
        border-top: 2px solid #333;
        padding: 1.5em 0 0;
        font-weight: bold;
    }
}

fieldset {
    padding: 0;
    border: none;
}

// page-break-before: always;
