﻿@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Helping Mould Child's Future | ODM Public School</title>
    <meta name="description" content="To provide a learning and nourishing environment for children at younger age, ODMPS offers curriculum that stresses strongly on the conceptual learning of the subjects as the skills developed in the early years comes into action.">
    <meta name="keywords" content="Primary academic in odm,Primary academic of odm public school, Primary academic,academic of odm,academic of odm public school" />
    <link rel=" canonical" href="https://www.odmps.org/Academics/Primary" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url(../../Content/banner/v009.jpg) center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>MOULDING CHILDREN THE RIGHT WAY</h1>
                                <p>An age where they are taught the basics of not only academic but also aspects of social behaviour</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Primary." href="/Academics/Primary" class="post post-page current-item">
                            <span property="name">Primary</span>
                        </a><meta property="position" content="2">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div><div class="close"><span class="close">×</span></div>
                </div>
                <ul class="">
                    <li> <a href="/Academics/kids_world">Kids's World</a> </li>
                    <li class="active"> <a href="/Academics/Primary">Primary</a> </li>
                    <li> <a href="/Academics/Secondary">Secondary</a> </li>
                    <li> <a href="/Academics/sr_secondary">Senior Secondary</a> </li>
                    <li> <a href="/Academics/Competitives">Competitives</a> </li>
                </ul>
                <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div><div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Primary</h1>
                        <div class="panel-group" id="custom-collapse-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-0">Overview</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-0" class="panel-collapse in">
                                    <div class="panel-body">
                                        <p>Our primary curriculum stresses strongly on the conceptual learning of the subjects, as here the skills the students developed in the Early Year Programme comes into action.</p>
                                        <p>Each year, as they begin their journey to primary classes from std-I to V they are introduced to a new curriculum in order to provide them with advanced learning. This phase serves as an intermediate phase between the conceptual learning stages to the career building stage.</p>
                                        <p>Everything learned in the primary classes will build the initial ground for the students to work towards their dream. In this crucial phase, every aspect of learning i.e. academics, inculcating values, discipline etc. is closely taken care of.</p>
                                        <p>The development during the primary stage of education empowers the comprehensive abilities enhancing their vision for both personal and academic goals.</p>
                                        <p>Our curriculum is meticulously designed to give students a clear understanding of the topics that have a vital significance throughout their life. We accomplish this through our innovative teaching methods focusing on the application of concepts and creating hands on experience for students, using learning kits and practical methods.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-1">Subjects</a></h4>
                                </div>
                                <div id="custom-collapse-0-1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <h3 class="subtitle">CLASS I - II</h3>
                                        <h3 class="subtitle"></h3>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Sl. No.</th>
                                                    <th>Subject</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>English</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Hindi</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Mathematics</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Odia</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>EVS</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>Computer Learning Program</td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>Art &amp; Craft</td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>Music</td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td>Dance</td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>Games and Yoga</td>
                                                </tr>
                                                <tr>
                                                    <td>11</td>
                                                    <td>Class Activity/Outdoor Yoga</td>
                                                </tr>
                                                <tr>
                                                    <td>12</td>
                                                    <td>Swimming</td>
                                                </tr>
                                                <tr>
                                                    <td>13</td>
                                                    <td>Work Education</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <h3 class="subtitle">CLASS III - V</h3>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Sl. No.</th>
                                                    <th>Subject</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>English</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>Hindi</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>Mathematics</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>Odia</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>General Science</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>Social Science</td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>Computer Learning Program</td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>Art &amp; Craft</td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td>Music</td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>Dance</td>
                                                </tr>
                                                <tr>
                                                    <td>11</td>
                                                    <td>Games and Yoga</td>
                                                </tr>
                                                <tr>
                                                    <td>12</td>
                                                    <td>Class Activity/Outdoor Yoga</td>
                                                </tr>
                                                <tr>
                                                    <td>13</td>
                                                    <td>Swimming</td>
                                                </tr>
                                                <tr>
                                                    <td>14</td>
                                                    <td>Work Education</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-2">Teaching learning strategies</a></h4>
                                </div>
                                <div id="custom-collapse-0-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="">
                                            <li>Our curriculum consists of application based learning methods, all basic concepts are cleared. Each subject be it Maths, Social Science or computers are catered to, with a basic concept of learning by doing.</li>
                                            <li>The school relentlessly strives to uncover the hidden potential in every student and enhanced his capabilities by providing opportunities by way of myriad activities and healthy competition in cultural, literacy and sports front.</li>
                                            <li>To facilitate better learning through “hands on experience”</li>
                                            <li>Child centric approach lays emphasis on discovery method, group learning and project work.</li>
                                            <li>Smart class and Audio-Visual aids are used, assisting the students to understand the nuances of a lesson through fun filled interactive and play way methods.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-3">Valued Based Education</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Education is knowledge imbued with wisdom and ethics which mould the behaviour and personality of the students. The focus on Value Education still remains strong in ODM PUBLIC SCHOOL. The students imbibe the essential qualities of honesty, fairplay. empathy, courage, integrity, compassion, loyalty and courtesy through morning assemblies, celebration of festivals and day to day interaction with the teachers. The effort is to guide the students towards appropriate behaviour and development of a strong character.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-4">Evaluation and Assessment</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>A continuous assessment scheme is followed and examination is held . The student is graded regularly and evaluation is based on:</p>
                                        <ul class="">
                                            <li>Child’s performance and participation in class activities</li>
                                            <li>Home work</li>
                                            <li>Project work</li>
                                            <li>Worksheets</li>
                                            <li>Class Assessment</li>
                                            <li>Class response</li>
                                            <li>Reading and communicative skills</li>
                                            <li>Individual and group behaviour</li>
                                            <li>Periodic Assessments</li>
                                            <li>Half yearly and final Assessment</li>
                                            <li>External Assessments (SOF, Spell Bee, etc.)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">

                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/AYUSH NAYAK.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">AYUSH NAYAK</p><p class="designation">Student, Class III</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                We do fun activities and we’re all really close. Padhi Sir is the ever-hilarious Language teacher but he is also very serious when it comes to our work. Somnath Sir, my math teacher, is really good at what he does. Whenever I think something is hard, he makes it so easy.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div>
                        <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

