﻿@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Learn with the Knowledge of Application | ODM Public School</title>
    <meta name="description" content="At ODM Public School education is evolved with modern-day teaching with the basic book-level exposure and conceptual understanding. ">
    <meta name="keywords" content="Secondary academic in odm,Secondary academic of odm public school, Secondary academic,academic of odm,academic of odm public school" />
    <link rel=" canonical" href="https://www.odmps.org/Academics/Secondary" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Students class room.jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mask">
                                <h1>LEARNING WITH THE KNOWLEDGE OF APPLICATION</h1>
                                <p>The most crucial period in school, that shapes up who you are</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Secondary." href="/Academics/Secondary" class="post post-page current-item">
                            <span property="name">Secondary</span>
                        </a><meta property="position" content="2">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div><div class="close"><span class="close">×</span></div>
                </div>
                <ul class="">
                    <li> <a href="/Academics/kids_world">Kids's World</a> </li>
                    <li> <a href="/Academics/Primary">Primary</a> </li>
                    <li class ="active"> <a href="/Academics/Secondary">Secondary</a> </li>
                    <li> <a href="/Academics/sr_secondary">Senior Secondary</a> </li>
                    <li> <a href="/Academics/Competitives">Competitives</a> </li>
                </ul>
                <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div><div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Secondary</h1>
                        <div class="panel-group" id="custom-collapse-0">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-0">Overview</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-0" class="panel-collapse in">
                                    <div class="panel-body">
                                        <p>At ODM, Secondary education is backed by scientific learning along with the modern-day teaching pedagogy. Our teachers not only belief in providing students basic book-level exposure, we try at making the children think, ask questions like Why and How, and discover the answers themselves. Our teaching pedagogy is all about uplifting practical learning, inquisitiveness and thorough conceptual understanding.</p>
                                        <p>We generally follow a CBSE curriculum for all the classes. The Subjects available for the children vary from Class to Class. Maths, Science, English and Social Studies are compulsory subjects from Class VI-X. Students from Class VI-VIII, have to choose between the four available languages, Odia, Hindi, Sanskrit and French. However, in Class IX-X, they have to choose 1 language out of the two languages they opted in Class VIII. </p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-2">Teaching learning strategies</a></h4>
                                </div>
                                <div id="custom-collapse-0-2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <ul class="">
                                            <li>Our curriculum consists of application based learning methods, all basic concepts are cleared. Each subject be it Maths, Social Science or computers are catered to, with a basic concept of learning by doing.</li>
                                            <li>The school relentlessly strives to uncover the hidden potential in every student and enhanced his capabilities by providing opportunities by way of myriad activities and healthy competition in cultural, literacy and sports front.</li>
                                            <li>To facilitate better learning through “hands on experience”</li>
                                            <li>Child centric approach lays emphasis on discovery method, group learning and project work.</li>
                                            <li>Smart class and Audio-Visual aids are used, assisting the students to understand the nuances of a lesson through fun filled interactive and play way methods.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-3">Examinations and Worksheets</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Students are provided with Worksheets for each and every chapter which they need to practice. These worksheets are carefully devised by our own internal teaching groups and they are updated every where.</p>
                                        <p>These worksheets are self-sufficient for the practice of all the students and if a child practises these sheets thoroughly, then the child will definitely secure good marks.</p>
                                        <p> Continuous evaluation are a big part of ODM’s Evaluation System. In ODM, the following tests are conducted-</p>
                                        <ul class="">
                                            <li>Every Week, A Weekly test is conducted of 40 marks whose marks carry a certain amount of weightage in the annual examination. </li>
                                            <li>Quarterly Tests- These tests are conducted with quarterly portions and are conducted once in three months.</li>
                                            <li>Half-Yearly and Annual- These tests are conducted with half and full syllabus respectively. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-4">Remedial Classes and Competitives</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-4" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>We are focussed for the growth of each and every child in our school. That is why students are subdivided into smaller groups based on the academic capabilities. </p>
                                        <p>Students with weaker performances in academics are provided with Extra-Remedial Classes beyond school hours by our school teachers which will help them to grow more in the subjects they are weak at. </p>
                                        <p>Top-Performing students are put into a separate group, where they are provided with separate guidance to crack competitive exams like Maths Olympiad, Science Olympiad and NTSE.</p>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#custom-collapse-0" href="#custom-collapse-0-5">Mentoring Program</a>
                                    </h4>
                                </div>
                                <div id="custom-collapse-0-5" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>Each student is tagged along to a teacher who is responsible for the performance of the child in the school. </p>
                                        <p>The mentor ensures the child’s study plan back at home is set right or not, the child is motivated enough or not. He also ensures that child has least academic difficulty and all the grievances of the child are taken care of. </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/ASHUTOSH MISHRA.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">ASHUTOSH MISHRA</p><p class="designation">Student, Class IX</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                At ODM, the teachers always believe in you and they make sure you try your hardest on everything you do. This school also has a lot of fun activities and fun field trips. We go on fun and educational field trips
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div>
                        <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

