﻿@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_ReUnionLayoutPage.cshtml";
}
<h3 class="register-heading">SCHOOL RE- UNION 2019</h3>
@*<div class="clearfix" style="margin-bottom:10px;"></div>*@
<div class="row register-form">
    <div class="col-md-6 form-group">
        <input type="text" class="form-control" placeholder="First Name *" value="" id="fname" />
        <span class="text-danger" id="spanfname"></span>
    </div>
    <div class="col-md-6 form-group">
        <input type="text" class="form-control" placeholder="Last Name *" value="" id="lname" />
        <span class="text-danger" id="spanlname"></span>
    </div>
    <div class="col-md-6 form-group">
        <select class="form-control" id="ddlpassout">
            <option value="">Select Passout Year</option>
            @for (int i = 2014; i >= 1995; i--)
            {
                <option value="@i">@i</option>
            }
        </select>
        <span class="text-danger" id="spanddlpassout"></span>
    </div>
    <div class="col-md-6 form-group">
        <select class="form-control" id="rdclass">
            <option value="">Select Class</option>
            <option value="X">Class-X</option>
            <option value="XII">Class-XII</option>
        </select>
        <span class="text-danger" id="spanrdclass"></span>
    </div>
    <div class="col-md-6 form-group">
        <input type="text" class="form-control" placeholder="Parent's Name *" value="" id="pname" />
        <span class="text-danger" id="spanpname"></span>
    </div>
    <div class="col-md-6 form-group">
        <input type="text" class="form-control" placeholder="Current City *" value="" id="city" />
        <span class="text-danger" id="spanpname"></span>
    </div>
    <div class="col-md-6 form-group">
        <input type="text" class="form-control" placeholder="Mobile *" value="" id="mobile" />
        <span class="text-danger" id="spanmobile"></span>
    </div>
    <div class="col-md-6 form-group">
        <input type="text" class="form-control" placeholder="Email *" value="" id="email" />
        <span class="text-danger" id="spanemail"></span>
    </div>

    <div class="col-md-12 text-center">
        @*@if (TempData["ErrorMessage"] != null)
            {*@
        <label class="text-danger" id="lblerror"></label><br />
        @*}*@
        <input type="button" class="btnRegister" id="btnregister" value="Register" />


    </div>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>


<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#mobile').change(function () {
            $.get('/ReUnion/Checkmobile', { mobile: $('#mobile').val() }, function (data) {
                if (data == 1) {
                    $('#spanmobile').html('');
                    $('#btnregister').attr('disabled', false);
                }
                else {
                    $('#spanmobile').html('Mobile Number Already Exists');
                    $('#btnregister').attr('disabled', true);
                }
            })
        })
        $('#btnregister').click(function () {
            $('#divloader').fadeIn();
            if ($('#fname').val() == '') {
                $('#spanfname').html('Enter First Name');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spanfname').html('');
            }
            if ($('#lname').val() == '') {
                $('#spanlname').html('Enter Last Name');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spanlname').html('');
            }
            if ($('#ddlpassout').val() == '') {
                $('#spanddlpassout').html('Select Passout Year');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spanddlpassout').html('');
            }
            if ($('#rdclass').val() == '') {
                $('#spanrdclass').html('Select Class');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spanrdclass').html('');
            }
            if ($('#pname').val() == '') {
                $('#spanpname').html('Enter Parent\'s Name');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spanpname').html('');
            }
            if ($('#city').val() == '') {
                $('#spancity').html('Select School');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spancity').html('');
            }
            if ($('#mobile').val() == '') {
                $('#spanmobile').html('Enter Mobile Number');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spanmobile').html('');
            }
            if ($('#email').val() == '') {
                $('#spanemail').html('Enter Email Id');
                $('#divloader').fadeOut();
                return false;
            }
            else {
                $('#spanemail').html('');
            }


            var online = {
                fname: $('#fname').val(),
                lname: $('#lname').val(),
                pname: $('#pname').val(),
                passoutyear: $('#ddlpassout').val(),
                mobile: $('#mobile').val(),
                email: $('#email').val(),
                city: $('#city').val(),
                classID: $('#rdclass').val()
            };
            $.get('/ReUnion/SaveReunionDetails', online, function (data) {
                $('#divloader').fadeOut();
                if (data == 1) {
                    window.location = '/ReUnion/mobileverification';
                }
                else if (data == 0) {
                    $('#lblerror').html('Some Error Occured. Please try again....');
                }
            })

        })
    })
</script>

