﻿
@{
    ViewBag.Title = "ReUnionList";
    Layout = "~/Views/Shared/_ReunionadminLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Re-Union List</h4>
                    <hr />
                    <form action="ReUnionList" method="get">
                        <div class="row">                           
                            <div class="col-md-3 form-group">
                                <label class="control-label">Class</label>
                                <select class="form-control" name="rdclass">
                                    <option value="all">All</option>
                                    <option value="X">Class-X</option>
                                    <option value="XII">Class-XII</option>
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">Passout Year</label>
                                <select class="form-control" name="ddlpassout">
                                    <option value="all">All</option>
                                    @for (int i = 2014; i >= 1995; i--)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">From Date</label>
                                <input type="date" class="form-control" name="fromdate" />
                                <span class="text-danger">@ViewBag.msg</span>
                            </div>
                            <div class="col-md-3 form-group">
                                <label class="control-label">To Date</label>
                                <input type="date" class="form-control" name="todate" />
                            </div>
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" class="btn btn-success" /> 
                        </div>
                    </form>
                        <div class="clearfix" style="margin-bottom:10px;"></div>
                        <div class="table-responsive">
                            <table class="table table-advance" id="table1">
                                <thead>
                                    <tr>
                                        <th>Sl No</th>
                                        <th>Name</th>
                                        <th>Parent Name</th>
                                        <th>Passout Year</th>
                                        <th>Class</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                        <th>City</th>
                                        <th>Status</th>
                                        <th>Added On</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        if (ViewBag.reunionlist != null)
                                        {
                                            int i = 0;

                                            foreach (var a in ViewBag.reunionlist)
                                            {
                                                <tr>
                                                    <td>@(i = i + 1)</td>
                                                    <td>@(a.F_Name + " " + a.L_Name)</td>
                                                    <td>@a.Parent_Name</td>
                                                    <td>@a.Passout_Year</td>
                                                    <td>@a.Class_Name</td>
                                                    <td>@a.mobile</td>
                                                    <td>@a.email</td>
                                                    <td>@a.city</td>
                                                    <td>@a.status</td>
                                                <td>@(Convert.ToDateTime(a.inserted_on).ToString("dd MMM yyyy"))</td>

                                            </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
</div>
            </div>
        </div>
    </div>
</div>

