/* 18/07/2019 */

ul ul {list-style: disc outside;}
ul { list-style: disc outside; }
ul > ul { list-style-type: circle; }
ul > ul > ul { list-style-type: square; }

.esol-newsPanel .landingPage .article-list-2 > ul {
                border-top: 1px dotted #333333;
                margin: 0 0 1.231em;
}

.esol-newsPanel .landingPage .article-list-2 > ul > li {
                position: relative;
                min-height: 8.002em;
                padding: 1.231em 0 0 8.617em;
                border-bottom: 1px dotted #333333;
                list-style: none outside;
}

.esol-newsPanel .landingPage .article-list-2 > ul > li .summary {
                position: static;
}

.esol-newsPanel .landingPage .article-list-2 > ul > li .circle {
                position: absolute;
                left: 0;
                padding: 0.616em;
                border: solid 2px #999;
                font-weight: bold;
                background-color: #fff;
}

.esol-newsPanel .landingPage .article-list-2 > ul > li .circle .first {
                margin-top: 1.231em;
                font-size: 1em;
}

.esol-newsPanel .landingPage .article-list-2 > ul > li .circle .second {
                font-size: 2em;
                line-height: .616em;
}

.esol-newsPanel .landingPage .news-article h3 + img { width: 50%; }

#footer .body p.text-center {
    margin-bottom: 0.616em;
}

.esol-iWantToPanel .main .body .i-want-to-list li img {
    width: 100%;
}

.esol-iWantToPanel .main .body .i-want-to-list li {
    padding: 0.616em 0 0.616em 1.231em;
}

@media (max-width: 47em) {
    .landingPage label {text-align: left;}
}

/****new Language and Methodology for Teachers courses***/

.btn-gold {
display: inline-block;
padding: 10px 18px 10px 18px;
-ms-border-radius: 6px;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-moz-background-clip: padding;
-webkit-background-clip: padding-box;
background-clip: padding-box;
color: #fff !important;
font-weight: bold;
text-decoration: none;
background-color: #938048;
background-image: none !important;
}

.btn-gold:hover {
	background-color: #746539;
}


/*** YLE****/

body.young-learners {

            background: #669ecd url("../images/esol/bgTest4.png") no-repeat fixed 0 0;

}


body.yle-starters {
            background: #fbb430 url("../images/esol/yle-bkg-yellow.png") no-repeat fixed 0 0;
}

body.yle-movers {
            background: #8d4292 url("../images/esol/yle-bkg-purple.png") no-repeat fixed 0 0;
}

body.yle-flyers {
            background: #b4d570 url("../images/esol/yle-bkg-green.png") no-repeat fixed 0 0;
}

/***for YLE fix to promo images****/

.cp45Content1 div a {
	display: inline;
}

.cp45Content1 div a img {
	height: auto !important;
}

/***UK****/

.landing-page.bright-future-page form li.focused {
	background-color: #42AEFF;
}

.landing-page.bright-future-page form li.error {
	background-color: #FE98BE;
}

.landing-page.bright-future-page form #errorLi {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.landingPageUK {
width: 75.385em;
}

.landingPageUK .yui3-u-1-3 {
	width: 28%;
}

.landingPageUK .yui3-u-2-3 {
	width: 72%;
}

.landingPageUK .box iframe {
width: 694px;
}

.landingPageUK h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.75em;
	font-weight: normal;
	color: #801431;
}

.landingPageUK h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	color: #333;
	background-color: #fff;
	border: none;
	font-weight: normal;
	padding: 0.308em 0.308em 0.308em 0;
	margin-bottom: 0.5em;
}

/*** NAGAP/NAFSA STYLING 02/03/2015 ****/

.landing-page.nagap #col-2 .cae-blue,
.landing-page.nafsa #col-2 .cae-blue{
	color: #008abe;
}

.landing-page.nagap #col-2 li
.landing-page.nafsa #col-2 li {
	padding-bottom: 7px;
}

/*** FULL WIDTH PAGES ****/

.full-width .button-banner { 
	background-color: #EDEDED;
	padding: 15px;
	margin-bottom: 30px;
}	

.full-width .button-banner.blue { 
	background-color: #4f87c6; /* #002B4A */
	color: white;
}		
	

.full-width .button-banner p { 
	margin-bottom: 0;
}

.landing-page .button-banner .right-button a,
.full-width .button-banner .right-button a { 
	display: block !important;
	float: right !important;
	margin-right: 8px;
	padding: 5px;
	background-color: #4f87c6; /* #0073C5 */
	
	color: white;
	text-decoration: none;
	font-weight: bold;
	
}

.teaching-challenges .right-button a { 
	display: block !important;
	float: right !important;
	margin-right: 8px;
	padding: 4px 10px 6px;
	border-radius: 5px;
	border: 1px solid #fff;
	background-color: #4f87c6; /* #0073C5 */
	
	-webkit-box-shadow: 0 0 5px #4f87c6, inset 0 0 15px #33669F;
	-moz-box-shadow: 0 0 5px #4f87c6, inset 0 0 15px #33669F;
	box-shadow: 0 0 5px #4f87c6, inset 0 0 15px #33669F;
	
	color: white;
	text-decoration: none;
	font-weight: bold;
	
	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	transition: background .5s ease;
}

.full-width .button-banner .right-button a:hover,
.teaching-challenges .right-button a:hover { 
	background-color: #8cc63e;
	box-shadow: 0 0 8px #8cc63e, inset 0 0 10px #709F2F;
	text-shadow: 0 0 10px #709f2f;
}

.full-width .five-challenges .challenges-col-1 p {
	margin-bottom: 2em;
	line-height: 31px;
	font-weight: bold;
}

.full-width .five-challenges .right-button a {
	margin-bottom: 0; /* 1.231em */
	margin-left: 1em;
}

.full-width.teaching-challenges .five-challenges {
	clear:both;
}

.full-width.teaching-challenges .five-challenges .challenges-col-1 {
	float:left;
	width:60%;
}

.full-width.teaching-challenges .five-challenges .challenges-col-2 {
	float:right;
	width:36%;
}

.teaching-challenges .artlicle-list { margin-bottom: 30px; }
.teaching-challenges .artlicle-list ul { margin: 0; padding: 0; list-style: none; }
.teaching-challenges .artlicle-list ul li { clear: both; margin-bottom: 0.12em; }
/*.teaching-challenges .artlicle-list .article-item { display: block; float: left; }*/
.teaching-challenges .artlicle-list .article-item + .article-item { margin-left: 1%; }
.teaching-challenges .artlicle-list .article-date { display: block; float: left; padding-top: 0.3em; min-width: 65px; font-style: italic; font-size: 0.82em; color: #6e6e6e; }
.teaching-challenges .artlicle-list .article-date:after { content:": "; }
.teaching-challenges .artlicle-list .article-name { /*color: #4f87c6;*/ }
.teaching-challenges .artlicle-list .blog:before { display: inline; content: " on "; font-size: 0.8em; }
.teaching-challenges .artlicle-list .blog { padding-top: 0.3em; color: #6e6e6e; font-size: 0.82em;  }

/*** TRANSFORMING LANGUAGE EDUCATION *****/

.landingPageTLE{
width: 75.385em;
}

.landingPageTLE .yui3-u-1-3 {
	width: 23.80952%;
}

.landingPageTLE .yui3-u-2-3 {
	width: 76.19048%;
}

.landingPageTLE .box iframe {
width: 694px;
}

.landingPageTLE h1 {
	font-family: Arial, Helvetica, sans-serif;
}

.landingPageTLE h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.75em;
	font-weight: normal;
	color: #00A3A0;
}

.landingPageTLE h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	color: #333;
	background-color: #fff;
	border: none;
	font-weight: normal;
	padding: 0.308em 0.308em 0.308em 0;
	margin-bottom: 0.5em;
}


.landingPageTLE .ui-accordion .ui-accordion-header {
	font-weight: normal;
	font-size: 1em;
	border: none;
}

.landingPageTLE hr {
	height: 1px;
	border-top: 1px solid #9A8A57;
}

.event-type {
	color: #5E4E1F;
	font-weight: bold;
	font-size: 1.2em;
}

.event-presentations {
    font-size: 1.1em;
    font-weight: bold;
	color: #222222;
}

.event-speaker {
    font-weight: bold;
    color: #555555;
}

.event-special {
	color: #005D7C;
}

.presenter-img {
	border: 1px solid #9A8A57;
}

/**** INTERNATIONAL ADMISSIONS EVENT ******/

.ce-international-admissions .landingPage header {
background-color: #801431;
}

.ce-international-admissions.twenty-fifteen .landingPage header {
background-color: #004c76; /* 3399cc */
}

.ce-international-admissions.twenty-sixteen .landingPage header {
background-color: #00A5A1;
}

.ce-international-admissions.twenty-fifteen .box header h1 {
	margin-bottom: 0;
}

.ce-international-admissions.twenty-fifteen .box header h2 {
/*font-size: 1.846em;
line-height: 1.231em;
margin-bottom: 0.66685em;*/
margin-bottom: 1.167em;
font-size: 1.286em;
font-weight: 300;
line-height: 1.5em;
}


/**** CAMBRIDGE ENGLISH SCALE SCORE CONVERTER TOOL *****/

.landingPageCESSC .mainContentsContainer {
	overflow: visible !important;
	overflow-x: visible !important;
}


/***WEBINARS***/

.webinarsH2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #75683B;
}
	
/* Understanding CAE results*/
	.understanding-cae-results table a {
		word-break: normal;
	}

/* Removing the date from videos */
/* 
Author: Jonathan Williams 
Date: 27/11/2013
approver: ACS
*/
	p.video-date {
	   display: none;
	}
	
/*TYE*/
.tye div.paragraph {
		line-height: 60px;
	}
.questions-container{
		padding:0 8px;
	}

	.questions-container p{
		line-height: inherit;
	}

	.tye .progress, .testYourEnglish .progress{
		width: 100%;
		display: block;
		height: 20px;
		background: lightgrey;
		bottom: 0;
		position:absolute;
	}

	.tye .progress .bar, .testYourEnglish .progress .bar{
		width: 1%;
		display: block;
		height: 100%;
		background: grey;
	}

	.tye .error {
		color: red;
		display: none;
	}

	.questions-container .audio{
		position: relative;
	}

	.question-content{
		position: relative;
		/*float: left;*/
	}

	
.testYourEnglish div.paragraph, .testYourEnglish div.paragraph p {
    line-height: 60px;
	font-size: 1.1em;
}

.testYourEnglish.answers div.paragraph , .testYourEnglish.answers div.paragraph p{
    line-height: 28px;
}

.testYourEnglish .icnFalse {
    background: url('/Images/Esol/tye-cross.png') no-repeat right;
    padding-right: 19px;
}

.testYourEnglish .icnTrue {
    background: url('/Images/Esol/tye-tick.png') no-repeat right;
    padding-right: 19px;
}

.testYourEnglish select {
    display: none;
}

.testYourEnglish .question-number {
    padding: 2px 25px 0 25px;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    border-top-right-radius: .3em;
    border-top-left-radius: .3em;
}

.testYourEnglish .question-number span {
    font-weight: bold;
    line-height: 23px;
    font-size: 15px;
}

.testYourEnglish .question-number:hover {
    background: #d4d982;
    cursor: pointer;
}

.testYourEnglish .question-number:hover {
    background: none;
    cursor: default;
}

.testYourEnglish .right-answer {
    background: url('/Images/Esol/tye-tick.png') no-repeat right;
    padding-right: 19px;
    font-size: 1.1em;
    font-weight: bold;
    color: green;
    margin-right: 5px;
}

.testYourEnglish .wrong-answer {
    font-size: 1.1em;
    font-weight: bold;
    color: red;
    background: url('/Images/Esol/tye-cross.png') no-repeat right;
    padding-right: 19px;
    margin-right: 5px;
}

.testYourEnglish .example-answer{
    font-size: 1.1em;
    font-weight: bold;	
    margin:0 5px;
}

.testYourEnglish .example-tag{
	display:none;
}

.testYourEnglish .question-number.selected, .testYourEnglish .passage-question.example .question-number {
    background: #d4d982;
}

.testYourEnglish .selected-example{
	font-weight: bold;
}

.testYourEnglish span.example .selected-example:hover, .testYourEnglish span.example li.close:hover{
	cursor: pointer;
	text-decoration: underline;
}

.testYourEnglish span.example li:hover{
	cursor:default;
	text-decoration: none;
}

.testYourEnglish .passage-question {
    position: relative;
}

.testYourEnglish .passage-question ul {
    padding: 3px;
    margin: 0;
    background: #d4d982;
    position: absolute;
    border-radius: .3em;
    top: -38px;
    line-height: 25px;
    display: none;
    width: 500px;
	z-index: 2;
}

.testYourEnglish .passage-question span.is-example {
    padding: 4px 10px 3px 4px;
    margin: 0;
    background: #ebedc7;
    position: absolute;
    border-radius: .3em;
    top: -38px;
    line-height: 25px;
    display: none;
    width: auto;
    z-index: 1;
}
.testYourEnglish li {
    list-style-type: none;
}

.testYourEnglish li label {
    font-weight: normal;
}

.testYourEnglish li p {
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 5px;
}

.testYourEnglish .passage-question li {
    display: inline-block;
    padding: 0 7px;
}

.testYourEnglish .passage-question li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.testYourEnglish .passage-question li.close {
    background: url('/Images/Esol/delete-icon.png') no-repeat 5px;
    width: 16px;
}

.testYourEnglish .passage-question li.close:hover {
    text-decoration: none;
}

.testYourEnglish .error {
    color: red;
    display: none;
}

.testYourEnglish.answers .question-number {
    padding: 0;
    border: 0;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 5px;
}

.testYourEnglish.answers label.correct,.testYourEnglish.answers label.incorrect {
    font-weight: bold;
    font-size: 1.1em;
}

.testYourEnglish.answers label.correct {
    color: red;
}

.testYourEnglish.answers label.incorrect {
    color: green;
}

.testYourEnglish .tye-intro {
    border: 1px solid #000;
    padding: 5px;
    margin-top: 20px;
}

/*
		Standard With Images
*/

	.standard-with-images ul{
		margin: 0;
		padding: 0;
	}

	.standard-with-images ul li{
		display: inline-block;
		list-style-type: none;
		margin: 10px 0px 10px 16px;
	}
	.standard-with-images ul li:first-child{
		margin-left: 0;
	}

/*
	.standard-with-images ul li:last-child{
		margin-right:0;
	}
*/
	.standard-with-images ul li img{
		width : 110px;
		height : 110px;
	}

	.standard-with-images ul li img{
		padding: 4px 4px 25px 4px;
		background: grey url('/Images/Esol/checkbox.png') no-repeat 95px 118px;
		border:0;
	}

	.standard-with-images ul.answer li img{
		background-image:none;
	}

	.standard-with-images ul li.selected img{
		background-color: orange;
		background-image: url('/Images/Esol/checkbox-yes.png');
	}
	
	.standard-with-images ul li.yes img{
		background-color: green;
		background-image: url('/Images/Esol/checkbox-yes.png');
	}
	
	.standard-with-images ul li.no img{
		background-color: red;
		background-image: url('/Images/Esol/checkbox-no.png');
	}
	.standard-with-images ul li a{	
		display: block;
	}
/*
	.standard-with-images .audio{
		position: relative;
	}
*/
/*
		Multiple Matching
*/
	.multiple-matching {
		position: relative;
	}
	.multiple-matching ul, .multiple-matching ol{
		padding-left: 23px;
		margin-left: 0px;
	}

	.multiple-matching ul li{
		display: inline-block;
		list-style-type: none;
	}	
	
	.multiple-matching ol li{
		margin-bottom: 15px;
		list-style-type: decimal;
	}

	.multiple-matching ul li img, .multiple-matching ol li img{
		width: 25px;
	}

	.multiple-matching ul li .who-picture, .multiple-matching ol li .who-picture{
		padding-right: 5px;
	
		display: inline-block;
		vertical-align: top;
	}

	.multiple-matching .who{
		width: 75px;
		vertical-align: top;
		display: inline-block;
		font-weight: 600;
	}

	.multiple-matching .q, .multiple-matching .a{
		width: 250px;
		display: inline-block;
		vertical-align: top;
	}

	.multiple-matching .q{
		

	}

	.multiple-matching .a{
		border: white solid 1px;
		border-bottom: grey solid 1px;
		height: auto;
		min-height: 25px;
	}

	.multiple-matching .a.state-active{
		border: #E8BE48 solid 1px;
		background: #E8BE48;
	}
	.multiple-matching .a.state-hover{
		border: #E8BE48 solid 1px;
		background: white;
	}
	.multiple-matching ul li div, .multiple-matching ol li div{
		margin-bottom: 10px;
		width: 100%;
		position: relative;
	}

	.multiple-matching ul li div:last-child, .multiple-matching ol li div:last-child{
		margin-bottom: 0;
	}

	.multiple-matching .questions{
		position: relative;
	}

	.multiple-matching .questions, .multiple-matching .questions li{
		width:100%;
	
		margin-bottom: 15px;
}
		
	.multiple-matching .questions h2{
		margin-left: -23px;
	}

	.multiple-matching .questions .a.yes{
		color:green;
		background: transparent url('/Images/Esol/tye-tick.png') no-repeat top right;
		padding-right: 20px;
		font-weight: 600;
		width:230px;
		border: 0;
		margin-right: 20px;

	}

	.multiple-matching .questions .a.no{
		color:red;
		background: transparent url('/Images/Esol/tye-cross.png') no-repeat top right;
		padding-right: 20px;
		font-weight: 600;
		width:200px;
		border: 0;
	}

	.multiple-matching .answers{
		display:none;
		border: lightgrey solid 2px;
		padding: 0 4px;
		position: absolute;
		right:8px;
	}

	.multiple-matching .answers h2{
		margin-top: 5px;
	}

	.multiple-matching .answers ol li, .label-drag-and-drop .answers ul li{
		list-style-type:none;
		width:250px;	
		min-height: 25px;
		border: grey solid 1px;
		background: #E8BE48;
	}
	.multiple-matching .answers ol li.dragging.dropped, .multiple-matching .answers ol li.ui-draggable-dragging, .multiple-matching .answers ol li.dragging.example, .multiple-matching .answers ol li.draggable.in-animation{
		border: #E8BE48 solid 1px;
	}

	.multiple-matching .answers ol {
	    padding-left: 0;
	}

	.multiple-matching .answers span {
	    /*background: #E8BE48;*/
	    color: black;
	    display: block;
	    padding: 3px;
	    /*border: lightgrey solid 1px;*/
	    text-decoration: none;
	}

/*
		Label Drag and Drop
*/
	.label-drag-and-drop {
		position: relative;
	}

	.label-drag-and-drop .questions{
		/*float: left;*/
		position: relative;
	}

	.label-drag-and-drop .questions ul{
		padding:0;
		margin:0;
		display: block;
	
		position: relative;
}

	.label-drag-and-drop .questions ul li{
		list-style-type:none;
		display: inline-block;
		width: 470px;
		height: 170px;
		/*float: left;*/
		margin-bottom: 15px;
		position: relative;
		/*left:0;*/
	}

	.label-drag-and-drop .questions ul{
		/*float: left;*/
	}

	.label-drag-and-drop .questions ul li:nth-child(even),
	.label-drag-and-drop .questions ul li.even,
	.label-drag-and-drop .questions ul li:nth-child(even) .drop,
	.label-drag-and-drop .questions ul li.even .drop{
		/*text-align: right; */
		right: 0px;
	}

	.label-drag-and-drop .questions ul li .drop{
		border:white solid 1px;

		display: block;
		width: 168px;
		height: 168px;
		position: absolute;
}

	.label-drag-and-drop .answers {
		position: absolute;
	}

	.label-drag-and-drop .answers ul{
		clear: both;
		padding: 0;
	}

	.label-drag-and-drop .answers ul li{
		list-style-type:none;
		width:168px;
		min-height: 25px;
		border: grey solid 1px;
		background: #E8BE48;
		text-align: center;
		margin-bottom: 10px;
	}

	.label-drag-and-drop .answers a, .label-drag-and-drop .answers span  {
	    /*background: #E8BE48;*/
	    color: black;
	    display: block;
	    padding: 3px;
	    /*border: lightgrey solid 1px;*/
	    text-decoration: none;
	    vertical-align: middle;
	}

	.label-drag-and-drop ul li .drop.state-active{
		border: #E8BE48 solid 1px;
		background: #E8BE48;
	}

	.label-drag-and-drop ul li .drop.state-hover{
		border: #E8BE48 solid 1px;
		background: white;
	}
	.label-drag-and-drop ul li img{
		width:168px;
	}

	.label-drag-and-drop ul li.dragging.dropped, .label-drag-and-drop ul li.ui-draggable-dragging, .label-drag-and-drop ul li.dragging.example, .label-drag-and-drop ul li.draggable.in-animation{
		border: #E8BE48 solid 1px;
	}

	.label-drag-and-drop ul li.dropped{
		border: white solid 1px;
	}

	.label-drag-and-drop .questions .drop .answer-wrapper{
		display: block;
		position: absolute;
		bottom: 0;
	}

	.label-drag-and-drop .questions .drop .yes{
		color:green;
		background: white url('/Images/Esol/tye-tick.png') no-repeat 148px 4px;
		background: rgba(255, 255, 255, 0.8) url('/Images/Esol/tye-tick.png') no-repeat 148px 4px;
		padding:3px 20px 3px 3px;
		font-weight: 600;
		width:160px;
		border: 0;
		/* margin-right: 20px; */
		width: 148px;

		/*min-height: 30px;*/
		/* padding: 3px; */
	
		display: block;
}

	.label-drag-and-drop .questions .drop .no{
		color:red;
		background: white url('/Images/Esol/tye-cross.png') no-repeat 148px 4px;
		background: rgba(255, 255, 255, 0.8) url('/Images/Esol/tye-cross.png') no-repeat 148px 4px;
		padding:3px 20px 3px 3px;
		font-weight: 600;
		width: 148px;
		/*min-height: 30px;*/
		border: 0;
	
		display: block;
}

.dragging-active{
	cursor: pointer;
	opacity: 1;
}

.dragging-inactive{
	opacity: .7;
}	

/* Test your English - YLE Test - Fix image widths on first page in IE8 only. Under instruction by Dan Sanders */
/* Author: Jonathan Williams */
/* Date: 25/06/2014 */
.lte8 .standard-with-images ul li, 
.lte8 .standard-with-images ul li a { display: inline; }
.lte8 .standard-with-images ul li img { margin-bottom: 1.231em; }


/* Test your English - YLE Test - Audio text is now part of the content */
/* Author: Jonathan Williams */
.audio-information{
	display: none;
}

/* Test your English - YLE Test - Results pages */
/* Author: Jonathan Williams */

/* The monkey promo */
.tye-young-learners .cp45Content2 {
	padding: 0;
	border-top: transparent;
	background-color: transparent;
}

.tye-young-learners .well-done {
	color: #0073c5;
	border-bottom: none;
	border-top: none;
	background-color: transparent;
	font-size: 2em;
	margin-bottom: 0.25em;
	padding-left: 0em;
}

.tye-young-learners span.score {
	color: #0073c5;
}


/* Test your English - YLE Test - Show link to mobile version of YLE test on TyE landing page using CSS media queries */
/* Author: Jonathan Williams */
/* Date: 25/06/2014 */
.mobile-link {display: none;}

@media screen and (max-width: 734px){
	.desktop-link {display: none;}
	.mobile-link {display: inline;}
	.landing-page.teaching-challenges .world-experts img { display: block; float: none !important; margin-right: auto; margin-bottom: 1em; margin-left: auto; width: auto !important; height: auto !important; max-width: 345px; }
	.full-width.teaching-challenges .five-challenges .challenges-col-1,
	.full-width.teaching-challenges .five-challenges .challenges-col-2 {float:none;width:auto;}
}



@media screen and (min-width: 670px){
	.label-drag-and-drop .questions ul li {
		width: 302px;
	}
}

@media screen and (min-width: 880px){
	.label-drag-and-drop .questions ul li {
		width: 400px;
	}
}

@media screen and (min-width: 1024px){
	.label-drag-and-drop .questions ul li {
		width: 470px;
	}
}

/* Additional styling for table borders */
table.no-borders tbody tr td {
	border: none;
	background-color: #fff;
}

/* Additional styling for Newsletter promo button to add space at bottom */
/* Date: 02/07/2014 */
div.subscribe-button-inner {
    margin-bottom: .616em !important;
}

/* Issue with bullet points with images */
/* Date: 02/07/2014 */
.list-float-fix {
overflow: hidden;
margin-left: 0;
padding-left: 1.847em;
}

/* Deleted by DS 05/06/2015
.mainContentsContainer { overflow-x: auto !important; }
*/

.bright-future-page .bg--image { 
	/*background-color: red;*/
	background-image: url(/images/esol/background-illustrations.png);
	background-position: 52% 0;
	background-repeat: no-repeat;
	}
	
.bright-future-page .button-banner { 
	background-color: #EDEDED;
	padding: 15px;
	margin-bottom: 30px;
	}	

.bright-future-page .button-banner.blue { 
	background-color: #002B4A;
	color: white;
	}		
	
	
.bright-future-page .button-banner p { 
	margin-bottom: 0;
	}

.bright-future-page .button-banner .right-button {
	float: right; /* DP 130415 */
}

.bright-future-page .button-banner .right-button a { 
	display: block;
	background-color: #0073C5;
	margin: 0 0 5px 5px;
	padding: 5px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	}
	
	
.bright-future-page .four-column-teaser p {
	width: 190px;
	margin-right: 10px;
	float: left;
	background-color: #EDEDED;
	padding: 20px;
	min-height: 324px;
	}
	
.bright-future-page .four-column-teaser.tall p {
	min-height: 360px;
	}	
	
.bright-future-page .four-column-teaser p img {
	display:block;
	margin:auto;
	}

.bright-future-page .cm-form-div {
	background-color: #002B4A;
	color: white;
	padding: 20px;
	}

.bright-future-page .center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
	}	

.bright-future-page .cm-form-div select {
	width: 250px
	}
	
/*.bright-future-page .four-column-teaser p ( background-color: #EDEDED; }
.bright-future-page .four-column-teaser p img ( display:block; margin:auto; }*/


.certificates-linkedin { }
.certificates-linkedin .reasons-wrapper .reasons-img { display:block;width:400px;height:auto; }
.certificates-linkedin .reasons-wrapper .reasons .reason-heading { margin-top:0;margin-bottom:0.63em;-webkit-margin-before:0em;-webkit-margin-after:0em;-webkit-margin-start:0px;-webkit-margin-end:0px;line-height:1.231em;color:#333;font-size:1.385em;font: 'Open Sans','arial','sans-serif';font-weight:600; }

.certificates-linkedin .cola { float:left;margin-left:20px;width:400px; }
.certificates-linkedin .colb { float:right;width:auto; }
.certificates-linkedin .cola h3,
.certificates-linkedin .colb h3 { padding:0;border-top:none;border-bottom:none;background:transparent;font-style:italic; }
.certificates-linkedin h4 { clear:both;/*margin-top:30px;*/ }
.certificates-linkedin .buttons { clear:both;height:35px; }
.certificates-linkedin .buttons a { -webkit-transition: background .5s ease;-moz-transition: background .5s ease;transition: background .5s ease; }
.certificates-linkedin .buttons a.linkedin-add-to-profile { display:block;float:left;margin:0;padding:0;width:153px;height:35px; }
.certificates-linkedin .buttons a.find-out-more { display:block;float:left;margin:0;margin-left:5px;padding:4px 10px 6px;border-radius:4px;background-color:#333;line-height:25px;text-decoration:none;color:#fff; }
.certificates-linkedin .buttons a.find-out-more:hover { background:#007f86;-webkit-box-shadow:0 0 3px #007f86;-moz-box-shadow:0 0 3px #007f86;box-shadow:0 0 3px #007f86; }

.certificates-linkedin .buttons a.find-out-more.ket:hover { background:#408F9C;-webkit-box-shadow:0 0 3px #408F9C;-moz-box-shadow:0 0 3px #408F9C;box-shadow:0 0 3px #408F9C; }
.certificates-linkedin .buttons a.find-out-more.pet:hover { background:#BB383E;-webkit-box-shadow:0 0 3px #BB383E;-moz-box-shadow:0 0 3px #BB383E;box-shadow:0 0 3px #BB383E; }
.certificates-linkedin .buttons a.find-out-more.fce:hover { background:#90B126;-webkit-box-shadow:0 0 3px #90B126;-moz-box-shadow:0 0 3px #90B126;box-shadow:0 0 3px #90B126; }
.certificates-linkedin .buttons a.find-out-more.cae:hover { background:#378BBA;-webkit-box-shadow:0 0 3px #378BBA;-moz-box-shadow:0 0 3px #378BBA;box-shadow:0 0 3px #378BBA; }
.certificates-linkedin .buttons a.find-out-more.cpe:hover { background:#243378;-webkit-box-shadow:0 0 3px #243378;-moz-box-shadow:0 0 3px #243378;box-shadow:0 0 3px #243378; }
.certificates-linkedin .buttons a.find-out-more.celta:hover { background:#45A5D7;-webkit-box-shadow:0 0 3px #45A5D7;-moz-box-shadow:0 0 3px #45A5D7;box-shadow:0 0 3px #45A5D7; }
.certificates-linkedin .buttons a.find-out-more.delta:hover { background:#CB3E73;-webkit-box-shadow:0 0 3px #CB3E73;-moz-box-shadow:0 0 3px #CB3E73;box-shadow:0 0 3px #CB3E73; }
.certificates-linkedin .buttons a.find-out-more.tkt:hover { background:#00B296;-webkit-box-shadow:0 0 3px #00B296;-moz-box-shadow:0 0 3px #00B296;box-shadow:0 0 3px #00B296; }
.certificates-linkedin .buttons a.find-out-more.icelt:hover { background:#3EC1CF;-webkit-box-shadow:0 0 3px #3EC1CF;-moz-box-shadow:0 0 3px #3EC1CF;box-shadow:0 0 3px #3EC1CF; }

.certificates-linkedin .buttons a.find-out-more.becpreliminary:hover { background:#B72837;-webkit-box-shadow:0 0 3px #B72837;-moz-box-shadow:0 0 3px #B72837;box-shadow:0 0 3px #B72837; }
.certificates-linkedin .buttons a.find-out-more.becvantage:hover { background:#B72837;-webkit-box-shadow:0 0 3px #B72837;-moz-box-shadow:0 0 3px #B72837;box-shadow:0 0 3px #B72837; }
.certificates-linkedin .buttons a.find-out-more.bechigher:hover { background:#B72837;-webkit-box-shadow:0 0 3px #B72837;-moz-box-shadow:0 0 3px #B72837;box-shadow:0 0 3px #B72837; }
.certificates-linkedin .buttons a.find-out-more.bulats:hover { background:#003399;-webkit-box-shadow:0 0 3px #003399;-moz-box-shadow:0 0 3px #003399;box-shadow:0 0 3px #003399; }

.bulats-buttons { width: 180px; max-width: 100%; }
.bulats-buttons .buttons a.find-out-more { padding-right: 0; padding-left: 0; width: 100%; text-align: center; }

@media only screen {
	.study-abroad blockquote,
	.ce-testimonial blockquote,
	.has-testimonial blockquote {
		display: block;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 40px;
		-webkit-margin-end: 40px;
		margin-right: 1em;
		margin-left: 1em;
	}
	.study-abroad blockquote p,
	.ce-testimonial blockquote p,
	.has-testimonial blockquote p {
		margin-bottom: 1.231em;
		-webkit-margin-before: 1em;
		-webkit-margin-after: 1em;
		-webkit-margin-start: 0px;
		-webkit-margin-end: 0px;
	}
	.study-abroad blockquote>p:first-child,
	.ce-testimonial blockquote>p:first-child,
	.has-testimonial blockquote>p:first-child {
		position: relative;
		padding: 0 .5em;
		font-weight: 600;
		font-style: italic;
		font-size: 1.286em;
	}
	.study-abroad blockquote>p:first-child:before,
	.study-abroad blockquote>p:first-child:after,
	.ce-testimonial blockquote>p:first-child:before,
	.ce-testimonial blockquote>p:first-child:after,
	.has-testimonial blockquote>p:first-child:before,
	.has-testimonial blockquote>p:first-child:after {
		position: absolute;
		font-size: 1.286em;
		line-height: .75em;
		color: #007f86;
	}
	.study-abroad blockquote>p:first-child:before,
	.ce-testimonial blockquote>p:first-child:before,
	.has-testimonial blockquote>p:first-child:before {
		top: 0;
		left: 0;
		content: "\2018";
	}
	.study-abroad blockquote>p:first-child:after,
	.ce-testimonial blockquote>p:first-child:after,
	.has-testimonial blockquote>p:first-child:after {
		content: "\2019";
	}
	.study-abroad cite,
	.ce-testimonial cite,
	.has-testimonial cite {
		font-style: italic;
		font-weight: inherit;
	}
}

@media screen and (max-width: 480px){
	.certificates-linkedin .reasons-wrapper .reasons-img { width:auto; }
}

@media screen and (min-width: 481px){
	.certificates-linkedin .cola,.certificates-linkedin .colb { margin-left:1%;width:47.5%; }
}

@media screen and (max-width: 734px){
	.certificates-linkedin .cola,.certificates-linkedin .colb { float:none;margin-left:0;width:auto; }
	.certificates-linkedin .cola { margin-bottom:1.231em; }
}

@media screen and (min-width: 735px){
	.certificates-linkedin .cola,.certificates-linkedin .colb { margin-left:1%;width:47.5%; }
	.study-abroad .testimonial .img-holder,
	.ce-testimonial .img-holder,
	.has-testimonial .img-holder { float:right; padding-left: 1.4em; }
}

@media screen and (max-width: 1020px){ /* 734 */
	.certificates-linkedin .reasons-wrapper .reasons-img { margin-right: auto; margin-left: auto; }
}

@media screen and (min-width: 1021px){ /* 735 */
	.certificates-linkedin .reasons-wrapper { clear:both;margin-bottom:1.231em; }
	.certificates-linkedin .reasons-wrapper .reasons-img { float:left;margin-right:20px; }
	.certificates-linkedin .reasons-wrapper .reasons { float:right;width:auto;max-width:540px; }
	.certificates-linkedin .cola { margin-left:0;width:400px; }
	.certificates-linkedin .colb { margin-left:0;width:540px; }
}

.virtually-anywhere .episodes .row { clear:both;margin-bottom: 1.231em; }
.virtually-anywhere .episodes .row .link { position:relative;display:block;width:49%;float:left; }
.virtually-anywhere .episodes .row .link + .link { float:right; }
.virtually-anywhere .episodes .row .link img {   margin-bottom:0;width:100%;/*min-width:237px;*/max-width:470px;height:auto;}
.virtually-anywhere p label { display:inline; }
.virtually-anywhere .wufoo label.desc, 
.virtually-anywhere .wufoo legend.desc,
.virtually-anywhere .wufoo input.text, 
.virtually-anywhere .wufoo textarea.textarea, 
.virtually-anywhere .wufoo input.file { font-family: "Open Sans","arial","sans-serif" !important; }
.virtually-anywhere .wufoo label.desc, 
.virtually-anywhere .wufoo legend.desc { font-size: 100% !important; }

@media screen and (max-width: 481px){
	.virtually-anywhere .episodes { margin-bottom: 1.231em; }
	.virtually-anywhere .episodes .row { margin-bottom: 0; }
	.virtually-anywhere .episodes .row .link { width:100%;float:none;}
	.virtually-anywhere .episodes .row .link img { margin-bottom:2.231em; }
}

.list-column { width: 100%; }
.list-column.left,
.list-column.right { float: none; }

@media screen and (min-width: 735px){
	.list-column { width: 48%; }
	.list-column.left { float: left; }
	.list-column.right { float: right; }
}

@media screen and (max-width: 734px){
	.list-column.left ul { margin-bottom: 0; }
}



/* Footer link defect temporary fix 08/09/2015 */

.footer_container__list-item .link--external.header-tray_link { display: inline; }

.english-fc .bg--image {
	background-image: url(/images/esol/background-illustration-shirts.png);
	background-position: 52% 0;
	background-repeat: no-repeat;
}

@media screen and (max-width: 734px){
	.english-fc .english-fc-col-a,
	.english-fc .english-fc-col-b { float:none;width:100%; }
}

@media screen and (min-width: 735px){
	.english-fc .english-fc-wrap { clear:both; }
	.english-fc .english-fc-col-a { float:right;width:55%; }
	.english-fc .english-fc-col-b { float:left;width:43%; }
	.english-fc .english-fc-col-b .main-img { margin-right:5%;width:97%;max-width:407px;height:auto; }
	.english-fc .english-fc-col-b a .store-btn { width: 47%; height: auto; margin-bottom: 12px; }
	.english-fc .english-fc-col-b a + a { margin-left: 3%;}
}



	
	
.tye-row { margin-bottom: 20px; width:50%; float:left; }
	.tye-row:after { display: block; clear: both; content:" "; }
	.left { float: left; }
	.right { float: right; }
	.cehide { position: absolute; z-index: -1; top: -999999999px; left: -999999999px; width: auto; height: auto; } 
	
	
	.tye-button { display: block; position: relative; padding: 10px 4px 10px 8px; width: 213px; height: 55px; color: #fff; text-decoration: none; background-repeat: no-repeat !important; background-position: top right; -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s; float:left;  margin-left:2%;}
	
	.tye-button h2 { margin: 0; font-weight: bold; line-height: 18px; letter-spacing: -0.02em; font-size: 18px;  }
	.tye-button p { margin: 10px 0 0 0; font-weight: 500; line-height: 10px; letter-spacing: -0.04em; font-size: 9px; }
	.tye-button .cehide { position: absolute; z-index: -1; top: -999999999px; left: -999999999px; width: auto; height: auto; }
	.tye-button.tye-general-english { background: no-repeat bottom right url(/Images/icon-tye-general-english.png) #014C76; margin-left:0; }
	.tye-button.tye-general-english:hover { background: no-repeat bottom right url(/Images/icon-tye-general-english.png) #065D8E; }
	.tye-button.tye-for-schools { background: no-repeat bottom right url(/Images/icon-tye-for-schools.png) #C91F66; }
	.tye-button.tye-for-schools:hover { background: no-repeat bottom right url(/Images/icon-tye-for-schools.png) #E02B76; }
	.tye-button.tye-business-english { background: no-repeat bottom right url(/Images/icon-tye-business-english.png) #00A5A1; }
	.tye-button.tye-business-english:hover { background: no-repeat bottom right url(/Images/icon-tye-business-english.png) #09C5C1; }
	.tye-button.tye-young-learners { background: no-repeat bottom right url(/Images/icon-tye-young-learners.png)  #009FD9; }
	.tye-button.tye-young-learners:hover { background: no-repeat bottom right url(/Images/icon-tye-young-learners.png) #33C1F5; }
	
	html[lang='fr-FR'] .tye-button { height: 95px; }
	html[lang='pt-BR'] .tye-button { height: 70px; }
	html[lang='pl-PL'] .tye-button { height: 65px; }
	html[lang='el-GR'] .tye-button { height: 65px; }
	html[lang='es-MX'] .tye-button { height: 65px; }
	
	@media only screen and (max-width: 1015px){
		
		.wrapper{ width:94%; padding:0;}
		 .tye-button {width:45%; float:left; padding:2.5% 2%; margin-bottom:1%; margin-left: 0;}
	
		 .tye-button.tye-general-english, .tye-button.tye-business-english  { margin-right:1%;}
	}
	
	
	@media only screen and (max-width: 480px){
		
		.wrapper{ width:94%; padding:0;}
		 .tye-row {margin-bottom:0px;}
		 .tye-button {width:96%; float:left; padding:2.5% 2%;     margin-bottom: 10px; margin-left: 0;}
		
	}


.celta-campaign .btn span, .btn input { color: #FFF; }
.celta-campaign .btn { background-color: rgb(0, 179, 150); }
.celta-campaign .btn span { border-color: rgb(0, 179, 150); }


.celta-campaign .bob span, .bob input { color: #000; }
.celta-campaign .bob { background-color: #FFFFFF; }
.celta-campaign .bob span { border-color: #636363; }

.celta-campaign.cpe .subHeader { background-color: rgb(0, 179, 150); }


/*****************
*****************
CEREGO
******************
***********/

.cerego .subHeader { display: none; }

.cerego .strapline  {
    padding-bottom: 0;
    border-bottom: none;
    font-size: 1.714em;
    color: #333;
}

.cerego .breadcrumbs { display: none; }

.cerego .hero {
    text-align: center;
}

.cerego .hero h1 {
    font-size: 2.3em;
    margin-bottom: 5px;
}

.cerego .hero h2 {
    font-size: 1.4em;
    
}

.cerego .device {
    text-transform: uppercase;
    font-size: 1.2em;
}

.cerego .price {
    font-weight: bold;
    font-size: 1.15em;
    
}

.cerego .bulats li {
    display: list-item;
    margin: auto;
    text-transform: none;
    font-size: inherit;
    text-align: left;
}


.cerego li {
    display: inline;
    margin: 0 7px;
    text-transform: uppercase;
    font-size: 1.12em;
}


.cerego span {
font-size: 1.2em;
}

.cerego .btn {
    background-color: #007f86;
    border: none;
    border-radius: 3px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px 2em 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    vertical-align: top;  
}

.cerego .btn span {
    background: none;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    display: block;
    line-height: 1.75;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 1.3em;
}


.cerego .lead {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 30px 0 30px;
}

.cerego .benefits {
    padding: 0 10px 0 10px;
    text-align: center;
    font-size: 1.12em;
}

.cerego .benefits h2 {
    font-size: 1.8em;
    margin: 0;
}

.cerego .benefits h2 + p {
    font-size: 1.2em;
}

.cerego .benefits img {
    border: 1px solid #808080;
}

.cerego .benefits .yui3-g {
    padding-top: 15px;
}

/*.cerego .benefits img {
    max-width: 40%;
}*/


.cerego .why-cerego {
    margin: 15px 30px 15px 30px;
    font-size: 1.12em;
    line-height: 1.6em;
    text-align: center;
}

.cerego .banner {
    padding: 50px 30px 50px 30px;
    margin: 20px 0 40px 0;
    text-align: center;
    background-color: #F7941D;
}

.cerego .banner p {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    color: #fff;
}

.cerego .banner p a {
    color: #fff;
}

.cerego .testimonial {
    padding: 0 30px;
}

.cerego .testimonial p {
    font-size: 1.3em;
}

.cerego .testimonial footer {
    font-size: 1em;
    color: #555;
}

/*------------------------------------------------------------------------------------
  Mobile and up
------------------------------------------------------------------------------------*/
@media only screen {
	.bulats-vocab .hero-container {
		padding-bottom: 40px;
	}
	.bulats-vocab .hero-container .hero {
		display: block;
		margin: 0;
		padding: 16px;
		background-color: #fff;
	}
	.bulats-vocab .hero-container .hero .hero-content {
		text-align: center;
	}
	/* ----------------------------------------------------------------------------------*/
	/* ----------------------------------------------------------------------------------*/	
	.bulats-vocab .hero-container img.yui3-img-responsive {
		display: none; 
		margin-right: 0;
		margin-bottom: 0;
	}
	.bulats-vocab .hero-container .hero .hero-heading {
		margin-bottom: 22px;
	}
	.bulats-vocab .hero-container .hero h1 {
		margin: 4px 0;
	}
	.bulats-vocab .hero-container .hero h2 {
		margin-bottom: 0;
		font-weight: 400;
	}
	.bulats-vocab .hero-container .hero .hero-content .why-cerego {
		margin: 0;
	}
	.bulats-vocab .hero-container .hero .hero-content .why-cerego .price {
		margin: 24px 0;
		font-size: 1.231em;
		font-weight: 600;
	}
	.bulats-vocab .hero-container .hero .hero-content .btn {
		margin-bottom: 0;
	}
	.bulats-vocab .with-bulats {
		background-color: #007f86;
		font-size: 1.12em;
		color: #fff;
	}
	.bulats-vocab .with-bulats {
		margin: 0;
		padding: 32px 32px 56px;
		text-align: center;
	}
	.bulats-vocab .cerego .with-bulats .with-bulats-container {
		margin: 0 auto;
		max-width: 472px;
	}
	.bulats-vocab .with-bulats h2 {
		margin-bottom: 16px;
		text-align: left;
		font-size: 1.8em;
		font-weight: normal;
	}
	.bulats-vocab .with-bulats h2 {
		margin-bottom: 8px;
	}
	.bulats-vocab .cerego .benefits h2 {
		font-size: 1.8em;
		margin: 0;
	}
	.bulats-vocab .cerego .why-cerego p {
		line-height: 1.6em;
		text-align: center;
	}
	.bulats-vocab .with-bulats ul {
		margin-left: 0;
		margin-bottom: 0;
	}
	.bulats-vocab .with-bulats ul li {
		margin-bottom: 8px;
		list-style: none;
	}
	.bulats-vocab .cerego .benefits {
		padding: 56px 0;
		text-align: center;
		font-size: 1.12em;
	}
	.bulats-vocab .cerego .benefits h2 {
		margin-bottom: 4px;
	}
	.bulats-vocab .cerego .benefits h2 + p {
		margin-bottom: 48px;
	}
}
/*--------------------------------------------------------------------------------
  Mobile (large/landscape) and up
--------------------------------------------------------------------------------*/
@media only screen and (min-width: 42em) {
	.bulats-vocab .hero-container {
		padding-bottom: 0;
	}
	.bulats-vocab .hero-container .hero {		
		margin: 0;
		background-color: rgba(255,255,255,0.9);
	}
	.bulats-vocab .hero-container .hero .hero-content {
		display: inline-block;
		width: 73%;
		text-align: left;
		vertical-align: text-bottom;
	}
	.bulats-vocab .hero-container .hero .hero-heading {
		margin-bottom: 44px;
	}
	.bulats-vocab .cerego .why-cerego p {
		text-align: left;
	}
	.bulats-vocab .hero-container .hero .hero-content .why-cerego .price {
		margin: 24px 0 0;
	}
	.bulats-vocab .hero-container .hero .hero-content.hero-btn {
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 0;
		width: 26%;
		text-align: right;
	}
	.bulats-vocab .hero-container .hero .hero-content.hero-btn a {
		margin-right: 0;
	}
}
/*--------------------------------------------------------------------------------
  Mobile (large/landscape) and up
--------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------
  Tablet (small/portrait) and up
--------------------------------------------------------------------------------*/
@media only screen and (min-width: 49em) { /* 47 */
	.bulats-vocab .hero-container {
		position: relative;
	}
	.bulats-vocab .hero-container .hero {
		position: absolute;
		top: auto;
		right: 0;
		bottom: 0;
		left: 0;
		margin: 0;
		width: auto;
		height: auto;
		border-radius: 0;
	}
	.bulats-vocab .hero-container img.yui3-img-responsive {
		display: block;
	}
	.bulats-vocab .cerego .benefits .yui3-g {
		margin-right: 3.75%;
		margin-left: 3.75%;
	}
	.bulats-vocab .cerego .benefits .yui3-u-md-1-3 + .yui3-u-md-1-3, 
	.bulats-vocab .cerego .benefits .yui3-u-md-8-24 + .yui3-u-md-8-24 {
		margin-right: 0;
		margin-left: 7.77027027027027%;
	}
	.bulats-vocab .cerego .benefits .yui3-u-md-1-3, 
	.bulats-vocab .cerego .benefits .yui3-u-md-8-24 {
		width: 28.15315315315315%;
	}
	.bulats-vocab .cerego .benefits .yui3-g .yui3-c {
		margin-right: 0;
		margin-left: 0;
	}
}

/*--------------------------------------------------------------------------------
  Tablet (large/landscape), Desktop (small) and up
--------------------------------------------------------------------------------*/
@media only screen and (min-width: 52em) {
	.bulats-vocab .hero-container .hero {
		bottom: 20px;
		left: 20px;
		width: 538px;
		border-radius: 3px;
	}
}

/*--------------------------------------------------------------------------------
  Print
--------------------------------------------------------------------------------*/
@media print {
	.bulats-vocab .cerego .subHeader {
		display: none;
	}
	img.yui3-img-responsive {
		display: none !important;
	}
	.bulats-vocab .cerego .benefits {
		text-align: left;
	}
}



/***************************
****************************
Level-Based Exam Pages start
****************************
***************************/

.landing-page--cepc.landing-page--level-based .body {
    padding: 0;
    background-color: #fff !important; /*#DAEEEE*/
}


.landing-page--cepc.landing-page--level-based .landingPage.ce-level-based {
    padding-right: 20px;    
    padding-bottom: 20px;
	padding-left: 20px;
}

.ce-level-based .feature h1{
	text-align: center;
}

.ce-level-based .feature h1 {
	color: #c81f66;
}

.ce-level-based .feature h2 {
	margin-top: 1.705em;
	margin-bottom: 1.231em;
	/* color: #0599d6; */
}

.cepc a.readMore, 
.cepc a.readMore:link, 
.cepc a.readMore:focus, 
.cepc a.readMore:hover {
    color: #ffffff;
}

.cepc a.ce-cta {
	background-color: #c81f66;
}

.ce-level-based hr {
	margin-top: 24px;
	margin-right: 0;
	margin-bottom: 24px;
	margin-left: 0;
}

.ce-level-based .ce-center {
	text-align: center;
}

.ce-level-based .cepc-section.cepc-section--exams {
    margin-left: -20px;
    margin-right: -20px;
	background-color: #fff;
}


.ce-level-based .yui3-g.text_and_video--50-50.ce-level-based-testimonial footer {
	line-height: 1.5rem;
	font-weight: 600;
	font-size: 1rem;
}
.ce-level-based .yui3-g.text_and_video--50-50.ce-level-based-testimonial footer span {
	font-weight: normal;
}
.ce-level-based .yui3-g.text_and_video--50-50.ce-level-based-testimonial .ce-testimonial-img {
	text-align: center;
}
.ce-two-col-tile-list {
	margin: 0 auto;
	width: auto;
	max-width: 493px;
}
.ce-two-col-tile-list.ce-two-col-tile-list--full-width {
	max-width: 100%;
}
.ce-two-col-tile-list .panel_container {
	font-size: 0.875rem;
}
.ce-two-col-tile-list .panel--heading-overlay img {
	width: 100%;
	height: 86px;
}




.cepc .panel--heading-overlay h2 a {
    color: #ffffff;
}

.ce-jumbo { 
	margin: 2em auto; 
}
.ce-jumbo ul { 
	margin: 0 auto; padding: 0; list-style: none; 
}
.ce-jumbo ul.ce-stacked { 
	width: 80%; /* 50% */
}
.ce-jumbo ul li { 
	position: relative; 
}
.ce-jumbo ul.ce-stacked li { 
	width: 100%; 
}
.ce-jumbo ul.ce-tiles li { 
	margin-bottom: 1.231em; 
}
.ce-jumbo ul.ce-tiles li a { 
	display: block; 
	padding: 20px 20px 20px 95px;
	border: 1px solid #ddd;
	border-top-width: 5px;
	border-radius: 5px; /* 0.153875em */ 
	
	line-height: 1.5rem; 
	background: #fff;
	color: #333;
	font-size: 1.15rem; /* 100% */
	font-weight: 600; 
	text-align: left; 
	text-decoration: none;
	overflow: hidden;
}
.ce-jumbo ul.ce-tiles li a.a1.a2 {
	border-color: #0073C5;
}
.ce-jumbo ul.ce-tiles li a.a2 {
	border-color: #00919E;
}
.ce-jumbo ul.ce-tiles li a.b1 {
	border-color: #CE1531;
}
.ce-jumbo ul.ce-tiles li a.b1.c1 {
	border-color: #B72837;
}
.ce-jumbo ul.ce-tiles li a.b2 {
	border-color: #80B81C;
}
.ce-jumbo ul.ce-tiles li a.c1 {
	border-color: #008ABE;
}
.ce-jumbo ul.ce-tiles li a.c2 {
	border-color: #282979;
}
.ce-jumbo ul.ce-tiles li a.no-level {
	border-color: #009FDA;
}
.lte9 .ce-jumbo ul.ce-tiles li a:before  {
	padding-top: 20px;
}
.ce-jumbo ul.ce-tiles li a:before { 
	position: absolute;
	z-index: 9;
	
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex; 
	flex-direction: column; 
	justify-content: center;
	
	top: 0; 
	right: auto; 
	bottom: 0; 
	left: 0; 
	width: 75px; 
	
	border-top: 5px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 5px;
		
	background: #fff none repeat scroll 0 0; 
	color: #333; 
	text-align: center;
	
	transition: background 0.1s ease-in, color 0.1s ease-in;
}
/*  */
.ce-jumbo ul.ce-tiles li a.a1:before { 
	content: "A1"; 
}
.ce-jumbo ul.ce-tiles li a.a1.a2:before {
	border-color: #0073C5;
	font-size: 70%; 
	line-height: 1.2em;
	letter-spacing: -0.04rem;
	content: "Pre-A1, \A A1 and A2"; 
	white-space: pre;
}
.ce-jumbo ul.ce-tiles li a.a2:before {
	border-color: #00919E;
	content: "A2";
}
.ce-jumbo ul.ce-tiles li a.b1:before {
	border-color: #CE1531;
	content: "B1"; 
}
.ce-jumbo ul.ce-tiles li a.b1.c1:before {
	border-color: #B72837;
	font-size: 70%;
	line-height: 1.2em;
	content: "B1, B2 \A and C1";
	white-space: pre;
}
.ce-jumbo ul.ce-tiles li a.b2:before {
	border-color: #80B81C;
	content: "B2";
}
.ce-jumbo ul.ce-tiles li a.c1:before {
	border-color: #008ABE;
	content: "C1";
}
.ce-jumbo ul.ce-tiles li a.c2:before {
	border-color: #282979;
	content: "C2";
}
/*  */
.ce-jumbo ul.ce-tiles li a:hover:before,
.ce-jumbo ul.ce-tiles li a:focus:before,
.ce-jumbo ul.ce-tiles li a:active:before { 
	width: 75px;
	background: #ddd;
	color: #fff;
}
.ce-jumbo ul.ce-tiles li a.a1.a2:hover:before,
.ce-jumbo ul.ce-tiles li a.a1.a2:focus:before,
.ce-jumbo ul.ce-tiles li a.a1.a2:active:before {
	background: #0073C5;
}
.ce-jumbo ul.ce-tiles li a.a2:hover:before,
.ce-jumbo ul.ce-tiles li a.a2:focus:before,
.ce-jumbo ul.ce-tiles li a.a2:active:before {
	background: #00919E;
}
.ce-jumbo ul.ce-tiles li a.b1:hover:before,
.ce-jumbo ul.ce-tiles li a.b1:focus:before,
.ce-jumbo ul.ce-tiles li a.b1:active:before {
	background: #CE1531;
}
.ce-jumbo ul.ce-tiles li a.b1.c1:hover:before,
.ce-jumbo ul.ce-tiles li a.b1.c1:focus:before,
.ce-jumbo ul.ce-tiles li a.b1.c1:active:before {
	background: #B72837;
}
.ce-jumbo ul.ce-tiles li a.b2:hover:before,
.ce-jumbo ul.ce-tiles li a.b2:focus:before,
.ce-jumbo ul.ce-tiles li a.b2:active:before {
	background: #80B81C;
}
.ce-jumbo ul.ce-tiles li a.c1:hover:before,
.ce-jumbo ul.ce-tiles li a.c1:focus:before,
.ce-jumbo ul.ce-tiles li a.c1:active:before {
	background: #008ABE;
}
.ce-jumbo ul.ce-tiles li a.c2:hover:before,
.ce-jumbo ul.ce-tiles li a.c2:focus:before,
.ce-jumbo ul.ce-tiles li a.c2:active:before {
	background: #282979;
}
/*  */
.ce-jumbo ul.ce-tiles li a:after {
	position: absolute; 
	z-index: 8; 
	display: block; 
	top: 50%; 
	right: auto; 
	left: 60px; 
	transform: translateY(-50%) scaleX(0.5);
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent; 
	border-left: 20px solid #ddd;
	border-bottom: 10px solid transparent; 
	visibility: hidden;
	content: " ";
	
	transition: visibility 0.2s ease-in 0.1s, left 0.2s ease-in;
}
.ce-jumbo ul.ce-tiles li a:hover:after,
.ce-jumbo ul.ce-tiles li a:focus:after,
.ce-jumbo ul.ce-tiles li a:active:after { 
	visibility: visible;
	left: 72px;
}
/*  */
.ce-jumbo ul.ce-tiles li a.a1:after {
	border-left: 20px solid #903F98;
}
.ce-jumbo ul.ce-tiles li a.a1.a2:after {
	border-left: 20px solid #0073C5;
}
.ce-jumbo ul.ce-tiles li a.a2:after {
	border-left: 20px solid #00919E;
}
.ce-jumbo ul.ce-tiles li a.b1:after {
	border-left: 20px solid #CE1531;
}
.ce-jumbo ul.ce-tiles li a.b1.c1:after {
	border-left: 20px solid #B72837;
}
.ce-jumbo ul.ce-tiles li a.b2:after {
	border-left: 20px solid #80B81C;
}
.ce-jumbo ul.ce-tiles li a.c1:after {
	border-left: 20px solid #008ABE;
}
.ce-jumbo ul.ce-tiles li a.c2:after {
	border-left: 20px solid #282979;
}
/*  */
.ce-jumbo ul.ce-tiles li a.no-level { 
	padding-left: 20px; 
	text-align: center; 
	
	transition: background 0.2s ease-in, color 0.2s ease-in;
}
.ce-jumbo ul.ce-tiles li a.no-level:before,
.ce-jumbo ul.ce-tiles li a.no-level:after {
	display: none;
}
.ce-jumbo ul.ce-tiles li a.no-level:hover,
.ce-jumbo ul.ce-tiles li a.no-level:focus,
.ce-jumbo ul.ce-tiles li a.no-level:active {
	background: #009FDA;
	color: #fff;
}


@media (max-width: 752px) { /*496*/
	.ce-level-based blockquote p {
		text-align:center;
	}
	
	.ce-level-based .no-mobile {
		display: none;
	}
}

@media (min-width: 752px) {
	.ce-level-based hr {
		margin-right: 80px;
		margin-left: 80px;
	}
		
	.ce-level-based .ce-heading-3--img {
		display: none;
	}
}

@media (min-width: 752px) {	
	.ce-level-based .std-content{
		margin-right: 150px;
		margin-left: 150px;
	}
}

/***************************
****************************
Level-Based Exam Pages end
****************************
***************************/


/***************************
****************************
IATEFL 2017 START
****************************
***************************/

.iatefl-seventeen-intro {
    margin: 0 auto 0.9375rem;
    padding: 1rem 1.875rem 0; /* 1.75rem 1.875rem 0.9375rem */
    max-width: 36.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
.iatefl-seventeen-wrapper {
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
}
.iatefl-seventeen-wrapper a:link {
  color: #000;
}
.iatefl-seventeen {
  display: block;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px auto;
  padding: 15px 5%;
  width: 90%;
  height: auto;
  border-radius: 4px;
  font-weight: bold;
  background: #333;
  color: #000;
  text-decoration: none;
  transition-duration: 0.2s;
  text-shadow: 0 0 30px #fff;
}
.iatefl-seventeen-wrapper a:hover,
.iatefl-seventeen-wrapper a:focus,
.iatefl-seventeen-wrapper a:active {
  color: #fff;
  text-shadow: none;
}
.iatefl-digital {
  background: #8CC63E;
}
.iatefl-teaching {
  background: #3EC1CF;
}
.iatefl-free {
  background: #00B296;
}
.iatefl-digital:hover,
.iatefl-digital:focus,
.iatefl-digital:active {
  background: #709E32;
}
.iatefl-teaching:hover,
.iatefl-teaching:focus,
.iatefl-teaching:active {
  background: #329AA6;
}
.iatefl-free:hover,
.iatefl-free:focus,
.iatefl-free:active {
  background: #008E78;
}
	

@media only screen and (min-width: 32em) { /* 31 */
  .iatefl-seventeen-wrapper {
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
  }
  .iatefl-seventeen {
    width: 180px;
    height: 80px;
    margin: 5px;
  	padding: 5px 5%;
  }
}
@media only screen and (min-width: 47em) {
  .iatefl-seventeen {
    width: 200px;
  }
}

/***************************
****************************
IATEFL 2017 END
****************************
***************************/


/***************************
****************************
IATEFL 2018 START
****************************
***************************/

.iatefl-eighteen-intro {
  text-align: center;
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
  }

.iatefl-eighteen-col1{float:left;width:320px;margin-right:30px}
.iatefl-eighteen-col1 h1{font-family:"Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;border-bottom:4px solid #e1523d;color:#333333}
.iatefl-eighteen-col2{float:left;width:320px;margin-right:30px}
.iatefl-eighteen-col2 h1{font-family:"Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;border-bottom:4px solid #00a4a1;color:#333333}
.iatefl-eighteen-col3{float:left;width:320px;margin-right:0px}
.iatefl-eighteen-col3 h1{font-family:"Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;border-bottom:4px solid #c81f66;color:#333333}

.iatefl-eighteen-wrapper {
  display: -webkit-flex;
  display: flex;
  flex-flow: column nowrap;
	font-family:"Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.iatefl-eighteen-wrapper a:link {
  color: #fff;
}
.iatefl-eighteen {
  display: block;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px auto;
  padding: 15px 5%;
  width: 90%;
  height: auto;
  border-radius: 4px;
  font-weight: bold;
  background: #333;
  color: #fff;
  text-decoration: none;
  transition-duration: 0.2s;
  text-shadow: 0 0 30px #b71f09;
}
.iatefl-eighteen-wrapper a:hover,
.iatefl-eighteen-wrapper a:focus,
.iatefl-eighteen-wrapper a:active {
  color: #fff;
  text-shadow: none;
}
.iatefl-prepare {
  background: #e1523d;
}
.iatefl-develop {
  background: #00a4a1;
}
.iatefl-inspire {
  background: #c81f66;
}
.iatefl-social{ 
  background: #777777;  text-shadow: none;
 }

.iatefl-prepare:hover,
.iatefl-prepare:focus,
.iatefl-prepare:active {
  background: #e66c5b;
}


.iatefl-develop:hover,
.iatefl-develop:focus,
.iatefl-develop:active {
  background: #0cb9b6;
}

.iatefl-inspire:hover,
.iatefl-inspire:focus,
.iatefl-inspire:active {
  background: #d0417d;
}
.iatefl-social:hover,
.iatefl-social:focus,
.iatefl-social:active{
 background: #333333;
 }
	

@media only screen and (min-width: 32em) { /* 31 */
  .iatefl-eighteen-wrapper {
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: space-around;
  }
  .iatefl-eighteen {
    width: 300px;
    height: 80px;
    margin: 5px;
  	padding: 5px 5%;
  }
}
@media only screen and (min-width: 47em) {
  .iatefl-eighteen {
    width: 275px;
  }
}



/***************************
****************************
IATEFL 2018 END
****************************
***************************/


/***************************
****************************
KOREA CAMPAIGN
****************************
***************************/

.korea-campaign .image-grid { 
cursor: pointer; cursor: hand;}


.korea-campaign .section__inner .section__intro .section__intro_inner .section__intro_inner_content {
	min-width: 51%;
}

.korea-campaign .feature:first-child h3 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	font-size: 23px;
}

.korea-campaign .feature:nth-child p {
	text-align: left;
}

	.korea-campaign .feature:first-child .readMore {
	margin-bottom: 1em;
	margin-top: 1em
}

.korea-campaign .feature {

    margin-right: 1em;
    margin-left: 1em;
}

@media (max-width: 48em) {
	.korea-campaign img
	{display:none;}
}

	.korea-campaign .feature:first-child hr {
		width: 60%;
		text-align:center; 
		margin-left: 20%;
	}

@media (max-width: 48em) {
	.korea-campaign .feature:first-child hr 
		{width: 100%;
		text-align:center; 
		margin-left: 0%;}
	}

/* Bulats agents list styling */
table.centres .bulats-row td {
    text-align: left;
    vertical-align: baseline;
    border: none;
    padding-left: 5px;
}
table.centres .bulats-row td:last-child {
    text-align: right;
    padding-right: 5px;
}
table.centres .bulats-row th {
    padding: 18px 0 7px 4px;
}
.sticky-button-grey a{
	color: #fff !important;
	background-color: #333 !important;
	text-decoration: none !important;
    margin-left: 40px !important;
    margin-bottom: 5px !important;
    margin-top: 5px;
}
.sticky-button-grey a span{
	color: #fff !important;
	text-decoration: none !important;
}

/* remove rogue bottom-border that appears on-hover in many elements across the site */
.landingPage .body .mainContentsContainer #col-2 a:link:hover{border-bottom:none !important;}

/* remove unwanted underline from tabs headings */
#tabs .ui-tabs-anchor {text-decoration: none !important;}

/* remove unwanted underline and on-hover colour changes from read-more buttons */
.landingPage .body .mainContentsContainer .readMore, .landingPage .body .mainContentsContainer .readMore:hover{
	text-decoration: none !important; 
	color:#fff !important;
	background-color:#333 !important;
	border-bottom:none !important;
	font-weight: normal !important;
}

.teaser {margin-bottom: 0 !important;}

/* decrease margin between links in header tray by 1px to prevent wrapping onto a new line for some country websites after adding Instagram logo */
.header-tray .header-tray_right-links .header-tray_list--first li {
    margin-left: 3px !important;
	margin-right: 3px !important;
}
/* highlight error message on recognition database */
.field-error {
    color:red !important;
	font-weight:bold;
}

/* TYE landing-page styling tweaks */
.tye-landing-page .circle-cta_container {
    padding-top: 0 !important;
	padding-bottom: 1.5em !important;
}
.tye-landing-page .circle-cta_container .circle-cta_panel .panel--circle-promo {
    margin-bottom: 1.5rem !important;
}

@media screen and (max-width: 800px){
	.tye-landing-page .banner .banner-image {
		display: none !important;
	}
	.tye-landing-page .panel-intro__heading {
		padding-top: 1.5em !important;
		padding-bottom: 1.5em !important;
	}
}

/* Show CEQ logo in headings */

.ceq-logo #content_subheader {
    padding-left: 244px;
    padding-bottom: 25px;
    padding-top: 26px;
    min-height: 55px;
    background-image: url(https://assets.cambridgeenglish.org/img/ceq-logo-stacked.gif);
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-position-x: 14px;
}

@media screen and (max-width: 700px){
	.ceq-logo #content_subheader {
		padding-left: 10px;
		padding-bottom: 0;
		padding-top: 55px;
		background-image: url(https://assets.cambridgeenglish.org/img/ceq-logo-ranged.gif);
		background-repeat: no-repeat;
		background-position-y: 15px;
		background-position-x: 10px;
	}
}