﻿@{
    ViewBag.Title = "createoreditEmployeeSalary";
    Layout = "~/Views/Shared/_SalaryLayoutPage.cshtml";
}
<style>
    .salarycard {
        border-radius: 12px;
        padding: 10px;
        font-size: 12px;
        border: 1px solid #808080;
    }

    .salarycard-header {
        border-bottom: 1px solid #c2bebe;
        font-size: 20px;
        font-weight: 600;
        /*padding-left:6px;
        margin-left:5px;
        margin-right:5px;*/
    }

    .salarycard-body {
        padding: 10px;
    }
</style>


<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Or Edit Employee Salary</h4>
                    <hr />

                    @using (Html.BeginForm("SaveorUpdateEmployeeSalary", "Salary", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                    {
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <div class="salarycard">
                                    <div class="salarycard-header">
                                        Basic Information
                                    </div>
                                    <div class="salarycard-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2 form-group">
                                                    Employee Name
                                                </div>
                                                <div class="col-md-10 form-group">
                                                    <select id="emp_id" name="emp_id" class="select2" required data-msg-required="Please select employee" style="width:100%;">
                                                        <option value="">Select Employee</option>
                                                        @if (ViewBag.employeelist != null)
                                                        {
                                                            foreach (var a in ViewBag.employeelist)
                                                            {
                                                                <option value="@a.id" @(ViewBag.salarydetailsdata.emp_id == a.id ? "selected" : "")>@a.emp_name <span>- (@a.emp_code)</span> </option>
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    Month
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <select id="month" name="month" class="form-control select2" required data-msg-required="Please select month">
                                                        
                                                        @for (var i = 0; i < 12; i++)
                                                        {
                                                            <option value="@(i+1)" @((ViewBag.salarydetailsdata.month-1) == i ? "selected" : "")>@System.Globalization.DateTimeFormatInfo.InvariantInfo.MonthNames[i] </option>
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-2 form-group">
                                                    Year
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <select id="year" name="year" class="form-control select2" required data-msg-required="Please select year">
                                                        
                                                        @for (var i = 1990; i <= DateTime.Now.Year; i++)
                                                        {
                                                            <option value="@i" @(ViewBag.salarydetailsdata.year == i ? "selected" : "")>@i </option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="salarycard" id="divemployeedetails">
                                    <div class="salarycard-header">
                                        Employee Details
                                    </div>
                                    <div class="salarycard-body">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-2 form-group">
                                                    <strong>Code</strong>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <label id="code">@ViewBag.salarydetailsdata.emp_code</label>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <strong>Name</strong>
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <label id="name">@ViewBag.salarydetailsdata.empname</label>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <strong>Department</strong>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <label id="department">@ViewBag.salarydetailsdata.department</label>
                                                </div>

                                                <div class="col-md-2 form-group">
                                                    <strong>Mobile</strong>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <label id="mobile">@ViewBag.salarydetailsdata.phone</label>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <strong>Email</strong>
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <label id="email">@ViewBag.salarydetailsdata.email_id</label>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <strong>Designation</strong>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <label id="designation">@ViewBag.salarydetailsdata.designation</label>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <strong>Type</strong>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <label id="type">@ViewBag.salarydetailsdata.type</label>
                                                </div>
                                                <div class="col-md-2 form-group">
                                                    <strong>Organisation</strong>
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <label id="organisation">@ViewBag.salarydetailsdata.organisation</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="clearfix" style="margin-bottom:10px;"></div>
                                <div class="salarycard" id="allsalarycatg">
                                    <div class="salarycard-header">
                                        Salary Details
                                    </div>
                                    <div class="salarycard-body">
                                        <div class="col-md-12">
                                            <div class="row" id="salaryscatg">
                                                @if (ViewBag.salarydetailsdata.salarycatgdetails != null)
                                                {
                                                    List<odm_site.Controllers.SalaryController.salarycategorydetailsclass> res = new List<odm_site.Controllers.SalaryController.salarycategorydetailsclass>();
                                                    res = ViewBag.salarydetailsdata.salarycatgdetails as List<odm_site.Controllers.SalaryController.salarycategorydetailsclass>;
                                                    var income = res.Where(a => a.categoryid == 1).ToList();
                                                    var deduction = res.Where(a => a.categoryid == 2).ToList();
                                                <div class="col-md-6">
                                                    <h4 style="border-bottom:1px solid;margin-bottom:10px;">Income Details</h4>
                                                    @foreach (var item in income)
                                                        {
                                                    <div class="form-group">
                                                        <div class="col-md-4">
                                                            <label>@item.categorydetailsname</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input type="text" name="income" id="@item.categorydetailsid" placeholder="@item.categorydetailsname" class="form-control" required data-msg-required="Please write @item.categorydetailsname" value="@item.amount" onchange="incomechange()" />
                                                        </div>
                                                    </div>
                                                        }
                                                </div>
                                                <div class="col-md-6">
                                                    <h4 style="border-bottom:1px solid;margin-bottom:10px;">Deduction Details</h4>
                                                    @foreach (var item in deduction)
                                                        {
                                                    <div class="form-group">
                                                        <div class="col-md-4">
                                                            <label>@item.categorydetailsname</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input type="text" name="deduction" id="@item.categorydetailsid" placeholder="@item.categorydetailsname" class="form-control" required data-msg-required="Please write @item.categorydetailsname" value="@item.amount" onchange="deductionchange()" />
                                                        </div>
                                                    </div>
                                                        }
                                                    <div class="form-group">
                                                        <div class="col-md-4">
                                                            <label>Net Deduction</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input type="text" name="netdeduction" id="netdeduction" placeholder="Net Deduction" class="form-control" required data-msg-required="Please write net deduction" disabled value="@ViewBag.salarydetailsdata.netdeduction" />
                                                        </div>
                                                    </div>
                                                </div>
                                                }
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-4">
                                                            <label>Total Salary</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input type="text" name="totalsalary" id="totalsalary" placeholder="Total Salary" class="form-control" disabled required data-msg-required="Please write total salary" value="@ViewBag.salarydetailsdata.totalsalary" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-4">
                                                            <label>Net Salary</label>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <input type="text" name="netsalary" id="netsalary" placeholder="Net Salary" class="form-control" disabled required data-msg-required="Please write net salary" value="@ViewBag.salarydetailsdata.netsalary" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-1"></div>

                        </div>
                        <div class="form-group text-center">
                            <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="fa fa-file"></i>
                    Add Employee Salary Using Excel

                </h3>
            </div>
            @using (Html.BeginForm("UploadEmployeeSalary", "Salary", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "validation-form", @class = "form-horizontal" }))
            {

                <div>
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3  control-label">Employee Type<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">
                                <select id="typeid" name="typeid" class="form-control" required data-msg-required="Please select type">
                                    <option value="">Select Type</option>
                                    @if (ViewBag.typelist != null)
                                    {
                                        foreach (var a in ViewBag.typelist)
                                        {
                                            <option value="@a.id">@a.name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3  control-label">Download Excel File<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">
                                <a id="downloadexcel" class="btn btn-primary"><i class="fa fa-undo"></i> <span>Download Excel</span> </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3  control-label">Upload Excel File<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">
                                <input type="file" id="file" name="file" />
                            </div>
                        </div>

                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <button id="btnAddSchool" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $('#downloadexcel').click(function () {
            debugger;
            if ($('#typeid').val() == '') {
                alert('Select Employee Type');
            }
            else {
                window.location.href = '/Salary/DownloadEmployeeSalary/' + $('#typeid').val();
            }
        })
        $("#hidden_txt").hide();
        var id = '@ViewBag.salarydetailsdata.emp_id';
        debugger;
        if (id == '0')
        {
            $('#divemployeedetails').hide();
            $('#allsalarycatg').hide();
        }
        else {
            $('#divemployeedetails').show();
            $('#allsalarycatg').show();
        }

      
        $('#emp_id').change(function () {
            debugger;
            $("#divloader").show();
            $.get('/Salary/GetEmployeeDetails', { id: $('#emp_id').val() }, function (data) {
                if (data != null) {
                    $('#code').html(data.code);
                    $('#name').html(data.name);
                    $('#department').html(data.dept);
                    $('#email').html(data.email);
                    $('#mobile').html(data.mobile);
                    $('#designation').html(data.designation);
                    $('#type').html(data.type);
                    $('#organisation').html(data.organisation);
                    var s = '';
                    if (data.income.length > 0) {

                        s += '<div class="col-md-6">';
                        s += '<h4 style="border-bottom:1px solid;margin-bottom:10px;">Income Details</h4>';
                        for (var i = 0; i < data.income.length; i++) {
                            s += '<div class="form-group"><div class="col-md-4">';
                            s += '<label>' + data.income[i].categorydetailsname + '</label></div>';
                            s += '<div class="col-md-8">';
                            s += '<input type="text" name="income" id="' + data.income[i].categorydetailsid + '" placeholder="' + data.income[i].categorydetailsname + '" class="form-control" required data-msg-required="Please write ' + data.income[i].categorydetailsname + '" value="0" onchange="incomechange()" />';
                            s += '</div></div>';
                        }
                        s += '</div>';
                    }

                    if (data.deduction.length > 0) {
                        s += '<div class="col-md-6">';
                        s += '<h4 style="border-bottom:1px solid;margin-bottom:10px;">Deduction Details</h4>';
                        for (var i = 0; i < data.deduction.length; i++) {
                            s += '<div class="form-group"><div class="col-md-4">';
                            s += '<label>' + data.deduction[i].categorydetailsname + '</label></div>';
                            s += '<div class="col-md-8">';
                            s += '<input type="text" name="deduction" id="' + data.deduction[i].categorydetailsid + '" placeholder="' + data.deduction[i].categorydetailsname + '" class="form-control" required data-msg-required="Please write ' + data.deduction[i].categorydetailsname + '" value="0" onchange="deductionchange()" />';
                            s += '</div></div>';
                        }
                        s += '<div class="form-group"><div class="col-md-4">';
                        s += '<label>Net Deduction</label></div>';
                        s += '<div class="col-md-8"><input type="text" name="netdeduction" id="netdeduction" placeholder="Net Deduction" class="form-control" required data-msg-required="Please write net deduction" disabled value="0" />';
                        s += '</div></div>';
                        s += '</div>';
                    }
                    $('#salaryscatg').html(s);
                    $('#allsalarycatg').show();
                    $('#divemployeedetails').show();                    
                }
                $("#divloader").hide();
            })
        })
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
               // var formData = new FormData($("#validation-form")[0]);
                var income = [];
                $('input[name=income]').each(function () {
                    var s = $(this).val() == '' ? 0 : $(this).val();
                    income.push({ categorydetailsid: $(this)[0].id,amount:s });
                })
                $('input[name=deduction]').each(function () {
                    var s = $(this).val() == '' ? 0 : $(this).val();
                    income.push({ categorydetailsid: $(this)[0].id, amount: s });
                })
                var salarydata = new Object({
                    emp_id: $('#emp_id').val(),
                    month: $('#month').val(),
                    year: $('#year').val(),
                    netdeduction: $('#netdeduction').val(),
                    netsalary: $('#netsalary').val(),
                    totalsalary: $('#totalsalary').val()
                });
                var formd = {
                    empsalary: salarydata, catg: income
                };

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: url,
                    data: JSON.stringify(formd),
                    url: url,
                    //type: "POST",
                    //data:JSON.stringify(formd),
                    //dataType: "json",
                    //processData: false,
                    //contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Salary/EmployeeSalarydetails';
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Salary/EmployeeSalarydetails';
                    }

                })
            }
        });
    })
    function incomechange() {
        var total = 0;
        var named = document.getElementById("salaryscatg");
        var tags = named.getElementsByTagName("input");
        for (var i = 0, n = tags.length; i < n; i = i + 1) {
            if (tags[i].name == 'income') {
                var s = tags[i].value == '' ? 0 : tags[i].value;
                total = (parseFloat(total) + parseFloat(s)).toFixed(1);
            }
        }
        //$('input[name=income]').each(function () {
        //    var s = $(this).val() == '' ? 0 : $(this).val();
        //    total = (parseFloat(total) + parseFloat(s)).toFixed(1);
        //})
        $('#totalsalary').val(total);
        var netdeduction = $('#netdeduction').val();
        var netsalary = $('#netsalary').val();
        if (netdeduction == 0) {
            $('#netsalary').val(total);
        }
        else {
            $('#netsalary').val((parseFloat(total) - parseFloat(netdeduction)).toFixed(1))
        }
    }
    function deductionchange() {
        var total = 0;
        var named = document.getElementById("salaryscatg");
        var tags = named.getElementsByTagName("input");
        for (var i = 0, n = tags.length; i < n; i = i + 1) {
            if (tags[i].name == 'deduction') {
                var s = tags[i].value == '' ? 0 : tags[i].value;
                total = (parseFloat(total) + parseFloat(s)).toFixed(1);
            }
        }
        $('#netdeduction').val(total);
        var totalsalary = $('#totalsalary').val();
        var netsalary = $('#netsalary').val();
        if (netdeduction == 0) {
            $('#netsalary').val(totalsalary);
        }
        else {
            $('#netsalary').val((parseFloat(totalsalary) - parseFloat(total)).toFixed(1))
        }
    };
</script>
