﻿
@{
    ViewBag.Title = "createoreditsalarycategorydetails";
    Layout = "~/Views/Shared/_SalaryLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Or Edit Result Type</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("SaveorUpdatesalarycategorydetails", "Salary", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Name*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="name" name="name" class="form-control" required data-msg-required="Please write name" placeholder="name" value="@ViewBag.name" />
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Category*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <select id="catgid" name="catgid" class="form-control" required data-msg-required="Please select category">
                                            @if (ViewBag.schoolcategorylist != null)
                                            {
                                                foreach (var a in ViewBag.schoolcategorylist)
                                                {
                                                    <option value="@a.id" @(ViewBag.categoryid == a.id ? "selected" : "")>@a.name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Employee Type*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <select id="type" name="type" class="form-control" required data-msg-required="Please select type">
                                            <option value="">Select Type</option>
                                            @if (ViewBag.typelist != null)
                                            {
                                                foreach (var a in ViewBag.typelist)
                                                {
                                                    <option value="@a.id" @(ViewBag.typeid == a.id ? "selected" : "")>@a.name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                </div>
                                <div class="col-md-2">

                                </div>

                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-title">
                    <h3>
                        <i class="fa fa-file"></i>
                        Add Employee Salary Using Excel

                    </h3>
                </div>
                @using (Html.BeginForm("Uploadsalarycategory", "Salary", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "validation-form", @class = "form-horizontal" }))
                {

                    <div>
                        <div class="box-content">
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3  control-label">Download Excel File<span class="asterisk">*</span></label>
                                <div class="col-sm-9  controls">
                                    <a href="@Url.Action("Downloadsalarycategory", "Salary")" class="btn btn-primary"><i class="fa fa-undo"></i> <span>Download Excel</span> </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="textfield5" class="col-sm-3  control-label">Upload Excel File<span class="asterisk">*</span></label>
                                <div class="col-sm-9  controls">
                                    <input type="file" id="file" name="file" />
                                </div>
                            </div>

                            <div class="form-group last box-tooll">
                                <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                    <button id="btnAddSchool" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Salary/salarycategorydetails';
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Salary/salarycategorydetails';
                    }

                })
            }
        });
    })
</script>

