﻿
@{
    ViewBag.Title = "createoreditEmployee";
    Layout = "~/Views/Shared/_SalaryLayoutPage.cshtml";
}


<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Or Edit Result Type</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("SaveorUpdateEmployee", "Salary", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Code*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="code" name="code" class="form-control" required data-msg-required="Please write code" placeholder="code" value="@ViewBag.emp_code" />
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Name*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="name" name="name" class="form-control" required data-msg-required="Please write name" placeholder="name" value="@ViewBag.emp_name" />
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Department*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <select id="deptid" name="deptid" class="form-control" required data-msg-required="Please select department">
                                            @if (ViewBag.departmentlist != null)
                                            {
                                                foreach (var a in ViewBag.departmentlist)
                                                {
                                                    <option value="@a.id" @(ViewBag.dept_id == a.id ? "selected" : "")>@a.name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Designation*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="designation" name="designation" class="form-control" required data-msg-required="Please write designation" placeholder="designation" value="@ViewBag.designation" />
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Organisation*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <select id="organisation" name="organisation" class="form-control" required data-msg-required="Please select organisation">
                                            <option value="">Select Organisation</option>
                                            @if (ViewBag.organisationlist != null)
                                            {
                                                foreach (var a in ViewBag.organisationlist)
                                                {
                                                    <option value="@a.id" @(ViewBag.organisation_id == a.id ? "selected" : "")>@a.name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Employee Type*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <select id="type" name="type" class="form-control" required data-msg-required="Please select type">
                                            <option value="">Select Type</option>
                                            @if (ViewBag.employeetypelist != null)
                                            {
                                                foreach (var a in ViewBag.employeetypelist)
                                                {
                                                    <option value="@a.id" @(ViewBag.type_id == a.id ? "selected" : "")>@a.name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="email" name="email" class="form-control" placeholder="email" value="@ViewBag.email_id" />
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Phone*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="phone" name="phone" class="form-control" required data-msg-required="Please write phone" placeholder="phone" value="@ViewBag.phone" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                </div>
                                <div class="col-md-2">

                                </div>

                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="fa fa-file"></i>
                    Add Employee Salary Using Excel

                </h3>
            </div>
            @using (Html.BeginForm("UploadEmployee", "Salary", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "validation-form", @class = "form-horizontal" }))
            {

                <div>
                    <div class="box-content">
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3  control-label">Download Excel File<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">
                                <a href="@Url.Action("DownloadEmployee", "Salary")" class="btn btn-primary"><i class="fa fa-undo"></i> <span>Download Excel</span> </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textfield5" class="col-sm-3  control-label">Upload Excel File<span class="asterisk">*</span></label>
                            <div class="col-sm-9  controls">
                                <input type="file" id="file" name="file" />
                            </div>
                        </div>

                        <div class="form-group last box-tooll">
                            <div class="col-sm-9 col-sm-offset-3 col-lg-7 col-lg-offset-2">
                                <button id="btnAddSchool" type="submit" class="btn btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Salary/Employeedetails';
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Salary/Employeedetails';
                    }

                })
            }
        });
    })
</script>

