﻿
@{
    ViewBag.Title = "Employeedetails";
    Layout = "~/Views/Shared/_SalaryLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    <h4 class="card-title">Employee</h4>
                    <hr />
                    <div class="box-tool box-tooll text-right">
                        <a class="btn btn-primary" href="/Salary/createoreditEmployee"><i class="fa fa-plus"></i><span> Create</span></a>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No.</th>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Department</th>
                                    <th>Designation</th>
                                    <th>Organisation</th>
                                    <th>Type</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.EmployeeList != null)
                                {
                                    int i = 0;
                                    foreach (var y in ViewBag.EmployeeList)
                                    {
                                        <tr>
                                            <td>@(i = i + 1)</td>
                                            <td>@y.Code</td>
                                            <td>@y.Name</td>
                                            <td>@y.Department</td>
                                            <td>@y.Designation</td>
                                            <td>@y.Organisation</td>
                                            <td>@y.employeetype</td>
                                            <td>@y.MailId</td>
                                            <td>@y.Mobile</td>
                                            <td>
                                                <a class="fa fa-pencil" href="/Salary/createoreditEmployee/@y.id"></a>&nbsp;&nbsp;&nbsp;
                                                <a class="fa fa-trash-o" href="/Salary/removeEmployee/@y.id"></a>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">No Records Found</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
