﻿@{
    ViewBag.Title = "pagenotfound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="inner-lead" style="margin-top:80px;margin-bottom:80px;">
    <div class="container">
        <div class="row text-center">
            <h1 style="font-size: 9rem;text-transform:none;">
                Oops !
            </h1>
            <h5 style="color: #000000;font-weight: 700;">404 - PAGE NOT FOUND</h5>
            <p>The page you are looking for might have been removed<br /> had its name changed or is temporarily unavailable.</p>
            <div class="row" style="margin-top:40px;">
                <div class="col-sm-12 text-center"> <a class="btn btn-cta btn-sm" href="/">GO TO HOMEPAGE</a> </div>
            </div>
        </div>
    </div>
</section>

