﻿
@{
    ViewBag.Title = "ExamandTest";
    Layout = "~/Views/Shared/_CambridgeLayoutPage.cshtml";
}

<main id="anchor-main" role="main">

    <div class="banner ">
        <div class="banner-back-link">
            <div class="banner_container">
                <div class="banner-header-content">
                    <a href="/">Back to homepage</a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner-image">
            <img src="~/cambridge/assets/img/odm/6.JPG" alt="" style="height: 450px; width: 100%;">
        </div>
    </div><div class="banner">
        <div class="banner_container">
            <div class="panel panel-intro__heading">
                <header class="panel__header">
                    <h1>Qualifications and tests for every learner</h1>
                </header>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner_container">
            <div class="yui3-g article">
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-4-10">
                    <div class="yui3-c">
                        <div class="panel panel--image">
                            <div class="panel__body">
                                <figure class="article__media">
                                    <img src="~/Cambridge/assets/img/odm/1.jpg" alt="Cambridge English Qualifications">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-6-10">
                    <div class="yui3-c">
                        <div class="panel panel--article article__body">
                            <div class="panel__header article__title-image">
                                <h2 class="image-heading">
                                    <img src="~/Content/Cambridge/logo1.png" alt="Cambridge English Qualifications">
                                </h2>
                            </div>
                            <div class="panel__body">
                                <div class="article__description">
                                    <h3>Your path to learning English, step by step</h3>
                                    <p>Cambridge English Qualifications are in-depth exams that make learning English enjoyable, effective and rewarding. Our unique approach encourages continuous progression with a clear path to improve language skills. We have qualifications for schools, general and higher education, and business.</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner_container">
            <div class="yui3-g article article--alt">
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-4-10">
                    <div class="yui3-c">
                        <div class="panel panel--image">
                            <div class="panel__body">
                                <figure class="article__media">
                                    <img src="~/Cambridge/assets/img/odm/2.jpg" alt="Cambridge English Teaching">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-6-10">
                    <div class="yui3-c">
                        <div class="panel panel--article article__body">
                            <div class="panel__header article__title-image">
                                <h2 class="image-heading">
                                    <img src="~/Content/Cambridge/logo3.png" alt="Cambridge English Teaching">
                                </h2>
                            </div>
                            <div class="panel__body">
                                <div class="article__description">                                   
                                    
                                    <h3>Online English testing, simplified</h3>
                                    <p>Linguaskill is a quick and convenient online test to help higher education institutions and employers check the English levels of individuals and groups of candidates. It combines the latest technology with the reliability and quality you expect from Cambridge.</p>
                                </div>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner_container">
            <div class="yui3-g article">
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-4-10">
                    <div class="yui3-c">
                        <div class="panel panel--image">
                            <div class="panel__body">
                                <figure class="article__media">
                                    <img src="~/Cambridge/assets/img/odm/3.jpg" alt="Linguaskill">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-6-10">
                    <div class="yui3-c">
                        <div class="panel panel--article article__body">
                            <div class="panel__header article__title-image">
                                <h2 class="image-heading">
                                    <img src="~/Content/Cambridge/logo4.png" alt="Linguaskill">
                                </h2>
                            </div>
                            <div class="panel__body">
                                <div class="article__description">
                                    <h3>Prove your skills to study, live and work abroad</h3>
                                    <p>We are the producer and proud co-owner of IELTS, the world’s leading English test for migration and higher education. We provide a range of preparation, support materials and resources to help learners successfully prove their English skills to thousands of organisations worldwide.</p>
                                </div>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

