﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CambridgeLayoutPage.cshtml";
}
<link href="~/Content/owlcarosel/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/owlcarosel/assets/owl.theme.default.min.css" rel="stylesheet" />

<style>
    .owl-carousel {
        display: none;
        width: 100%;
        z-index: 0;
    }

    /*.owl-item > div {
        cursor: pointer;
        margin: 6% 8%;
        transition: margin 0.4s ease;
    }*/

    .owl-item.center > div {
        cursor: auto;
        margin: 0;
    }

    .owl-item:not(.center) > div:hover {
        opacity: 0.75;
    }

    /*.owl-carousel .owl-item {
        padding: 12px;
    }*/

    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        height: 400px;
        /*border-radius: 50%;*/
    }

    .owl-prev, .owl-next {
        position: absolute;
    }

    .owl-prev {
        left: 38px;
        font-size: larger;
        background-color: #574e4e26;
        padding: 6px 12px;
        border-radius: 50%;
        top: 116px;
    }

    .owl-next {
        right: 38px;
        font-size: larger;
        background-color: #574e4e26;
        padding: 6px 12px;
        border-radius: 50%;
        top: 116px;
    }

        .owl-prev:hover, .owl-next:hover {
            background-color: #808080;
        }

    .youtubeplay {
        position: absolute;
        width: 80px !important;
        top: 33% !important;
        left: 200px !important;
        height:70px !important;
    }


    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }



    .modal-body {
        position: relative;
        padding: 0px;
    }

    .close {
        position: absolute;
        right: -30px;
        top: 0;
        z-index: 999;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        opacity: 1;
    }
</style>

@*<link href="~/Content/photogallery/gallery.css" rel="stylesheet" />*@
<div class="container">

    <div class="col-sm-12 col-md-12">
        @*<section class="inner-lead">
                <div class="row">
                    <div class="col-lg-12 clearfix" style="height:300px;overflow-y:scroll;">
                        <article>
                            @if (Model != null)
                            {
                                foreach (var a in Model)
                                {
                            <a style="cursor:pointer;" onclick="getgallery(@a.id,'@a.name')">
                                <section style="padding:0px;">
                                    <div class="images">
                                        <img src="~/Images/gallery/@a.imgpath">
                                        <div class="centered">@a.name</div>
                                    </div>
                                </section>
                            </a>



                                }
                            }
                            <div class="modal fade" id="modalgallery" tabindex="-1" role="dialog">
                                <div class="modal-dialog" style="width:100%;">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" style="color: white; padding: 0px;font-weight: 800;" id="headingtitle"></h4>

                                    </div>
                                    <div class="modal-body">
                                        <div class="clearfix" style="margin-bottom:20px;"></div>
                                        <div class="row">

                                            <div class="owl-carousel owl-theme">

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </article>

                    </div>

                </div>
            </section>
            <style>
                .card {
                    width: 100%;
                    padding: 9px 11px 30px;
                    /*box-shadow: 2px 2px 2px 1px;*/
                    border-radius: 0px;
                    font-size: 0.9em;
                    text-align: center;
                    height: 265px;
                    transform: rotate(11deg);
                    box-shadow: 0 2px 20px rgba(0,0,0,.2);
                    -webkit-transition: all 0.5s ease-in-out;
                    -moz-transition: all 0.5s ease-in-out;
                    -o-transition: all 0.5s ease-in-out;
                    transition: all 0.5s ease-in-out;
                    position: relative;
                }


                    .card:hover {
                        transform: rotate(0deg);
                        /*transform: translate3d(50px, 40px, 0px);*/
                        animation-timing-function: ease-out 5px;
                        -webkit-transition: all 0.5s ease-in-out;
                        -moz-transition: all 0.5s ease-in-out;
                        -o-transition: all 0.5s ease-in-out;
                        transition: all 0.5s ease-in-out;
                        position: relative;
                    }

                .imgBx {
                    height: 170px;
                }

                .details {
                    margin-top: 13px;
                    font-weight: 700;
                }

                .youtubeplay {
                    position: absolute;
                    top: 77px;
                    left: 100px;
                }
            </style>

            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-12 clearfix">
                        <div class="col-sm-12 col-md-12">
                            <h1>Event Videos</h1>
                            <section class="inner-lead">
                                <div class="box">
                                    @if (ViewBag.eventvideolist != null)
                                            {
                                                foreach (var a in ViewBag.eventvideolist)
                                                {
                                                    string imgLink = "http://img.youtube.com/vi/";
                                                    string[] temp = a.youtubelink.Split(new char[] { '=', '&' });
                                                    string videoid = temp[0].ToString();
                                                    if (videoid.Split('.')[0].ToString() == "https://youtu")
                                                    {
                                                        videoid = temp[0].Split('.')[1].ToString().Split('/')[1].ToString();
                                                    }
                                                    else
                                                    {
                                                        videoid = temp[1];
                                                    }
                                                    imgLink = imgLink + videoid + "/2.jpg";
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="card">
                                            <div class="imgBx">

                                                <a href="#" data-toggle="modal" class="video-btn" data-src="https://www.youtube.com/embed/@(videoid)" data-target="#myModal" tabindex="-1">
                                                    <img src="@imgLink" style="width:100%;height:160px;padding:7px;">
                                                    <img class="youtubeplay" src="~/Content/images/youtube (1).png" />
                                                </a>

                                            </div>
                                            <div class="details">
                                                <span>@a.title</span>
                                            </div>
                                        </div>
                                    </div>
                                                }
                                            }

                                </div>
                            </section>
                        </div>
                    </div>


                </div>
            </section>*@

        @*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">


                        <div class="modal-body">

                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                            </div>


                        </div>

                    </div>
                </div>
            </div>*@

    </div>
</div>
<main id="anchor-main" role="main">

    <div class="banner" style="margin-bottom:35px;">
        <div class="banner-image">
            <div id="bannerimages" class="owl-carousel owl-theme">
                <div><img src="~/cambridge/slideshow/1.JPG" alt="Cambridge English Qualifications"></div>
                <div><img src="~/cambridge/slideshow/2.JPG" alt="Cambridge English Qualifications"></div>
                <div><img src="~/cambridge/slideshow/3.JPG" alt="Cambridge English Qualifications"></div>
                <div><img src="~/cambridge/slideshow/4.JPG" alt="Cambridge English Qualifications"></div>
                <div><img src="~/cambridge/slideshow/5.JPG" alt="Cambridge English Qualifications"></div>
                <div><img src="~/cambridge/slideshow/6.JPG" alt="Cambridge English Qualifications"></div>
                <div><img src="~/cambridge/slideshow/7.JPG" alt="Cambridge English Qualifications"></div>
                <div><img src="~/cambridge/slideshow/8.JPG" alt="Cambridge English Qualifications"></div>
                <div><img src="~/cambridge/slideshow/9.JPG" alt="Cambridge English Qualifications"></div>
                <div><img src="~/cambridge/slideshow/10.JPG" alt="Cambridge English Qualifications"></div>
            </div>
        </div>
    </div>

    <div class="banner" style="margin-bottom:35px;">
        <div class="banner-image">
            <div id="videoslider" class="owl-carousel owl-theme">
                <div>
                    <a href="#" data-toggle="modal" class="video-btn" data-src="https://www.youtube.com/embed/QGknbaRvwnI" data-target="#myModal" tabindex="-1">
                        <img src="https://img.youtube.com/vi/QGknbaRvwnI/2.jpg" style="width:100%;height:230px;padding:7px;">
                        <img class="youtubeplay" src="/Content/images/youtube (1).png">
                    </a>
                </div>
                <div>
                    <a href="#" data-toggle="modal" class="video-btn" data-src="https://www.youtube.com/embed/xJ5e78KLog0" data-target="#myModal" tabindex="-1">
                        <img src="https://img.youtube.com/vi/xJ5e78KLog0/2.jpg" style="width:100%;height:230px;padding:7px;">
                        <img class="youtubeplay" src="/Content/images/youtube (1).png">
                    </a>
                </div>
                <div>
                    <a href="#" data-toggle="modal" class="video-btn" data-src="https://www.youtube.com/embed/-DkZnFSInw8" data-target="#myModal" tabindex="-1">
                        <img src="https://img.youtube.com/vi/-DkZnFSInw8/2.jpg" style="width:100%;height:230px;padding:7px;">
                        <img class="youtubeplay" src="/Content/images/youtube (1).png">
                    </a>
                </div>
                <div>
                    <a href="#" data-toggle="modal" class="video-btn" data-src="https://www.youtube.com/embed/kn1q07OSr30" data-target="#myModal" tabindex="-1">
                        <img src="https://img.youtube.com/vi/kn1q07OSr30/2.jpg" style="width:100%;height:230px;padding:7px;">
                        <img class="youtubeplay" src="/Content/images/youtube (1).png">
                    </a>
                </div>
                <div>
                    <a href="#" data-toggle="modal" class="video-btn" data-src="https://www.youtube.com/embed/s-tUOx2PYz8" data-target="#myModal" tabindex="-1">
                        <img src="https://img.youtube.com/vi/s-tUOx2PYz8/2.jpg" style="width:100%;height:230px;padding:7px;">
                        <img class="youtubeplay" src="/Content/images/youtube (1).png">
                    </a>
                </div>
                <div>
                    <a href="#" data-toggle="modal" class="video-btn" data-src="https://www.youtube.com/embed/_Wwt0oFr2yM" data-target="#myModal" tabindex="-1">
                        <img src="https://img.youtube.com/vi/_Wwt0oFr2yM/2.jpg" style="width:100%;height:230px;padding:7px;">
                        <img class="youtubeplay" src="/Content/images/youtube (1).png">
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">


                <div class="modal-body">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="banner">
        <div class="banner_container">
            <div class="yui3-g article">
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-4-10">
                    <div class="yui3-c">
                        <div class="panel panel--image">
                            <div class="panel__body">
                                <figure class="article__media">
                                    <img src="~/cambridge/assets/img/odm/1.JPG" alt="Cambridge English Qualifications">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-6-10">
                    <div class="yui3-c">
                        <div class="panel panel--article article__body">
                            <div class="panel__header article__title-image">
                                <h2 class="image-heading">
                                    <img src="~/Content/Cambridge/logo1.png" alt="Cambridge English Qualifications">
                                </h2>
                            </div>
                            <div class="panel__body">
                                <div class="article__description">
                                    <h3>Your path to learning English, step by step</h3>
                                    <p>Cambridge English Qualifications are in-depth exams that make learning English enjoyable, effective and rewarding. Our unique approach encourages continuous progression with a clear path to improve language skills. We have qualifications for schools, general and higher education, and business.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner_container">
            <div class="yui3-g article article--alt">
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-4-10">
                    <div class="yui3-c">
                        <div class="panel panel--image">
                            <div class="panel__body">
                                <figure class="article__media">
                                    <img src="~/Cambridge/assets/img/odm/2.jpg" alt="Cambridge English Teaching">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-6-10">
                    <div class="yui3-c">
                        <div class="panel panel--article article__body">
                            <div class="panel__header article__title-image">
                                <h2 class="image-heading">
                                    <img src="~/Content/Cambridge/logo2.png" alt="Cambridge English Teaching">
                                </h2>
                            </div>
                            <div class="panel__body">
                                <div class="article__description">
                                    <h3>Together we inspire learners to go further</h3>
                                    <p>Our range of free teaching resources, lesson plans and activities is designed to help you prepare your students for our exams and tests. We also have a range of teaching qualifications, courses and support to help you develop as a teacher.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner_container">
            <div class="yui3-g article">
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-4-10">
                    <div class="yui3-c">
                        <div class="panel panel--image">
                            <div class="panel__body">
                                <figure class="article__media">
                                    <img src="~/Cambridge/assets/img/odm/3.JPG" alt="Linguaskill">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="yui3-u-1 yui3-u-md-1-2 yui3-u-lg-6-10">
                    <div class="yui3-c">
                        <div class="panel panel--article article__body">
                            <div class="panel__header article__title-image">
                                <h2 class="image-heading">
                                    <img src="~/Content/Cambridge/logo3.png" alt="Linguaskill">
                                </h2>
                            </div>
                            <div class="panel__body">
                                <div class="article__description">
                                    <h3>The accurate English test with fast results</h3>
                                    <p>Linguaskill is a quick and convenient online test to help higher education institutions and employers check the English levels of individuals and groups of candidates. It combines the latest AI technology with the reliability and quality you expect from Cambridge.</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                </div>


            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>*@

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script>

    

</script>

<script>
    //function getgallery(id, title) {
    //    var owl = $(".owl-carousel").owlCarousel({
    //        items: 1,
    //        loop: true,
    //        margin: 10,
    //        autoplay: true,
    //        autoplayTimeout: 3000,
    //        autoplayHoverPause: true,
    //        dots: false,
    //        nav: true,
    //        navText: ['<i class="fa fa-angle-left" aria-hidden="true"></i>', '<i class="fa fa-angle-right" aria-hidden="true"></i>'],
    //        //navigationText: ["<span>Previous</span>", "<span>next</span>"]
    //    });
    //    debugger;
    //    $.get('/Home/GetImages', { id: id }, function (data) {
    //        debugger;
    //        // $('#imageslider').empty();
    //        var length = $('.owl-carousel .item').length;
    //        for (var i = 0; i < length; i++) {
    //            owl.trigger('remove.owl.carousel', [i]).trigger('refresh.owl.carousel');
    //        }
    //        if (data.length > 0) {
    //            var result = '';

    //            $.each(data, function (index, value) {
    //                owl.trigger('add.owl.carousel', [jQuery('<div class="item"><img src="/Images/gallery/' + value.images + '" alt="odm images" /></div>')]);
    //            });
    //            owl.trigger('refresh.owl.carousel');
    //            owl.owlCarousel();
    //            $('#headingtitle').html(title);

    //            //$('#imageslider').owlCarousel('update');
    //            $('#modalgallery').modal('show');
    //        }
    //    })
    //}

</script>
<script>

    $(document).ready(function () {

        var $owl = $('#bannerimages');

        $owl.children().each(function (index) {
            $(this).attr('data-position', index); // NB: .attr() instead of .data()
        });

        $owl.owlCarousel({
            center: true,
            loop: true,
            items: 1,
            autoplay: true,
            nav: false,
            dots: true,
            //navText: [
            //   "<<",
            //   ">>"
            //],

        });
        $('#videoslider').owlCarousel({
            center: true,
            loop: true,
            items: 3,
            autoplay: true,
            nav: false,
            dots: true,
            margin: 10,
            //navText: [
            //   "<<",
            //   ">>"
            //],

        });
        $('#myModal').modal('hide');
        // Gets the video src from the data-src on each button
        var $videoSrc;
        $('.video-btn').click(function () {
            $videoSrc = $(this).data("src");
        });
        console.log($videoSrc);
        // when the modal is opened autoplay it
        $('#myModal').on('shown.bs.modal', function (e) {

            // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
            $("#video").attr('src', $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
        })
        // stop playing the youtube video when I close the modal
        $('#myModal').on('hide.bs.modal', function (e) {
            // a poor man's stop video
            $("#video").attr('src', $videoSrc);
        })
        // document ready
    });

</script>