﻿
@{
    ViewBag.Title = "LearningEnglish";
    Layout = "~/Views/Shared/_CambridgeLayoutPage.cshtml";
}

<main class="bg--image" id="anchor-main" role="main">
    <div class="banner">
        <div class="banner_container">
            <div id="landingPg" class="box landingPage cele">
                
                <script type="text/javascript">
        $(document).ready(function () {
            $('.breadcrumb, .breadcrumbs').breadcrumb();
        });
                </script>



                <header class="subHeader" id="content_subheader">
                    <h1>Learning English</h1>
                </header>
                <div class="body">
                    <div class="yui3-g mainContentsContainer">
                        <div id="cele">
                            <!-- START Learning English HTML -->


                            <div class="region region--a yui3-u-1">



                                <div class="cele_wrapper">
                                    <article class="cele-hero">
                                        <div class="cele-hero__inner">
                                            <div class="cele-hero__media">
                                                <input type="hidden" name="mobile_image" value="><img src=&quot;/Cambridge/static-assets/Images/learning-english-mobile-banner_tcm32-352229.png&quot; />" class="hero_image_8_9">
                                                <input type="hidden" name="desktop_image" value="><img src=&quot;/Cambridge/static-assets/Images/new-le-banner3_tcm32-352177.png&quot; />" class="hero_image_16_9">
                                                <img src="/Cambridge/static-assets/Images/new-le-banner3_tcm32-352177.png">
                                            </div>
                                            <div class="cele-hero__body" style="margin-bottom: 33px;">
                                                <h2 class="cele-hero__title">Welcome to Learning English</h2>
                                                <div class="cele-hero__descr"><p>We have lots of free online activities to help teenagers and adults practise their English. Choose the skill you want to practise and the level that’s right for you.</p></div>
                                                @*<a href="#" class="cele-action">
                                                    <span>Search</span>
                                                    <i class="ss-icon" aria-hidden="true"> search </i>
                                                </a>*@
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <section class="cele-activities">
                                    <div class="cele-activities__inner">

                                        <header class="cele-activities__header">
                                            <h2 class="cele-activities__title">Try one of our 176 free activities</h2>
                                        </header>

                                        <div class="cele-carousel">
                                            <div class="bx-wrapper" style="max-width: 3002px; margin: 0px auto;">
                                                <div class="bx-viewport" aria-live="polite" style="width: 100%; overflow: hidden; position: relative; height: 341px;">
                                                    <div class="cele-carousel__inner" style="width: 3215%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">

                                                        <article class="cele-activity-card cele-activity-card--independent" style="float: left; list-style: none; position: relative; width: 332.667px; margin-right: 1px;" aria-hidden="false">
                                                            <a href="#" class="cele-activity-card__inner">
                                                                <figure class="cele-activity-card__media">
                                                                    <img src="/Cambridge/static-assets/Images/b2v051-my-best-friend-new-flash_tcm32-580608_w800.jpg" alt="">
                                                                </figure>
                                                                <header class="cele-activity-card__header">
                                                                    <span class="cele-activity-card__category">Independent</span>
                                                                    <h3 class="cele-activity-card__title">My best friend</h3>
                                                                    <i class="cele-activity-card__header-icon ss-icon ss-right"></i>
                                                                </header>
                                                                <div class="cele-activity-card__body">
                                                                    <p>Choose the right word to fill the gap</p>
                                                                </div>
                                                                <footer class="cele-activity-card__footer">
                                                                    <ul class="cele-activity-card__meta">
                                                                        <li class="cele-activity-card__meta__item">
                                                                            B1-B2
                                                                        </li>
                                                                        <li class="cele-activity-card__meta__item">
                                                                            5–10 <span>minutes</span>
                                                                        </li>
                                                                    </ul>
                                                                </footer>
                                                            </a>
                                                        </article>
                                                        <article class="cele-activity-card cele-activity-card--basic" style="float: left; list-style: none; position: relative; width: 332.667px; margin-right: 1px;" aria-hidden="false">
                                                            <a href="#" class="cele-activity-card__inner">
                                                                <figure class="cele-activity-card__media">
                                                                    <img src="/Cambridge/static-assets/Images/a1r056-which-animal-new-flash_tcm32-580559_w800.jpg" alt="">
                                                                </figure>
                                                                <header class="cele-activity-card__header">
                                                                    <span class="cele-activity-card__category">Basic</span>
                                                                    <h3 class="cele-activity-card__title">Which animal?</h3>
                                                                    <i class="cele-activity-card__header-icon ss-icon ss-right"></i>
                                                                </header>
                                                                <div class="cele-activity-card__body">
                                                                    <p>Answer some questions to learn new words to describe animals</p>
                                                                </div>
                                                                <footer class="cele-activity-card__footer">
                                                                    <ul class="cele-activity-card__meta">
                                                                        <li class="cele-activity-card__meta__item">
                                                                            A1-A2
                                                                        </li>
                                                                        <li class="cele-activity-card__meta__item">
                                                                            0–5 <span>minutes</span>
                                                                        </li>
                                                                    </ul>
                                                                </footer>
                                                            </a>
                                                        </article>
                                                        <article class="cele-activity-card cele-activity-card--proficient" style="float: left; list-style: none; position: relative; width: 332.667px; margin-right: 1px;" aria-hidden="false">
                                                            <a href="#" class="cele-activity-card__inner">
                                                                <figure class="cele-activity-card__media">
                                                                    <img src="/Cambridge/static-assets/Images/c1p065-intonation-new-flash_tcm32-580622_w800.jpg" alt="">
                                                                </figure>
                                                                <header class="cele-activity-card__header">
                                                                    <span class="cele-activity-card__category">Proficient</span>
                                                                    <h3 class="cele-activity-card__title">Intonation</h3>
                                                                    <i class="cele-activity-card__header-icon ss-icon ss-right"></i>
                                                                </header>
                                                                <div class="cele-activity-card__body">
                                                                    <p>Learn how intonation can affect the meaning of certain words</p>
                                                                </div>
                                                                <footer class="cele-activity-card__footer">
                                                                    <ul class="cele-activity-card__meta">
                                                                        <li class="cele-activity-card__meta__item">
                                                                            C1-C2
                                                                        </li>
                                                                        <li class="cele-activity-card__meta__item">
                                                                            0–5 <span>minutes</span>
                                                                        </li>
                                                                    </ul>
                                                                </footer>
                                                            </a>
                                                        </article>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <aside class="cele-banner-promo">
                                    <div class="cele-banner-promo__inner">
                                        <h2 class="cele-banner-promo__title">We have more than 175 free activities to help you practise your English</h2>
                                        @*<a href="/learning-english/activities-for-learners/" class="cele-action cele-action--color-d">
                                            <span>Search</span>
                                            <i class="ss-icon ss-search" aria-hidden="true"></i>
                                        </a>*@
                                    </div>
                                </aside><div class="cele-promo-group">
                                    <div class="cele-promo-group__inner">



                                        <article class="cele-promo cele-promo--style-c ">
                                            <a href="#" class="cele-promo__inner">
                                                <div class="cele-promo__media">
                                                    <picture>
                                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                        <source media="(min-width: 752px)" srcset="/Cambridge/static-assets/Images/a1r002-the-teacher-sml_tcm32-346637_w800.jpg">
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <!--[if lt IE 9]><img srcset="/Cambridge/static-assets/Images/a1r002-the-teacher-sml_tcm32-346637_w800.jpg" alt=""/><![endif]-->
                                                        <!--[if !lt IE 9]><!-->
                                                        <img srcset="/Cambridge/static-assets/Images/a1r002-the-teacher_tcm32-346635_w800.jpg" alt="">
                                                        <!--<![endif]-->
                                                    </picture>
                                                </div>
                                                <div class="cele-promo__body">
                                                    <header class="cele-promo__header">
                                                        <h3 class="cele-promo__title">
                                                            Free activities for young learners <i class="ss-icon ss-right"></i>
                                                        </h3>
                                                    </header>
                                                    <div class="cele-promo__text">
                                                        <p>Search for free activities to help children practise their reading and writing, listening or speaking skills.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>

                                        <article class="cele-promo cele-promo--style-b ">
                                            <a href="#" class="cele-promo__inner">
                                                <div class="cele-promo__media">
                                                    <picture>
                                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                        <source media="(min-width: 752px)" srcset="/Cambridge/static-assets/Images/write-and-improve_tcm32-338568_w800.png">
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <!--[if lt IE 9]><img srcset="/Cambridge/static-assets/Images/write-and-improve_tcm32-338568_w800.png" alt="" /><![endif]-->
                                                        <!--[if !lt IE 9]><!-->
                                                        <img srcset="/Cambridge/static-assets/Images/write-and-improve_tcm32-338568_w800.png" alt="">
                                                        <!--<![endif]-->
                                                    </picture>
                                                </div>
                                                <div class="cele-promo__body">
                                                    <header class="cele-promo__header">
                                                        <h3 class="cele-promo__title">Free writing practice <i class="ss-icon ss-right"></i></h3>
                                                    </header>
                                                    <div class="cele-promo__text">
                                                        <p>With <em>Write &amp; Improve</em> you can practise your written English for free and get feedback in seconds!</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>

                                        <article class="cele-promo cele-promo--style-b ">
                                            <a href="#" class="cele-promo__inner">
                                                <div class="cele-promo__media">
                                                    <picture>
                                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                        <source media="(min-width: 752px)" srcset="/Cambridge/static-assets/Images/exam-preparation-materials-16x9_tcm32-582999_w800.jpg">
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <!--[if lt IE 9]><img srcset="/Cambridge/static-assets/Images/exam-preparation-materials-16x9_tcm32-582999_w800.jpg" alt="" /><![endif]-->
                                                        <!--[if !lt IE 9]><!-->
                                                        <img srcset="/Cambridge/static-assets/Images/exam-preparation-materials-16x9_tcm32-582999_w800.jpg" alt="">
                                                        <!--<![endif]-->
                                                    </picture>
                                                </div>
                                                <div class="cele-promo__body">
                                                    <header class="cele-promo__header">
                                                        <h3 class="cele-promo__title">Exam preparation <i class="ss-icon ss-right"></i></h3>
                                                    </header>
                                                    <div class="cele-promo__text">
                                                        <p>Download free sample tests and vocabulary lists, and get tips for your exam day.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>

                                        <article class="cele-promo cele-promo--style-c ">
                                            <a href="#" class="cele-promo__inner">
                                                <div class="cele-promo__media">
                                                    <picture>
                                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                        <source media="(min-width: 752px)" srcset="/Cambridge/static-assets/Images/resources-for-teachers-LE-promo-8x9_tcm32-582201_w800.jpg">
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <!--[if lt IE 9]><img srcset="/Cambridge/static-assets/Images/resources-for-teachers-LE-promo-8x9_tcm32-582201_w800.jpg" alt=""/><![endif]-->
                                                        <!--[if !lt IE 9]><!-->
                                                        <img srcset="/Cambridge/static-assets/Images/resources-for-teachers-LE-promo-16x9_tcm32-582202_w800.jpg" alt="">
                                                        <!--<![endif]-->
                                                    </picture>
                                                </div>
                                                <div class="cele-promo__body">
                                                    <header class="cele-promo__header">
                                                        <h3 class="cele-promo__title">
                                                            Are you a teacher?  <i class="ss-icon ss-right"></i>
                                                        </h3>
                                                    </header>
                                                    <div class="cele-promo__text">
                                                        <p>We have a wide range of materials that you can use in your classroom, including handbooks and lesson plans</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>

                                        <article class="cele-promo cele-promo--style-b ">
                                            <a href="#" class="cele-promo__inner">
                                                <div class="cele-promo__media">
                                                    <picture>
                                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                        <source media="(min-width: 752px)" srcset="/Cambridge/static-assets/Images/english-for-children_2-16x9_tcm32-288790_w800.jpg">
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <!--[if lt IE 9]><img srcset="/Cambridge/static-assets/Images/english-for-children_2-16x9_tcm32-288790_w800.jpg" alt="" /><![endif]-->
                                                        <!--[if !lt IE 9]><!-->
                                                        <img srcset="/Cambridge/static-assets/Images/english-for-children_2-16x9_tcm32-288790_w800.jpg" alt="">
                                                        <!--<![endif]-->
                                                    </picture>
                                                </div>
                                                <div class="cele-promo__body">
                                                    <header class="cele-promo__header">
                                                        <h3 class="cele-promo__title">Information for parents <i class="ss-icon ss-right"></i></h3>
                                                    </header>
                                                    <div class="cele-promo__text">
                                                        <p>We have created a range of free resources full of tips and advice to help support your child as they learn English.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>

                                        <article class="cele-promo cele-promo--style-b ">
                                            <a href="#" class="cele-promo__inner">
                                                <div class="cele-promo__media">
                                                    <picture>
                                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                        <source media="(min-width: 752px)" srcset="/Cambridge/static-assets/Images/exam-preparation-16x9_tcm32-288788_w800.jpg">
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <!--[if lt IE 9]><img srcset="/Cambridge/static-assets/Images/exam-preparation-16x9_tcm32-288788_w800.jpg" alt="" /><![endif]-->
                                                        <!--[if !lt IE 9]><!-->
                                                        <img srcset="/Cambridge/static-assets/Images/exam-preparation-16x9_tcm32-288788_w800.jpg" alt="">
                                                        <!--<![endif]-->
                                                    </picture>
                                                </div>
                                                <div class="cele-promo__body">
                                                    <header class="cele-promo__header">
                                                        <h3 class="cele-promo__title">More free resources <i class="ss-icon ss-right"></i></h3>
                                                    </header>
                                                    <div class="cele-promo__text">
                                                        <p>Listen to our audio series, Virtually Anywhere – a great activity for independent learners (B1-B2) – or get feedback on your writing in seconds with Cambridge English Write &amp; Improve.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>

                                        <article class="cele-promo cele-promo--style-c ">
                                            <a href="#" class="cele-promo__inner">
                                                <div class="cele-promo__media">
                                                    <picture>
                                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                        <source media="(min-width: 752px)" srcset="/Cambridge/static-assets/Images/cambridge-dictionary-plus-8x9_tcm32-582722_w800.jpg">
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <!--[if lt IE 9]><img srcset="/Cambridge/static-assets/Images/cambridge-dictionary-plus-8x9_tcm32-582722_w800.jpg" alt=""/><![endif]-->
                                                        <!--[if !lt IE 9]><!-->
                                                        <img srcset="/Cambridge/static-assets/Images/cambridge-dictionary-plus-16x9_tcm32-582723_w800.jpg" alt="">
                                                        <!--<![endif]-->
                                                    </picture>
                                                </div>
                                                <div class="cele-promo__body">
                                                    <header class="cele-promo__header">
                                                        <h3 class="cele-promo__title">
                                                            Cambridge Dictionary +Plus <i class="ss-icon ss-right"></i>
                                                        </h3>
                                                    </header>
                                                    <div class="cele-promo__text">
                                                        <p>Learn some new words, improve your grammar, and download free quizzes and wordlists. Cambridge Dictionary +Plus is there to help English work for you.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>

                                        <article class="cele-promo cele-promo--style-b ">
                                            <a href="#" class="cele-promo__inner">
                                                <div class="cele-promo__media">
                                                    <picture>
                                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                        <source media="(min-width: 752px)" srcset="/Cambridge/static-assets/Images/ceq-orange-le-16x9_tcm32-582707_w800.jpg">
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <!--[if lt IE 9]><img srcset="/Cambridge/static-assets/Images/ceq-orange-le-16x9_tcm32-582707_w800.jpg" alt="" /><![endif]-->
                                                        <!--[if !lt IE 9]><!-->
                                                        <img srcset="/Cambridge/static-assets/Images/ceq-orange-le-16x9_tcm32-582707_w800.jpg" alt="">
                                                        <!--<![endif]-->
                                                    </picture>
                                                </div>
                                                <div class="cele-promo__body">
                                                    <header class="cele-promo__header">
                                                        <h3 class="cele-promo__title">Cambridge English Qualifications <i class="ss-icon ss-right"></i></h3>
                                                    </header>
                                                    <div class="cele-promo__text">
                                                        <p>Find out more about Cambridge English Qualifications – our in-depth exams that make learning English enjoyable and rewarding.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>

                                        <article class="cele-promo cele-promo--style-b ">
                                            <a href="#" class="cele-promo__inner">
                                                <div class="cele-promo__media">
                                                    <picture>
                                                        <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                        <source media="(min-width: 752px)" srcset="/Cambridge/static-assets/Images/linguaskill-yellow-le-16x9_tcm32-582709_w800.jpg">
                                                        <!--[if IE 9]></video><![endif]-->
                                                        <!--[if lt IE 9]><img srcset="/Cambridge/static-assets/Images/linguaskill-yellow-le-16x9_tcm32-582709_w800.jpg" alt="" /><![endif]-->
                                                        <!--[if !lt IE 9]><!-->
                                                        <img srcset="/Cambridge/static-assets/Images/linguaskill-yellow-le-16x9_tcm32-582709_w800.jpg" alt="">
                                                        <!--<![endif]-->
                                                    </picture>
                                                </div>
                                                <div class="cele-promo__body">
                                                    <header class="cele-promo__header">
                                                        <h3 class="cele-promo__title">Linguaskill <i class="ss-icon ss-right"></i></h3>
                                                    </header>
                                                    <div class="cele-promo__text">
                                                        <p>Linguaskill is a quick and convenient online test to help organisations check the English levels of individuals and groups of candidates, powered by Artificial Intelligence technology.</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </article>
                                    </div>
                                </div>


                            </div>


                            <!-- END Learning English HTML -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

