﻿
@{
    ViewBag.Title = "ParentsandChildren";
    Layout = "~/Views/Shared/_CambridgeLayoutPage.cshtml";
}

<main class="bg--image" id="anchor-main" role="main">
    <div class="banner">
        <div class="banner_container">
            <div id="landingPg" class="box landingPage corp-colour-4">
                <!--googleon: index-->
                



                <script type="text/javascript">

    $(document).ready(function () {
        $('.breadcrumb, .breadcrumbs').breadcrumb();
    });

                </script>
                <header class="subHeader" id="content_subheader">

                    <h1>
                        Parents and children
                    </h1>
                </header>
                <div class="body">

                    @*<div class="yui3-g mainContentsContainer">*@
                        
                            <div class="yui3-c">

                                <div class="article teaser">
                                    <div class="feature">
                                        <div>


                                            <p>This is a great place for children to start or continue their English language journey. We have games and interactive activities for children and lots of advice and tips for parents.</p>
                                            <p>
                                                <strong>Children</strong>
                                                <br>
                                                You can get started on our <a href="#" title="Games">games</a> and <a href="#" title="Activities for children">activities</a> now – you don’t need to log in and everything is completely free.
                                            </p>
                                            <p>
                                                <strong>Parents</strong>
                                                <br>
                                                If you’re looking for help and advice on supporting your children to learn English, go to our <a href="#" title="Information for parents">Information for parents</a> section. Everything is completely free and created by our experts.
                                            </p>




                                        </div>
                                    </div>
                                </div>
                                <div class="img--btn-wrapper">
                                    <div class="yui3-g">
                                        <div class="yui3-u-1 yui3-u-sm-1-2">
                                            <div class="yui3-c">
                                                <div class="panel panel--heading-overlay panel--heading-overlay--bottom clickable">
                                                    <div class="panel_container">
                                                        <h2>
                                                            <img src="~/Cambridge/images/information-for-parents.jpg" alt="Information for parents">
                                                            <span class="panel_heading-container">
                                                                <a href="#" title="Information for parents">Information for parents</a>
                                                            </span>
                                                        </h2>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="yui3-u-1 yui3-u-sm-1-2">
                                            <div class="yui3-c">
                                                <div class="panel panel--heading-overlay panel--heading-overlay--bottom clickable">
                                                    <div class="panel_container">
                                                        <h2>
                                                            <img src="~/Cambridge/images/activities-for-children-270619.jpg" alt="Activities for children">
                                                            <span class="panel_heading-container">
                                                                <a href="#" title="Activities for children">Activities for children</a>
                                                            </span>
                                                        </h2>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="yui3-u-1 yui3-u-sm-1-2">
                                            <div class="yui3-c">
                                                <div class="panel panel--heading-overlay panel--heading-overlay--bottom clickable">
                                                    <div class="panel_container">
                                                        <h2>
                                                            <img src="~/Cambridge/images/learning-english-games-237px.png" alt="Games and Social Media">
                                                            <span class="panel_heading-container">
                                                                <a href="#" title="Games and social media ">Games and social media</a>
                                                            </span>
                                                        </h2>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="yui3-u-1 yui3-u-sm-1-2">
                                            <div class="yui3-c">
                                                <div class="panel panel--heading-overlay panel--heading-overlay--bottom clickable">
                                                    <div class="panel_container">
                                                        <h2>
                                                            <img src="~/Cambridge/images/exams.jpg" alt="Exams">
                                                            <span class="panel_heading-container">
                                                                <a href="#" title="Exams">Exams</a>
                                                            </span>
                                                        </h2>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                    @*</div>*@
                </div>
                <!--googleoff: index-->
            </div>
        </div>
    </div>
</main>

