﻿
@{
    ViewBag.Title = "YLEFlyers";
    Layout = "~/Views/Shared/_CambridgeLayoutPage.cshtml";
}

<main class="bg--image" id="anchor-main" role="main">
    <div class="banner">
        <div class="banner_container">
            <div id="landingPg" class="box landingPage corp-colour-8">
                <!--googleon: index-->
                



                <script type="text/javascript">

    $(document).ready(function () {
        $('.breadcrumb, .breadcrumbs').breadcrumb();
    });

                </script>
                <header class="subHeader" id="content_subheader">

                    <h1>
                        A2 Flyers
                    </h1>
                </header>
                <div class="body">

                    <div class="yui3-g mainContentsContainer">
                       
                            <div class="yui3-c">

                                <div class="yui3-g text_and_call-to-action--75-25">
                                    <div class="yui3-u-1 yui3-u-md-3-4">
                                        <div class="yui3-c">
                                            <h2 class="strapline">
                                                A2 Flyers, formerly known as Cambridge English: Flyers (YLE Flyers), is one of our <a href="#">Cambridge English Qualifications</a>. It is the third of our fun, activity-based English tests for children.
                                            </h2>
                                        </div>
                                    </div>
                                    @*<div class="yui3-u-1 yui3-u-md-1-4">
                                        <div class="yui3-c btn--container">
                                            <a href="/find-a-centre/find-an-exam-centre/index.aspx" title="Book a test" class="btn btn--ce"><span>Book a test</span></a>
                                        </div>
                                    </div>*@
                                </div>
                                <hr class="divider"><div class="yui3-g text_and_table_50-50">
                                    <div class="yui3-u-1 yui3-u-md-1-2">
                                        <div class="yui3-c">


                                            <p>A2 Flyers is the third of three <a href="#">Cambridge English Qualifications designed for young learners</a>. These tests introduce children to everyday written and spoken English and are an excellent way for them to gain confidence and improve their English.</p>
                                            <p>The tests are written around familiar topics and focus on the skills needed to communicate effectively in English through listening, speaking, reading and writing.</p>
                                            @*<p><a href="/Images/153312-yle-information-for-candidates.pdf" target="_blank" title=" Information for candidates and parents of Cambridge English Qualifications Pre A1 Starters, A1 Movers and A2 Flyers">Information for candidates and parents</a></p>
                                            <p><a href="/Images/467357-a2-flyers-faqs.pdf" target="_blank">Download the A2 Flyers FAQs</a></p>*@
                                        </div>
                                    </div>
                                    <div class="yui3-u-1 yui3-u-md-1-2">
                                        <div class="yui3-c">
                                            <div class="panel panel--ce panel--key-facts">
                                                <div class="panel_container">
                                                    <h2 class="heading-2 heading-2--anchor--call-to-action">
                                                        <span class="panel_heading-container">

                                                            Key facts

                                                        </span>
                                                    </h2>

                                                    <div class="panel_content-container">
                                                        <table class="table--vanilla">
                                                            <tbody>
                                                                <tr>
                                                                    <th>CEFR level:</th>
                                                                    <td>A2 <a href="#" title="CEFR">What's this?</a></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Test format:</th>
                                                                    <td>Paper-based</td>
                                                                </tr>
                                                                <tr>
                                                                    <th>No. of papers:</th>
                                                                    <td>
                                                                        3
                                                                        <br>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Test length:</th>
                                                                    <td>About 1 hour 15 minutes</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="divider"><iframe src="https://www.youtube.com/embed/C3qJPrrGz3w?wmode=transparent&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwww.cambridgeenglish.org" allow="autoplay; encrypted-media" allowfullscreen="" height="400" frameborder="0" data-gtm-yt-inspected-338983_28="true" id="637119741" data-gtm-yt-inspected-338983_214="true"></iframe><div class="article teaser">
                                    <div class="feature">
                                        <div>


                                            <br>
                                            <hr>




                                        </div>
                                    </div>
                                </div><div class="yui3-g panel_and_panel--50-50">
                                    <!-- Check whether Container Component contains any inner components or not? -->
                                    <!-- Loop to render multiple inner components added in the Container component-->
                                    <!-- check whether inner component's schema "Content" or not?-->
                                    <div class="yui3-u-1 yui3-u-sm-1-2">
                                        <div class="yui3-c">
                                            <div class="panel panel--ce panel--ce--1">
                                                <div class="panel_container">
                                                    <h2 class="heading-2 heading-2--anchor--call-to-action">
                                                        <!-- Render small image and alt text from inner components -->
                                                        <img src="/Images/kids-english-classroom.jpg" class="image--small" alt="Four kids in their English classroom">
                                                        <span class="panel_heading-container">
                                                            <!--<a title="What can I use this exam for?" href="https://www.google.com" class="anchor--call-to-action--external">-->
                                                            <!-- Render Title from inner Components -->
                                                            A2 Flyers can help your child:                                            <!--</a>-->
                                                        </span>
                                                    </h2>
                                                    <div class="panel_content-container">
                                                        <ul class="fa-ul">
                                                            <!-- Loop to render multiple title with style from bodymultiple RichText Filed -->
                                                            <li>
                                                                <i class="fa-li fa fa-chevron-right"></i>
                                                                <span>understand simple written English</span>
                                                            </li>
                                                            <li>
                                                                <i class="fa-li fa fa-chevron-right"></i>
                                                                <span>communicate in familiar situations</span>
                                                            </li>
                                                            <li>
                                                                <i class="fa-li fa fa-chevron-right"></i>
                                                                <span>understand and use basic phrases and expressions</span>
                                                            </li>
                                                            <li>
                                                                <i class="fa-li fa fa-chevron-right"></i>
                                                                <span>interact with English speakers who talk slowly and clearly.</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- check whether inner component's schema "Content" or not?-->
                                    <div class="yui3-u-1 yui3-u-sm-1-2">
                                        <div class="yui3-c">
                                            <div class="panel panel--ce panel--ce--2">
                                                <div class="panel_container">
                                                    <h2 class="heading-2 heading-2--anchor--call-to-action">
                                                        <!-- Render small image and alt text from inner components -->
                                                        <img src="/Images/girl-holding-flyers-certificate.jpg" class="image--small" alt="A girl holding her Cambridge English: Flyers certificate">
                                                        <span class="panel_heading-container">
                                                            <!--<a title="What can I use this exam for?" href="https://www.google.com" class="anchor--call-to-action--external">-->
                                                            <!-- Render Title from inner Components -->
                                                            Reasons to choose A2 Flyers:                                            <!--</a>-->
                                                        </span>
                                                    </h2>
                                                    <div class="panel_content-container">
                                                        <ul class="fa-ul">
                                                            <!-- Loop to render multiple title with style from bodymultiple RichText Filed -->
                                                            <li>
                                                                <i class="fa-li fa fa-chevron-right"></i>
                                                                <span>There’s no pass or fail – every child gets a Cambridge English certificate which celebrates their achievements.</span>
                                                            </li>
                                                            <li>
                                                                <i class="fa-li fa fa-chevron-right"></i>
                                                                <span>The test uses realistic everyday situations to bring learning to life.</span>
                                                            </li>
                                                            <li>
                                                                <i class="fa-li fa fa-chevron-right"></i>
                                                                <span>The test covers all major varieties of English (e.g. British English, American English).</span>
                                                            </li>
                                                            <li>
                                                                <i class="fa-li fa fa-chevron-right"></i>
                                                                <span>We have a huge range of free and paid-for support.</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="divider"><div class="article teaser">
                                    <div class="feature">
                                        <div>


                                            <div class="yui3-g text_and_video--50-50">
                                                <div class="yui3-u-1 yui3-u-md-1">
                                                    <div class="yui3-c">
                                                        <blockquote>
                                                            <p>Preparing for a Cambridge English exam is highly motivating for students.</p>
                                                            <footer>
                                                                <p>
                                                                    <em>
                                                                        <strong>Mark Thomas</strong>
                                                                        <br>
                                                                        English Teacher, VHS Berlin-Pankow, Germany
                                                                    </em>
                                                                </p>
                                                            </footer>
                                                        </blockquote>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>




                                        </div>
                                    </div>
                                </div><div class="yui3-g text_and_call-to-action--75-25">
                                    <div class="yui3-u-1 yui3-u-md-3-4">
                                        <div class="yui3-c">
                                            <p>Find your local centre to book your child's test</p>
                                        </div>
                                    </div>
                                    @*<div class="yui3-u-1 yui3-u-md-1-4">
                                        <div class="yui3-c btn--container">
                                            <a href="/find-a-centre/find-an-exam-centre/index.aspx" title="Book a test" class="btn btn--ce"><span>Book a test</span></a>
                                        </div>
                                    </div>*@
                                </div><div class="article teaser">
                                    <div class="feature">
                                        <div>







                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <!--googleoff: index-->
            </div>
        </div>
    </div>
</main>
