﻿@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.6.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*inner cont======*/

.inr_cont {
    padding: 20px 0px;
    margin: 0px;
}

.right_colum {
    padding: 0px;
    margin: 0px;
}

.cont_area {
    padding: 18px;
    border: 1px solid #e6e6e6;
}

    .cont_area h3 {
        font-size: 18px;
        color: #571d1b;
        font-weight: 600;
        padding-bottom: 20px;
    }

    .cont_area p {
        font-size: 13px;
    }

.news_sec {
    padding: 0px;
    margin-bottom: 30px;
    background: #ffffff;
}

.news_heading {
    padding: 0px;
    margin: 0px;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #4e2423 0%, #ff711d 100%) repeat scroll 0 0;
}

    .news_heading h4 {
        color: #fff;
        font: 600 24px/64px "Open Sans Condensed",sans-serif;
        padding: 0 0 0 20px;
        letter-spacing: 1px;
        margin: 0;
        text-transform: uppercase;
    }

/*========= Photo gallery =========*/

.gl_bx {
    padding: 12px;
    margin-bottom: 30px;
    min-height: 332px;
    background: #561d19;
}

.gl_bx_inr {
    width: 100%;
    padding: 10px;
    border: 1px solid #a9a3a2;
}

    .gl_bx_inr img {
        width: 100%;
    }

    .gl_bx_inr:hover img {
        width: 100%;
        opacity: 0.6;
        -moz-transition: "transform .3s linear";
        -o-transition: "transform .3s linear";
        -webkit-transition: "transform .3s linear";
        transition: "transform .3s linear";
    }

.gl_bx_hd {
    padding: 10px 0px;
    padding-left: 0px;
    margin: 0px;
    margin-top: 0px;
    font-size: 14px;
    color: #ffffff;
    line-height: 24px;
    border-left: 2px solid #ffffff;
    margin-top: 20px;
    padding-left: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

/*========== Accordion Menu Start ==============*/


.drop_menu {
    float: left;
    outline: 0;
    position: relative;
    width: 100%;
}

    .drop_menu * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: 0;
    }

    .drop_menu .drop_menu-footer {
        background: #414956;
        color: #f0f0f0;
        float: left;
        font-weight: normal;
        height: 50px;
        line-height: 50px;
        font-size: 6px;
        width: 100%;
        text-align: center;
    }

    .drop_menu .drop_menu-header {
        background: #414956;
        color: #f0f0f0;
        font-weight: bold;
        height: 50px;
        line-height: 50px;
        text-align: center;
        width: 100%;
    }

    .drop_menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .drop_menu ul li {
            display: block;
            float: left;
            position: relative;
            width: 100%;
        }

            .drop_menu ul li a {
                background: #561d19;
                color: #ffffff;
                float: left;
                font-size: 13px;
                overflow: hidden;
                padding: 14px 22px;
                position: relative;
                text-decoration: none;
                white-space: nowrap;
                width: 100%;
            }

                .drop_menu ul li a i {
                    float: left;
                    font-size: 16px;
                    line-height: 18px;
                    text-align: left;
                    width: 34px;
                }

            .drop_menu ul li .drop_menu-label {
                background: #f0f0f0;
                border-radius: 100%;
                color: #555555;
                font-size: 11px;
                font-weight: 800;
                line-height: 18px;
                min-width: 20px;
                padding: 1px 2px 1px 1px;
                position: absolute;
                right: 18px;
                text-align: center;
                top: 14px;
            }

        .drop_menu ul .accordion_menu {
            display: none;
            position: static;
            width: 100%;
        }

            .drop_menu ul .accordion_menu .accordion_menu-indicator {
                line-height: 16px;
            }

            .drop_menu ul .accordion_menu li {
                clear: both;
                width: 100%;
            }

                .drop_menu ul .accordion_menu li ul.accordion_menu {
                    display: none;
                    position: static;
                    width: 100%;
                    overflow: hidden;
                }

                .drop_menu ul .accordion_menu li a {
                    background: #bf5c23;
                    border-bottom: 1px solid #ffffff;
                    border-left: solid 6px transparent;
                    border-top: none;
                    float: left;
                    font-size: 11px;
                    position: relative;
                    width: 100%;
                }

                .drop_menu ul .accordion_menu li:hover > a { /*  border-left-color: #414956; */
                }

                .drop_menu ul .accordion_menu li .drop_menu-label {
                    background: #f0f0f0;
                    border-radius: 100%;
                    color: #555555;
                    font-size: 11px;
                    font-weight: 800;
                    line-height: 18px;
                    min-width: 20px;
                    padding: 1px 2px 1px 1px;
                    position: absolute;
                    right: 18px;
                    text-align: center;
                    top: 12px;
                    top: 14px;
                }

            .drop_menu ul .accordion_menu > li > a {
                padding-left: 30px;
            }

            .drop_menu ul .accordion_menu > li > ul.accordion_menu > li > a {
                padding-left: 45px;
                background: #34110e;
                border-bottom: 1px solid #ffffff;
            }

            .drop_menu ul .accordion_menu > li > ul.accordion_menu > li > ul.accordion_menu > li > a {
                padding-left: 60px;
            }

    .drop_menu .accordion_menu-indicator {
        -moz-transition: "transform .3s linear";
        -o-transition: "transform .3s linear";
        -webkit-transition: "transform .3s linear";
        transition: "transform .3s linear";
        float: right;
        font-size: 20px;
        line-height: 19px;
        position: absolute;
        right: 22px;
    }

    .drop_menu .accordion_menu-indicator-minus > .accordion_menu-indicator {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .drop_menu > ul > li.active > a {
        background: #3b424d;
        color: #ffffff;
    }

    .drop_menu > ul > li:hover > a {
        background: #3b424d;
        color: #ffffff;
    }

    .drop_menu > ul > li > a {
        border-bottom: solid 1px #ffffff;
    }

.ink {
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    display: block;
    position: absolute;
    transform: scale(0);
}

.animate-ink {
    -moz-animation: ripple .3s linear;
    -ms-animation: ripple .3s linear;
    -o-animation: ripple .3s linear;
    -webkit-animation: ripple .3s linear;
    animation: ripple .3s linear;
}

.blue.drop_menu .drop_menu-footer {
    background: #4a89dc;
}

.blue.drop_menu .drop_menu-header {
    background: #4a89dc;
}

.blue.drop_menu ul li > a {
    background: #4a89dc;
}

.blue.drop_menu ul ul.accordion_menu li:hover > a {
    border-left-color: #3e82da;
}

.blue.drop_menu > ul > li.active > a {
    background: #3e82da;
}

.blue.drop_menu > ul > li:hover > a {
    background: #3e82da;
}

.blue.drop_menu > ul > li > a {
    border-bottom-color: #3e82da;
}

.white.drop_menu .drop_menu-footer {
    background: #ffffff;
    color: #555555;
}

.white.drop_menu .drop_menu-header {
    background: #ffffff;
    color: #555555;
}

.white.drop_menu ul li a {
    background: #ffffff;
    color: #555555;
}

.white.drop_menu ul ul.accordion_menu li:hover > a {
    border-left-color: #f0f0f0;
}

.white.drop_menu ul ul.accordion_menu li a {
    color: #f0f0f0;
}

.white.drop_menu > ul > li.active > a {
    background: #f0f0f0;
}

.white.drop_menu > ul > li:hover > a {
    background: #f0f0f0;
}

.white.drop_menu > ul > li > a {
    border-bottom-color: #f0f0f0;
}

    .white.drop_menu > ul > li > a > .ink {
        background: rgba(0, 0, 0, 0.1);
    }


/*========== Accordion Menu Finish ==============*/

#first-section {
    background-color: #4B77BE;
    display: inline;
    width: 100%;
    float: left;
}

    #first-section .first-section-area {
        display: inline;
        float: left;
        width: 100%;
        text-align: center;
        padding: 150px 0;
    }

        #first-section .first-section-area span {
            color: #ccc;
            font-size: 18px;
        }

        #first-section .first-section-area h1 {
            color: #fff;
            font-size: 50px;
            letter-spacing: 1px;
            line-height: 50px;
            margin-top: 20px;
        }

.gl_ind_bxs {
    padding: 0px;
    margin-bottom: 30px;
}

.wpf-demo-1 {
    background-color: #FFF;
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 0 #555;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
    filter: alpha(opacity=100);
}

    .wpf-demo-1 img {
        height: 100%;
        width: 100%;
    }

    .wpf-demo-1:hover .view-caption {
        opacity: 1;
        filter: alpha(opacity=100);
        border: 15px solid #fff;
    }

        .wpf-demo-1:hover .view-caption a {
            padding-top: 35%;
        }

    .wpf-demo-1 .view-caption {
        background-color: rgba(86, 29, 25, 0.8);
        border: 10px solid #fff;
        bottom: 0;
        color: #fff;
        left: 0;
        margin: 10px;
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
        right: 0;
        text-align: center;
        top: 0;
        z-index: 99;
        -webkit-transition: all 0.75s ease-in-out 0s;
        -moz-transition: all 0.75s ease-in-out 0s;
        -ms-transition: all 0.75s ease-in-out 0s;
        -o-transition: all 0.75s ease-in-out 0s;
        transition: all 0.75s ease-in-out 0s;
    }

        .wpf-demo-1 .view-caption h3 {
            font-size: 24px;
            color: #ffffff;
            text-align: center;
            padding-top: 100px;
        }

        .wpf-demo-1 .view-caption a {
            color: #fff;
            display: block;
            font-size: 30px;
            font-weight: bold;
            height: 100%;
            padding-top: 35%;
            -webkit-transition: all 0.75s ease-in-out 0s;
            -moz-transition: all 0.75s ease-in-out 0s;
            -ms-transition: all 0.75s ease-in-out 0s;
            -o-transition: all 0.75s ease-in-out 0s;
            transition: all 0.75s ease-in-out 0s;
        }

    .wpf-demo-1 .gallery {
        padding: 0px;
        margin: 0px;
    }

        .wpf-demo-1 .gallery a {
            text-decoration: none;
        }

a:hover {
    text-decoration: none;
}


.event_nm {
    padding: 7px 10px;
    margin: 0px;
    background: #561d19;
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

    .event_nm:hover {
        display: none;
    }

.svg-inline--fa.fa-w-12 {
    width: 2em;
}
