﻿.notices {
    list-style: none;
    display: inline-flex;
    width: 100%;
    box-shadow: 3px 1px 30px 1px #80808047;
    border-radius: 5px;
    padding: 13px 0px 0px;
}

    .notices li:first-child {
        width: 10em;
        padding: 10px 12px;
        border-right: 2px dashed #ea3637;
    }

    .notices li:nth-child(2) {
        padding: 10px 12px;
        width: 43em;
    }

@media only screen and (max-width: 570px) {
    .notices {
        display: block;
    }

        .notices li:first-child {
            width: 100%;
            border-right: none;
            border-bottom: 2px dashed #ea3637;
        }

        .notices li:nth-child(2) {
            width: 100%;
        }
}

.informationbooklet {
    list-style: none;
    display: inline-flex;
    width: 100%;
    box-shadow: 3px 1px 1px 1px #80808047;
    border-radius: 5px;
    padding: 13px 0px 0px;
}

    .informationbooklet li:first-child {
        width: 15%;
        padding: 10px 12px 0px;
        border-right: 2px dashed #ea3637;
    }

    .informationbooklet li:nth-child(2) {
        padding: 10px 12px 0px;
        width: 70%;
        border-right: 2px dashed #ea3637;
    }

    .informationbooklet li:nth-child(3) {
        padding: 10px 12px 0px;
        width: 15%;
        text-align: center;
    }

@media only screen and (max-width: 750px) {
    .informationbooklet {
        display: block;
    }

        .informationbooklet li:first-child {
            width: 100%;
            border-right: none;
            border-bottom: 2px dashed #ea3637;
        }

        .informationbooklet li:nth-child(2) {
            width: 100%;
            border-right: none;
        }
          .informationbooklet li:nth-child(3) {
            width: 100%;
             padding: 10px 12px;
        }
}
