﻿
@{
    ViewBag.Title = "CreateOrEditPaymentmode";
    Layout = "~/Views/Shared/_ReceiptLayoutPage.cshtml";
}

@model odm_site.Controllers.ReceiptController.Paymentmode_cls
<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Or Edit Paymentmode Details</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("SaveOrUpdatePaymentmode", "Receipt", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                        {
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Paymentmode_Name)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.TextBoxFor(a => a.Paymentmode_Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Paymentmode_Name)
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>

                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    @Html.HiddenFor(a => a.Paymentmode_Id)
                                    <div class="clearfix" style="margin-bottom:10px;"></div>

                                </div>
                                <div class="col-md-2">

                                </div>

                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
