﻿@{
    ViewBag.Title = "CreateOrEditReceipt";
    Layout = "~/Views/Shared/_ReceiptLayoutPage.cshtml";
}
@model odm_site.Controllers.ReceiptController.Receiptentry_Cls
<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Or Edit Student Details</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("SaveOrUpdateReceipt", "Receipt", FormMethod.Post,
new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-6">
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Student_Id)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DropDownListFor(a => a.Student_Id, new SelectList(ViewBag.studentlist, "Value", "Text"), "Select Student", new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(a => a.Student_Id,"",new { @class="text-danger"})
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Purpose1)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DropDownListFor(a => a.Purpose1, new SelectList(ViewBag.purposelist, "Value", "Text"), "Select Purpose", new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(a => a.Purpose1,"",new { @class="text-danger"})
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Amount1)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">

                                        @Html.TextBoxFor(a => a.Amount1, new { @class = "form-control", @type = "number", @onchange = "sumofamounts()" })
                                        @Html.ValidationMessageFor(a => a.Amount1,"",new { @class="text-danger"})
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Purpose2)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DropDownListFor(a => a.Purpose2, new SelectList(ViewBag.purposelist, "Value", "Text"), "Select Purpose", new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(a => a.Purpose2,"",new { @class="text-danger"})
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Amount2)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">

                                        @Html.TextBoxFor(a => a.Amount2, new { @class = "form-control", @type = "number", @onchange = "sumofamounts()" })
                                        @Html.ValidationMessageFor(a => a.Amount2,"",new { @class="text-danger"})
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>

                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Purpose3)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DropDownListFor(a => a.Purpose3, new SelectList(ViewBag.purposelist, "Value", "Text"), "Select Purpose", new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(a => a.Purpose3,"",new { @class="text-danger"})
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Amount3)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">

                                        @Html.TextBoxFor(a => a.Amount3, new { @class = "form-control", @type = "number", @onchange = "sumofamounts()" })
                                        @Html.ValidationMessageFor(a => a.Amount3,"",new { @class="text-danger"})
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Purpose4)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DropDownListFor(a => a.Purpose4, new SelectList(ViewBag.purposelist, "Value", "Text"), "Select Purpose", new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(a => a.Purpose4,"",new { @class="text-danger"})
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Amount4)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">

                                        @Html.TextBoxFor(a => a.Amount4, new { @class = "form-control", @type = "number", @onchange = "sumofamounts()" })
                                        @Html.ValidationMessageFor(a => a.Amount4,"",new { @class="text-danger"})
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Note)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">

                                        @Html.TextAreaFor(a => a.Note, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(a => a.Note, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Adjustment_Amount)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">

                                        @Html.TextBoxFor(a => a.Adjustment_Amount, new { @class = "form-control", @type = "number", @onchange = "sumofamounts()" })
                                        @Html.ValidationMessageFor(a => a.Adjustment_Amount,"",new { @class="text-danger"})
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Grand_Total)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">

                                        @Html.TextBoxFor(a => a.Grand_Total, new { @class = "form-control", @type = "number", @readonly = "@readonly" })
                                        @Html.ValidationMessageFor(a => a.Grand_Total,"",new { @class="text-danger"})
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Total_Amount)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">

                                        @Html.TextBoxFor(a => a.Total_Amount, new { @class = "form-control", @type = "number", @readonly = "@readonly" })
                                        @Html.ValidationMessageFor(a => a.Total_Amount,"",new { @class="text-danger"})
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Payment_Mode)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DropDownListFor(a => a.Payment_Mode, new SelectList(ViewBag.paymentmodelist, "Value", "Text"), "Select Payment Mode", new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(a => a.Payment_Mode, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Payment_Date)
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">

                                        @Html.TextBoxFor(a => a.Payment_Date, new { @class = "form-control", @type = "date"})
                                        @Html.ValidationMessageFor(a => a.Payment_Date, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        @Html.DisplayNameFor(a => a.Reference_No)
                                    </div>
                                   
                                    <div class="col-sm-12 col-lg-12 controls">

                                        @Html.TextBoxFor(a => a.Reference_No, new { @class = "form-control", @type = "text" })
                                        @Html.ValidationMessageFor(a => a.Reference_No, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    @Html.HiddenFor(a => a.Receipt_Id)
                                    <div class="clearfix" style="margin-bottom:10px;"></div>

                                </div>
                                <div class="col-md-3">

                                </div>

                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                                <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" href="/Receipt/SendReceiptByID/@Model.Receipt_Id?stdid=@Model.Student_Id"><i class="fas fa-mail-reply"></i> &nbsp; Re-send</a>

                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    //$(document).ready(function () {
        function sumofamounts() {
            var amount1 =parseInt($('input[name="Amount1"]').val()==""?0:$('input[name="Amount1"]').val());
            var amount2 = parseInt($('input[name="Amount2"]').val()==""?0:$('input[name="Amount2"]').val());
            var amount3 = parseInt($('input[name="Amount3"]').val()==""?0:$('input[name="Amount3"]').val());
            var amount4 = parseInt($('input[name="Amount4"]').val()==""?0:$('input[name="Amount4"]').val());
            var adjust_amount = parseInt($('input[name="Adjustment_Amount"]').val()==""?0:$('input[name="Adjustment_Amount"]').val());
            var grandtotal = amount1 + amount2 + amount3 + amount4;
            var totalamount = grandtotal - adjust_amount;
            $('input[name="Grand_Total"]').val(grandtotal);
            $('input[name="Total_Amount"]').val(totalamount);

        }
    //})
</script>