﻿@{
    ViewBag.Title = "ReceiptGeneratedList";
    Layout = "~/Views/Shared/_ReceiptLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    <h4 class="card-title">Receipt List</h4>
                    <hr />
                    <div class="box-tool box-tooll text-right">
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" href="/Receipt/DownloadReceiptGenerateExcel"><i class="fas fa-arrow-circle-up"></i> &nbsp; Download Excel</a>
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" href="/Receipt/CreateOrEditReceipt"><i class="fas fa-arrow-circle-up"></i> &nbsp; Create</a>

                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("ReceiptGeneratedList", "Receipt", FormMethod.Get,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                        {
                            <div class="row">
                                <div class="col-md-4 padding-bottom-10">
                                    <select id="student" name="student" class="form-control select2">
                                        <option value="">All Student</option>
                                        @if (ViewBag.studentnamelist != null)
                                        {
                                            foreach (var a in ViewBag.studentnamelist)
                                            {
                                                if (ViewBag.student != null)
                                                {
                                                    <option value="@a.id" selected="@(ViewBag.student==a.id?true:false)">@a.name</option>
                                                }
                                                else
                                                {
                                                    <option value="@a.id">@a.name</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4 padding-bottom-10">
                                    <select id="cls" name="cls" class="form-control select2">
                                        <option value="">All Class</option>
                                        @if (ViewBag.classlist != null)
                                        {
                                            foreach (var a in ViewBag.classlist)
                                            {
                                                <option value="@a" selected="@(ViewBag.cls==a?true:false)">@a</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4 padding-bottom-10">
                                    <select id=" sec" name="sec" class="form-control select2">
                                        <option value="">All Section</option>
                                        @if (ViewBag.sectionlist != null)
                                        {
                                            foreach (var a in ViewBag.sectionlist)
                                            {
                                                <option value="@a" selected="@(ViewBag.sec==a?true:false)">@a</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4 padding-bottom-10">
                                    <select id="school_name" name="school_name" class="form-control select2">
                                        <option value="">All School Name</option>
                                        @if (ViewBag.schoolnamelist != null)
                                        {
                                            foreach (var a in ViewBag.schoolnamelist)
                                            {
                                                <option value="@a" selected="@(ViewBag.school_name == a ? true : false)">@a</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <div class="col-md-4 padding-bottom-10">
                                    <select id="paymentmode" name="paymentmode" class="form-control select2">
                                        <option value="">All Payment Method</option>
                                        @if (ViewBag.paymentmodelist != null)
                                        {
                                            foreach (var a in ViewBag.paymentmodelist)
                                            {
                                                <option value="@a.Paymentmode_Id" selected="@(ViewBag.paymentmode == a.Paymentmode_Id ? true : false)">@a.Paymentmode_Name</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-md-4 padding-bottom-10">
                                    <input type="date" id="paymentdate" name="paymentdate" class="form-control" />

                                </div>
                                <div class="col-md-4 padding-bottom-10">
                                    <input type="submit" name="btnsearch" value="Search" class="btn btn-primary" />
                                </div>
                            </div>
                        }
                    </div>

                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Student Name</th>
                                    <th>Phone No</th>
                                    <th>Email</th>
                                    <th>School Name</th>
                                    <th>School No</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>Grand Total</th>
                                    <th>Adjustment Amount</th>
                                    <th>Total Amount</th>
                                    <th>Payment Mode</th>
                                    <th>Payment Date</th>
                                    <th>Added On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.receiptdetails != null)
                                    {
                                        int i = 0;

                                        foreach (var a in ViewBag.receiptdetails)
                                        {
                                            <tr>
                                                <td>@(i = i + 1)</td>
                                                <td>@a.Student_Name</td>
                                                <td>@a.Phone_No_1</td>
                                                <td>@a.Email_ID</td>
                                                <td>@a.School_Name</td>
                                                <td>@a.School_No</td>
                                                <td>@a.Class_Name</td>
                                                <td>@a.Section_Name</td>
                                                <td>@a.Grand_Total</td>
                                                <td>@a.Adjustment_Amount</td>
                                                <td>@a.Total_Amount</td>
                                                <td>@a.Paymentmode</td>
                                                <td>@(Convert.ToDateTime(a.Payment_Date).ToString("dd MMM yyyy"))</td>
                                                <td>@(Convert.ToDateTime(a.inserted_on).ToString("dd MMM yyyy"))</td>

                                                <td>
                                                    <a href="/Receipt/SendReceiptByID/@a.Receipt_Id?stdid=@a.Student_Id"><i class="fa fa-mail-forward"></i></a>
                                                    @{
                                            string encode = odm_site.Models.Encodings.Base64EncodingMethod(a.Receipt_Id.ToString());
                                            string url = System.Configuration.ConfigurationManager.AppSettings["domain"].ToString() + "Report/ReportPages/SalaryReport.aspx?type=receipt&sid=" + encode;
                                                    }
                                                    <a href="@url" target="_blank"><i class="fa fa-eye"></i></a>
                                                    <a href="/Receipt/CreateOrEditReceipt/@a.Receipt_Id"><i class="fa fa-edit"></i></a>
                                                    @*<a href="/Receipt/RemovePurposeById/@a.Receipt_Id"><i class="fa fa-trash"></i></a>*@
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                @*@using (Html.BeginForm("UploadReceiptGenerateinfo", "Receipt", FormMethod.Post,
                    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data" }))
                                                {*@
                <form action="/Receipt/UploadReceiptGenerateinfo" method="post" enctype="multipart/form-data" id="validation">
                    <div class="row">
                        <div class="col-md-4">
                            Download Sample Excel
                        </div>
                        <div class="col-md-8">
                            <a href="/Receipt/DownloadSampleReceiptGenerateExcel">Click Here</a>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" name="btnexcel" />
                    </div>
                </form>
                @* }*@
            </div>

        </div>
    </div>
</div>

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#validation").on("submit", function (event) {
            debugger;
            if ($("#validation").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var formData = new FormData($("#validation")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.reload();
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.reload();
                    }

                })
            }
        });
    })
</script>