﻿@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/_ReceiptLayoutPage.cshtml";
}
@model IEnumerable<odm_site.Models.Tbl_Student_Details>
<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    <h4 class="card-title">Student List</h4>
                    <hr />
                    <div class="box-tool box-tooll text-right">
                        <a class="d-none d-sm-inline-block btn btn-sm btn-success text-white font-weight-normal" style="margin-right:6px;" data-toggle="modal" data-target="#myModal"><i class="fas fa-arrow-circle-up"></i> &nbsp; Upload Excel</a>
                        <a class="btn btn-primary" href="/Receipt/CreateOrEditStudent"><i class="fa fa-plus"></i><span> Create</span></a>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Student Name</th>
                                    <th>Phone No1</th>
                                    <th>Phone No2</th>
                                    <th>Email</th>
                                    <th>School Name</th>
                                    <th>School No</th>
                                    <th>Class</th>
                                    <th>Section</th>
                                    <th>Added On</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null)
                                    {
                                        int i = 0;

                                        foreach (var a in Model)
                                        {
                                            <tr>
                                                <td>@(i = i + 1)</td>
                                                <td>@a.Student_Name</td>
                                                <td>@a.Phone_No_1</td>
                                                <td>@a.Phone_No_2</td>
                                                <td>@a.Email_ID</td>
                                                <td>@a.School_Name</td>
                                                <td>@a.School_No</td>
                                                <td>@a.Class_Name</td>
                                                <td>@a.Section_Name</td>
                                                <td>@(Convert.ToDateTime(a.Inserted_Date).ToString("dd MMM yyyy"))</td>

                                                <td>
                                                    <a href="/Receipt/CreateOrEditStudent/@a.Student_Id"><i class="fa fa-edit"></i></a>
                                                    <a href="/Receipt/RemoveStudentById/@a.Student_Id"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Upload Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("UploadStudentinfo", "Receipt", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation" }))
                {

                    <div class="row">
                        <div class="col-md-4">
                            Download Sample Excel
                        </div>
                        <div class="col-md-8">
                            <a href="/Receipt/DownloadSampleStudentExcel">Click Here</a>
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            Upload Excel
                        </div>
                        <div class="col-md-8">
                            <input type="file" name="file" id="file" class="text-center center-block file-upload" />
                        </div>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Upload Excel" />
                    </div>
                }
            </div>

        </div>
    </div>
</div>

<style>
    .close {
        padding: 0.80rem 1.5rem !important;
        outline: none !important;
    }

    .modal-header {
        height: 45px;
        padding: 10px 5px;
    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#validation").on("submit", function (event) {
            debugger;
            if ($("#validation").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var formData = new FormData($("#validation")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.reload();
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.reload();
                    }

                })
            }
        });
    })
</script>