﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Admission Enquiry for Nursery, Junior, Secondary & Sr. Secondary Class | ODM Public School</title>
    <meta name="description" content="If you are looking to enquire about admission of any class at ODM Public School Bhubneshwar, write an enquire here, and we'll revert you soon.">
    <meta name="keywords" content="Admission Enquiry in odm public school,Admission Enquiry in odm,Admission Enquiry in odm school,Enquiry in odm public school,Enquiry in odm school,Enquiry in odm" />
    <link rel=" canonical" href="https://www.odmps.org/Home/admission_enquiry" />
}
<style>
    .form-horizontal .form-group {
        margin-right: 0px;
        margin-left: 0px;
    }
</style>
<section class="about-section no-slider" style="padding:80px 0px;">
    <div class="container">
        <h1 class="single-page-title" style="margin-bottom: 10px;">Admission Enquiry</h1>
        <div class="row margin-top-0">
            <div class="col-md-8">
                @Html.Partial("_Admissionenquiry")
            </div>
            <div class="col-md-4">

            </div>
        </div>
        @*<div class="row">
                <div class="col-sm-12 text-center"> <a class="btn btn-cta btn-sm" href="/Career/Index">Back To Career</a> </div>
            </div>*@

    </div>
</section>

