﻿@{
    ViewBag.twittersite = "@health_ville";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using System.Text.RegularExpressions;

@helper StripHTML(string input)
{
    if (!string.IsNullOrEmpty(input))
    {
        input = Regex.Replace(input, "<.*?>", String.Empty);
        <span>@input</span>
    }
}
@section metatags
{
    <title>@(ViewBag.blogdet.title) | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="@HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(StripHTML(ViewBag.blogdet.description).ToString().Length < 366 ? (StripHTML(ViewBag.blogdet.description).ToString()) : StripHTML(ViewBag.blogdet.description).ToString().Substring(0, 366))) […]">
    <meta name="keywords" content="@(ViewBag.blogdet.title)" />
    <link rel=" canonical" href="https://www.odmps.org/Home/blogdetails/@ViewBag.blogdet.id" />
    @* Facebook *@
    <meta property="og:title" content='@(ViewBag.blogdet.title == null ? "ODM Public School: Odisha's top CBSE School" : ViewBag.blogdet.title)' />
    <meta property="og:description" content='@(ViewBag.blogdet.description != null ? StripHTML(ViewBag.blogdet.description.ToString().Substring(0, 366)) : "ODM Public School is the flagship school of ODM Educational Group, Odisha's emerging educational group.")' />
    <meta property="og:url" content='@(ViewBag.blogdet.id != null ? "https://www.odmps.org/Home/blogdetails/" + ViewBag.blogdet.id : "https://www.odmps.org")' />
    <meta property="og:site_name" content="Blog | ODM Public School" />
    <meta property="og:image" content='@(ViewBag.blogdet.image == null ? "https://www.odmps.org/Content/images/header logo.png" : "https://www.odmps.org/Images/blog/" + @ViewBag.blogdet.image)' />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="976" />

    @* Twitter *@
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content='@(ViewBag.twittersite)' />
    <meta name="twitter:title" content='@(ViewBag.blogdet.title == null ? "ODM Public School: Odisha's top CBSE School" : ViewBag.blogdet.title)' />
    <meta name="twitter:description" content='@(ViewBag.blogdet.description != null ? StripHTML(ViewBag.blogdet.description.ToString().Substring(0, 366)) : "ODM Public School is the flagship school of ODM Educational Group, Odisha's emerging educational group.")' />
    <meta name="twitter:image" content='@(ViewBag.blogdet.image == null ? "https://www.odmps.org/Content/images/header logo.png" : "https://www.odmps.org/Images/blog/" + @ViewBag.blogdet.image)' />

}
<section itemscope="" itemtype="http://schema.org/Article" class="about-section no-slider" style="padding: 91px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <span itemprop="datePublished" content="@(Convert.ToDateTime(ViewBag.blogdet.inserted_on).ToString("dd MMM, yyyy"))" class="date">@(Convert.ToDateTime(ViewBag.blogdet.inserted_on).ToString("dd MMM, yyyy"))</span>
                <h1 itemprop="name" class="single-page-title">@ViewBag.blogdet.title</h1>
                <div class="single-article-thumbnail">
                    <img itemprop="image" src="~/Images/blog/@ViewBag.blogdet.image" alt="@ViewBag.blogdet.title" title="@ViewBag.blogdet.title">
                </div>
                <div class="article-content">
                    <div data-animation="no-animation" data-icons-animation="no-animation" data-overlay="" data-change-size="" data-button-size="1" style="font-size: 1em !important; display: block;" class="supsystic-social-sharing supsystic-social-sharing-package-flat supsystic-social-sharing-hide-on-homepage supsystic-social-sharing-spacing supsystic-social-sharing-content supsystic-social-sharing-content-align-left supsystic-social-sharing-init supsystic-social-sharing-loaded" data-text="">
                        <a class="social-sharing-button sharer-flat sharer-flat-8 counter-standard facebook" target="_blank" title="Facebook" href="http://www.facebook.com/sharer.php?u=https://www.odmps.org/Home/blogdetails/@(ViewBag.blogdet.id)" data-main-href="http://www.facebook.com/sharer.php?u={url}" data-nid="1" data-name="" data-pid="1" data-post-id="14020" data-description="@ViewBag.blogdet.title" rel="nofollow" data-mailto=""><i class="fa fa-fw fa-facebook"><span>Share</span></i></a>
                        <a class="social-sharing-button sharer-flat sharer-flat-8 counter-standard twitter" target="_blank" title="Twitter" href="https://twitter.com/share?url=https://www.odmps.org/Home/blogdetails/@(ViewBag.blogdet.id)&amp;text=@(ViewBag.blogdet.title)" data-main-href="https://twitter.com/share?url={url}&amp;text={title}" data-nid="2" data-name="" data-pid="1" data-post-id="14020" data-description="@ViewBag.blogdet.title" rel="nofollow" data-mailto=""><i class="fa fa-fw fa-twitter"><span>Share</span></i></a>
                        <a class="social-sharing-button sharer-flat sharer-flat-8 counter-standard linkedin" target="_blank" title="Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&amp;title=@(ViewBag.blogdet.title)&amp;url=https://www.odmps.org/Home/blogdetails/@(ViewBag.blogdet.id)" data-main-href="https://www.linkedin.com/shareArticle?mini=true&amp;title={title}&amp;url={url}" data-nid="13" data-name="" data-pid="1" data-post-id="14020" data-description="@ViewBag.blogdet.title" rel="nofollow" data-mailto=""><i class="fa fa-fw fa-linkedin"><span>Share</span></i></a>
                        <a class="social-sharing-button sharer-flat sharer-flat-8 counter-standard mail" target="_blank" title="Mail" href="mailto:?subject=@(ViewBag.blogdet.title)-www.odmps.org&amp;body=https://www.odmps.org/Home/blogdetails/@(ViewBag.blogdet.id)" data-main-href="#" data-nid="16" data-name="" data-pid="1" data-post-id="14020" data-description="@ViewBag.blogdet.title" rel="nofollow" data-mailto=""><i class="fa fa-fw fa-envelope-o"><span>Share</span></i></a>
                        <a class="social-sharing-button sharer-flat sharer-flat-8 counter-standard whatsapp" target="_blank" title="WhatsApp" href="whatsapp://send?text=https://www.odmps.org/Home/blogdetails/@(ViewBag.blogdet.id)" data-main-href="whatsapp://send?text={url}" data-nid="18" data-name="" data-pid="1" data-post-id="14020" data-description="@ViewBag.blogdet.title" rel="nofollow" data-mailto=""><i class="fa fa-fw fa-whatsapp"><span>Share</span></i></a>
                    </div>
                    <p>
                        @Html.Raw(ViewBag.blogdet.description)
                    </p>
                </div>
                <div class="clearfix"></div>

                <div class="sp-split full-width">
                    <div class="popular comment">
                        <p class="text-upper">
                            <strong>Comments</strong> <small>
                                (
                                <label id="commentscount"></label> Comments		 )
                            </small>
                        </p>
                        <div class="row">
                            <div class="col-md-10">
                                <div id="allcomment" class="comment-list"></div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        <div id="respond" class="comment-form">
                            <h3 class="comment-reply-title"><span id="reply-title">Got Something To Say? </span>&nbsp;&nbsp;<small><a id="cancelreplylink" style="cursor:pointer;">Cancel reply</a></small></h3>
                            <div id="commentform" class="comment-form">
                                <p class="comment-notes">
                                    <span id="email-notes">Your email address will not be published.</span>
                                    Required fields are marked <span class="required">*</span>
                                </p>
                                <p>
                                    <label for="comment">Let us know what you have to say:</label>
                                    <textarea id="comment" name="comment" cols="20" rows="4" class="form-control" aria-required="true"></textarea>
                                </p>
                                <p class="comment-form-author"><label for="author">Your Name</label> <span>*</span><input id="author" class="form-control" name="author" type="text" value="" size="30"></p>
                                <p class="comment-form-email"><label for="email">Your Email</label> <span>*</span><input id="email" name="email" type="text" value="" size="30" class="form-control"></p>

                                <input name="submit" type="submit" id="submit" class="btn btn-cta btn-sm" value="Send Message">
                                <input name="commentsubmit" type="submit" id="commentsubmit" class="btn btn-cta btn-sm" value="Send Message">
                                <input type="hidden" name="comment_post_ID" value="@ViewBag.blogdet.id" id="comment_post_ID">
                                <input type="hidden" name="comment_parent" id="comment_parent" value="@ViewBag.blogdet.title">
                                <input type="hidden" name="comment_ID" id="comment_ID">
                            </div>
                        </div><!-- #respond -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div id="locations" class="widget widget_locations">
                    <div class="title-bar enquiry-box"><h3>Information</h3></div>
                    <ul>
                        <li class="cat-item cat-item-35"><a href="/Home/InformationBooklet">Information Booklets</a></li>
                        <li class="cat-item cat-item-33"><a href="/Home/Notices">School Notices</a></li>
                        <li class="cat-item cat-item-34"><a href="/Home/Eventvideos">Event Videos</a></li>
                        <li class="cat-item cat-item-37"><a href="https://play.google.com/store/apps/details?id=com.org.odm.odminfoapp&hl=en_US" target="_blank">Download App</a></li>
                    </ul>
                </div>
                <div id="text-2" class="widget widget_text">
                    <div class="textwidget"></div>
                </div>

                <div id="text-3" class="widget widget_text">
                    <div class="textwidget">
                        <p></p>
                        <center><a class="btn btn-cta" href="/Home/admission_enquiry" onclick="ga('send', 'event', 'button', 'clicked', 'blog enquiry')">Enquire For Admission</a></center><p></p>
                    </div>
                </div><div id="text-4" class="widget widget_text"><div class="textwidget"><p><br><br><br></p></div></div>
            </div>
        </div> <div class="row">
            <div class="col-sm-12 text-center"><a class="btn btn-cta btn-sm" href="/Home/blog">Back to All Blog Articles</a></div>
        </div>
    </div>
</section>
<a href="#" class="spu-open-12998 spu-clickable" style="cursor: pointer;"></a>
<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script>
    $(document).ready(function () {
        debugger;
        $('#cancelreplylink').css("visibility", "hidden");
        $('#submit').show();
        $('#commentsubmit').hide();


        getcommentsdata();
        function getcommentsdata() {

            debugger;
            $.get('/Home/GetCommentsDetails?id=' + $('#comment_parent').val(), {}, function (data) {
                debugger;
                if (data != null) {
                    $('#commentscount').html(data.totalcomment);
                    var res = '';
                    $('#allcomment').html('');
                    for (var i = 0; i < data.comments.length; i++) {
                        res += '<article class="row"><div class="col-md-2 col-sm-2 hidden-xs">';
                        res += '<figure class="thumbnail" style="margin: 0px 0px 0px 50px !important;"><img class="img-responsive" src="../wp-content/themes/healthville/img/avatar.png" />';
                        res += '<figcaption class="text-center">' + data.comments[i].name + '</figcaption>';
                        res += '</figure></div>';
                        res += '<div class="col-md-10 col-sm-10"><div class="panel panel-default arrow left">';
                        res += '<div class="panel-body"><header class="text-left">';
                        res += '<div class="comment-user"><i class="fa fa-user"></i> ' + data.comments[i].name + '</div>';
                        var podate = moment.utc(data.comments[i].inserted_on).format('MMM DD, YYYY');
                        res += '<time class="comment-date"><i class="fa fa-clock-o"></i> ' + podate + '</time>';
                        res += '</header>';
                        res += '<div class="comment-post">';
                        res += '<p>' + data.comments[i].message + '</p>';
                        res += '</div><p class="text-right"><small><a style="margin-top:0px !important;color: #33675b !important;cursor: pointer;" onClick="replymessage(' + data.comments[i].id + ');" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a><a data-toggle="collapse" data-target="#collapse' + data.comments[i].id + '" style="margin-top:0px !important;color: #33675b !important;cursor: pointer;">' + data.comments[i].totalreply + ' Comments</a></small></p>';
                        res += '</div></div></div></article><div class="collapse" id="collapse' + data.comments[i].id + '">';
                        for (var j = 0; j < data.comments[i].subcomments.length; j++) {
                            res += '<article class="row"><div class="col-md-2 col-sm-2 col-md-offset-1 col-sm-offset-0 hidden-xs">';
                            res += '<figure class="thumbnail"  style="margin: 0px 0px 0px 50px !important;"><img class="img-responsive" src="../wp-content/themes/healthville/img/avatar.png" />';
                            res += '<figcaption class="text-center">' + data.comments[i].subcomments[j].name + '</figcaption></figure></div>';
                            res += '<div class="col-md-9 col-sm-9"><div class="panel panel-default arrow left"><div class="panel-heading right">Reply</div>';
                            res += '<div class="panel-body"><header class="text-left">';
                            res += '<div class="comment-user"><i class="fa fa-user"></i> ' + data.comments[i].subcomments[j].name + '</div>';
                            var postdate = moment.utc(data.comments[i].subcomments[j].inserted_on).format('MMM DD, YYYY');
                            res += '<time class="comment-date"><i class="fa fa-clock-o"></i> ' + postdate + '</time>';
                            res += '</header><div class="comment-post"><p>' + data.comments[i].subcomments[j].message + '</p></div>';
                            res += '</div></div></div></article>';
                        }
                        res += '</div>';
                    }
                    $('#allcomment').append(res);
                }
            })
        }
        $('#submit').click(function () {
            debugger;
            $.post('/Home/PostComments', { blogid: $('#comment_post_ID').val(), email: $('#email').val(), message: $('#comment').val(), name: $('#author').val() }, function (data) {
                debugger;
                if (data == 1) {
                    getcommentsdata();
                    $('#email').val('');
                    $('#comment').val('');
                    $('#author').val('');
                }
            })
        })
        $('#commentsubmit').click(function () {
            debugger;
            $.post('/Home/PostSubComments', { commentid: $('#comment_ID').val(), email: $('#email').val(), message: $('#comment').val(), name: $('#author').val() }, function (data) {
                debugger;
                if (data == 1) {
                    getcommentsdata();
                    $('#email').val('');
                    $('#comment').val('');
                    $('#author').val('');
                    $('#cancelreplylink').css("visibility", "hidden");
                    $('#submit').show();
                    $('#commentsubmit').hide();
                    $('#reply-title').html('Write a Reply or Comment ');
                }
            })
        })
        $('#cancelreplylink').click(function () {
            $('#email').val('');
            $('#comment').val('');
            $('#author').val('');
            document.getElementById('comment_ID').value = '';
            $('#cancelreplylink').css("visibility", "hidden");
            $('#submit').show();
            $('#commentsubmit').hide();
            $('#reply-title').html('Got Something To Say? ');
        })
    })
    function replymessage(commentid) {
        debugger;
        $.get('/Home/Getcomment', { id: commentid }, function (data) {
            debugger;
            if (data != null) {
                $('#reply-title').html('Leave a Reply to ' + data.name);
                document.getElementById('comment_ID').value = data.id;
                $('#cancelreplylink').css("visibility", "visible");
                $('#submit').css("display", "none");
                $('#commentsubmit').css("display", "block");
            }
        })

    }
</script>