﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Event Videos | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="ODM Educational Group Awarded as best emerging School of Eastern India. Read and see all the events to learn more about students stories, teaching methodologies and more.">
    <meta name="keywords" content="event videos in odm, event videos in odm public school, event videos in odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Home/Eventvideos" />
}
<style>
    .card {
        width: 100%;
        padding: 9px 11px 30px;
        /*box-shadow: 2px 2px 2px 1px;*/
        border-radius: 0px;
        font-size: 0.9em;
        text-align: center;
        height: 265px;
        transform: rotate(11deg);
        box-shadow: 0 2px 20px rgba(0,0,0,.2);
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        position: relative;
    }


        .card:hover {
            transform: rotate(0deg);
            /*transform: translate3d(50px, 40px, 0px);*/
            animation-timing-function: ease-out 5px;
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
            position: relative;
        }

    .imgBx {
        height: 170px;
    }

    .details {
        margin-top: 13px;
        font-weight: 700;
    }

    .youtubeplay {
        position: absolute;
        top: 77px;
        left: 100px;
    }
</style>

<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home"><span property="name">ODM</span></a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Event Videos." href="/Home/Eventvideos" class="post post-page current-item"><span property="name">Event Videos</span></a><meta property="position" content="2"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container" style="padding:60px 0px;">
    <div class="row">
        <section class="inner-lead">
            <div class="row">
                <div class="col-lg-8 clearfix">
                    <div class="col-sm-12 col-md-12">
                        <h1>Event Videos</h1>
                        <section class="inner-lead">
                            <div class="box">
                                @if (ViewBag.eventvideolist != null)
                                {
                                    foreach (var a in ViewBag.eventvideolist)
                                    {
                                        string imgLink = "http://img.youtube.com/vi/";
                                        string[] temp = a.youtubelink.Split(new char[] { '=', '&' });
                                        string videoid = temp[0].ToString();
                                        if (videoid.Split('.')[0].ToString() == "https://youtu")
                                        {
                                            videoid = temp[0].Split('.')[1].ToString().Split('/')[1].ToString();
                                        }
                                        else
                                        {
                                            videoid = temp[1];
                                        }
                                        imgLink = imgLink + videoid + "/2.jpg";
                                        <div class="col-md-4 col-sm-6 col-xs-12">
                                            <div class="card">
                                                <div class="imgBx">
                                                    
                                                    <a href="#" data-toggle="modal" class="video-btn" data-src="https://www.youtube.com/embed/@(videoid)" data-target="#myModal" tabindex="-1">
                                                        <img src="@imgLink" style="width:100%;height:160px;padding:7px;">
                                                        <img class="youtubeplay" src="~/Content/images/youtube (1).png" />
                                                    </a>

                                                </div>
                                                <div class="details">
                                                    <span>@a.title</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                @*@if (ViewBag.eventvideolist != null)
                                {
                                    foreach (var a in ViewBag.eventvideolist)
                                    {
                                        string[] temp = a.youtubelink.Split(new char[] { '=', '&' });

                                        <div class="eventvideoModal modal fade" id="events-@a.id" tabindex="-1" role="dialog" aria-labelledby="testimonialModalLabel">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button><h4 class="modal-title" id="testimonialModalLabel">Testimonials</h4>
                                                    </div><div class="modal-body">
                                                              <iframe class="schoolanthemevideo" width="560" height="315" data-src="https://www.youtube.com/embed/@(temp[1])" src="https://www.youtube.com/embed/@(temp[1])" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                    
                                                    </div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }*@
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="static-testimonial-box">
                        <span class="fa fa-quote-left quote quote-top"></span>
                        <div class="person-box">
                            <img src="~/Content/testimonial/NIRTIKA SATPATHY.jpg" alt="Photo">
                            <div class="details">
                                <p class="name">NIRTIKA SATPATHY</p><p class="designation">Student, Class IX</p>
                            </div>
                        </div><blockquote class="testimonial">“I have been studying at ODM for about 8 months. I previously studied in other school and ODM has been extremely different when compared to this first one and even what my friends tell me about their school. They have a great teachers team, moreover, the whole staff team care of their students.</blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                    </div><div class="seperator"></div> <h2>Recent Blog Posts</h2>
                    @Html.Partial("Recentblogs")
                </div>

            </div>
        </section>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">


            <div class="modal-body">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                </div>


            </div>

        </div>
    </div>
</div>


<style>
    .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }



    .modal-body {
        position: relative;
        padding: 0px;
    }

    .close {
        position: absolute;
        right: -30px;
        top: 0;
        z-index: 999;
        font-size: 2rem;
        font-weight: normal;
        color: #fff;
        opacity: 1;
    }
</style>
<script>
   
    $(document).ready(function () {
        // Gets the video src from the data-src on each button
        var $videoSrc;
        $('.video-btn').click(function () {
            $videoSrc = $(this).data("src");
        });
        console.log($videoSrc);
        // when the modal is opened autoplay it  
        $('#myModal').on('shown.bs.modal', function (e) {

            // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
            $("#video").attr('src', $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
        })
        // stop playing the youtube video when I close the modal
        $('#myModal').on('hide.bs.modal', function (e) {
            // a poor man's stop video
            $("#video").attr('src', $videoSrc);
        })
        // document ready  
    });

</script>
