﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Looking for ODMPS Admission Booklet? | Get all the details here</title>
    <meta name="description" content="ODM Public School is the best CBSE School for learning in Bhubneswar, Odisha. Get all the information required to get admission in ODMPS in the booklet here.">
    <meta name="keywords" content="Information Booklet,Information Booklet in odm, Information Booklet in odm public school, Information Booklet in odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Home/InformationBooklet" />
}
<link href="~/Content/NoticeStyleSheet.css" rel="stylesheet" />
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
         <img src="~/Content/banner/Information Booklet.jpg" style="width:100%;height:390px;" />
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home"><span property="name">ODM</span></a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Information Booklet." href="/Home/InformationBooklet" class="post post-page current-item"><span property="name">Information Booklet</span></a><meta property="position" content="2"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <section class="inner-lead">
            <div class="row">
                <div class="col-lg-8 clearfix">
                    <div class="col-sm-12 col-md-12">
                        <h1>Information Booklet</h1>
                        <section class="inner-lead">
                            @if (ViewBag.InformationBookletlist != null)
                            {
                                foreach (var a in ViewBag.InformationBookletlist)
                                {
                                    <ul class="informationbooklet">
                                        <li>
                                            <label style="font-size: 14px;color: #ea3637;line-height: 1.4em;text-align: center;"><strong>@(Convert.ToDateTime(a.inserted_on).ToString("dd MMM, yyyy hh:mm tt"))</strong></label>
                                        </li>
                                        <li>
                                            <label style="margin-top: 1px;font-size: 14px;">@a.title</label>
                                        </li>
                                        <li>
                                            <a href="~/Images/informationbooklet/@a.pdf" target="_blank" style="color: #ea3637;">Download</a>
                                        </li>
                                    </ul>
                                    <div class="clearfix" style="margin-bottom:20px;"></div>
                                }
                            }
                        </section>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="static-testimonial-box">
                        <span class="fa fa-quote-left quote quote-top"></span>
                        <div class="person-box">
                            <img src="~/Content/testimonial/SANIYA KHAN.jpg" alt="Photo">
                            <div class="details">
                                <p class="name">SANIYA KHAN</p><p class="designation">Student, Class IX</p>
                            </div>
                        </div><blockquote class="testimonial">“Loved it. ODM Teachers are very friendly and helping. It’s like a big family. The lessons are very good and the atmosphere between students, too. If i had to choose again, I would choose them.”</blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                    </div><div class="seperator"></div> <h2>Recent Blog Posts</h2>
                    @Html.Partial("Recentblogs")
                </div>

            </div>
        </section>
    </div>
</div>

