﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>@ViewBag.latestupdatedetails.title | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="@HttpUtility.HtmlDecode(HttpUtility.HtmlDecode(StripHTML(ViewBag.latestupdatedetails.description).ToString().Length < 300 ? (StripHTML(ViewBag.latestupdatedetails.description).ToString()) : StripHTML(ViewBag.latestupdatedetails.description).ToString().Substring(0, 300))) […]">
    <meta name="keywords" content="@ViewBag.latestupdatedetails.title" />
    <link rel=" canonical" href="https://www.odmps.org/Home/latestupdatedetails/@ViewBag.latestupdatedetails.id" />
}
@using System.Text.RegularExpressions;

@helper StripHTML(string input)
{
    if (!string.IsNullOrEmpty(input))
    {
        input = Regex.Replace(input, "<.*?>", String.Empty);
        <span>@input</span>
    }
}

<section itemscope="" itemtype="http://schema.org/Article" class="about-section no-slider" style="padding: 84px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <span itemprop="datePublished" content="@(Convert.ToDateTime(ViewBag.latestupdatedetails.inserted_on).ToString("dd MMM, yyyy"))" class="date">@(Convert.ToDateTime(ViewBag.latestupdatedetails.inserted_on).ToString("dd MMM, yyyy"))</span>
                <h1 itemprop="name" class="single-page-title">@ViewBag.latestupdatedetails.title</h1>
                <div class="single-article-thumbnail">
                    <div class="latestupdate-slider">
                        @if (ViewBag.latestupdatedetails.images != null)
                        {
                            foreach (var item in ViewBag.latestupdatedetails.images)
                            {
                                <div class="item">
                                    <img src="../../Images/latestupdates/@item.images" style="width:100%;height: auto;" />
                                </div>
                            }
                        }
                    </div>
                    <ul class="slider-nav-list latestupdate-slider-nav-list">
                        <li class="slider-nav prev slick-arrow" style="display: block;">
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </li>
                        <li class="slider-nav next slick-arrow" style="display: block;">
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </li>
                    </ul>
                </div>
                <div class="article-content">
                    <div>@(Convert.ToDateTime(ViewBag.latestupdatedetails.inserted_on).ToString("dd MMM, yyyy hh:mm tt"))</div>
                    <p>
                        @Html.Raw(ViewBag.latestupdatedetails.description)
                    </p>
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="col-lg-3">
                <div id="locations" class="widget widget_locations">
                    <div class="title-bar enquiry-box"><h3>Information</h3></div>
                    <ul>
                        <li class="cat-item cat-item-35"><a href="/Home/InformationBooklet">Information Booklets</a></li>
                        <li class="cat-item cat-item-33"><a href="/Home/Notices">School Notices</a></li>
                        <li class="cat-item cat-item-34"><a href="/Home/Eventvideos">Event Videos</a></li>
                        <li class="cat-item cat-item-37"><a href="https://play.google.com/store/apps/details?id=com.org.odm.odminfoapp&hl=en_US" target="_blank">Download App</a></li>
                    </ul>
                </div>
                <div id="text-2" class="widget widget_text">
                    <div class="textwidget"></div>
                </div>

                <div id="text-3" class="widget widget_text">
                    <div class="textwidget">
                        <p></p>
                        <center><a class="btn btn-cta" href="/Home/admission_enquiry" onclick="ga('send', 'event', 'button', 'clicked', 'blog enquiry')">Enquire For Admission</a></center><p></p>
                    </div>
                </div><div id="text-4" class="widget widget_text"><div class="textwidget"><p><br><br><br></p></div></div>
            </div>
        </div> <div class="row">
            <div class="col-sm-12 text-center"><a class="btn btn-cta btn-sm" href="/Home/latestupdates">Back to All Latest Updates</a></div>
        </div>
    </div>
</section>
<a href="#" class="spu-open-12998 spu-clickable" style="cursor: pointer;"></a>
