﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Online Payment | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="The Fee deposited through Credit Card/Debit Card/Net Banking will normally reach the ODM account after 1-2 days. It is the sole responsibility of the candidate to ensure that fee is deposited well in time. ODM shall not be responsible for any unsettled fee payment due to any reason. The ODM also shall not be responsible, if the payment is refused or declined by the credit/debit card supplier for any reason.">
    <meta name="keywords" content="Online Payment,Online Payment in odm, Online Payment in odm public school, Online Payment in odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Home/onlinepayment" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <img src="~/Content/banner/online fee payment.jpg" />          
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Online Fee Payment." href="/Admission/onlinepayment" class="post post-page current-item"><span property="name">Online Fee Payment</span></a><meta property="position" content="2">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <section class="inner-lead">
            <div class="row">
                <div class="col-lg-8 clearfix">
                    <div class="col-sm-12 col-md-12">
                        <h1>Online Payment</h1>
                        <section class="inner-lead">
                                <p>The Fee deposited through Credit Card/Debit Card/Net Banking will normally reach the ODM account after 1-2 days. It is the sole responsibility of the candidate to ensure that fee is deposited well in time. ODM shall not be responsible for any unsettled fee payment due to any reason. The ODM also shall not be responsible, if the payment is refused or declined by the credit/debit card supplier for any reason.</p>

                                <p>ODM does not warranty the availability of online Fee Payment System every time. ODM will not be responsible for fine exemption if the last day student fee transition fails. We strongly advice to submit the fee through Offline or Online Payment System before the last fee day (15th of the Month) comes to avoid late fees.</p>
                                <p>
                                    Please note that Admission Fee, Offline balance and other Payments submission will be done only in school.
                                </p>
                            <h3>PAY THROUGH</h3>
                            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                                <a target="_blank" href="https://paytm.com/education?op=ODM%20Public%20School" id="btn-1549708651627"><img src="~/Content/images/paytm.jpg" alt="Paytm" style="height: 130px;" /></a>
                              
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                                <a target="_blank" href="https://www.eduqfix.com/PayDirect/#/student" id="btn-1549708651633"><img src="~/Content/images/HDFC_Bank_Logo.png" alt="HDFC Bank" style="height: 47px;margin-top: 39px;" /></a>

                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="static-testimonial-box">
                        <span class="fa fa-quote-left quote quote-top"></span>
                        <div class="person-box">
                            <img src="~/Content/testimonial/NIRTIKA SATPATHY.jpg" alt="Photo">
                            <div class="details">
                                <p class="name">NIRTIKA SATPATHY</p><p class="designation">Student, Class IX</p>
                            </div>
                        </div><blockquote class="testimonial">“I have been studying at ODM for about 8 months. I previously studied in other school and ODM has been extremely different when compared to this first one and even what my friends tell me about their school. They have a great teachers team, moreover, the whole staff team care of their students.</blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                    </div>
                    <div class="seperator"></div>
                    <h2>Recent Blog Posts</h2>
                    @Html.Partial("Recentblogs")
                </div>
            </div>
        </section>
    </div>
</div>