﻿@model List<odm_site.Controllers.HomeController.albumclass>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Photo Gallery | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="Photo Gallery contains detailed information of ODM Public School events, media and awards. The information contained...">
    <meta name="keywords" content="Photo Gallery,Photo Gallery in odm, Photo Gallery in odm public school, Photo Gallery in odm school,  Photo Gallery of odm, Photo Gallery of odm public school, Photo Gallery of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Home/photogallery" />
}
<link href="~/Content/owlcarosel/assets/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/owlcarosel/assets/owl.theme.default.min.css" rel="stylesheet" />

<style>
      /*.owl-carousel .owl-item img{
          width:auto;
      }*/
      article {
          columns: 3;
      }

      section {
          position: relative;
          margin-bottom: 15px;
      }

      .images img {
          width: 100%;
          box-shadow: 0px 0px 5px 0px #5a5a5a;
          transition: transform 400ms ease-out;
          /*-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
      }

          .images img:hover {
              opacity: 0.7;
              transform: scale(1.05);
              /*-webkit-filter: grayscale(0%);
    filter: grayscale(0%);*/
          }

       .centered {
          position: absolute;
          top: 50%;
          font-size: 10px;
          /*left: 20%;
          right: 20%;*/
          font-weight: 700;
          bottom: 50%;
          color: white;
          text-align: center;
              width: 100%;
    background-color: #808080b8;
    padding: 10px 0px;
    display: inline-table;
      }

          .centered:hover {
              color: white;
          }

      .owl-prev, .owl-next {
          font-size: 10px !important;
          font-weight: bolder !important;
          width: 15px;
          height: 100px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: block !important;
          border: 0px solid black;
      }

      .owl-prev {
          left: -40px;
      }

      .owl-next {
          right: -40px;
      }

          .owl-prev i, .owl-next i {
              transform: scale(2,5);
              color: #ccc;
          }
</style>
<link href="~/Content/photogallery/gallery.css" rel="stylesheet" />
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <img src="../../Content/banner/banner [2].jpg" style="width:100%;height:390px;" />
            @*<div class="bg" style="background:url('../../Content/banner/banner [2].jpg') center center no-repeat;background-size:cover"></div>*@
            @*<div class="info">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 ">
                                <div class="mask">
                                    <h1>Gallery</h1>
                                    <p></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" title="Go to Gallery." href="/Home/photogallery" class="post post-page current-item"><span property="name">Photo Gallery</span></a><meta property="position" content="2"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">

    <div class="col-sm-12 col-md-12">
        <section class="inner-lead">
            <div class="row">
                <div class="col-lg-9 clearfix">
                    <h1>Gallery</h1>
                    <article>
                        @if (Model != null)
                        {
                            foreach (var a in Model)
                            {
                                <a style="cursor:pointer;" onclick="getgallery(@a.id,'@a.name')">
                                    <section style="padding:0px;">
                                        <div class="images">
                                            <img src="~/Images/gallery/@a.imgpath">
                                            <div class="centered">@a.name</div>
                                        </div>
                                    </section>
                                </a>



                            }
                        }
                        <div class="modal fade" id="modalgallery" tabindex="-1" role="dialog">
                            <div class="modal-dialog" style="width:100%;">
                                @*<div class="modal-content" style="background-color:transparent;width:auto;">*@
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4 class="modal-title" style="color: white; padding: 0px;font-weight: 800;" id="headingtitle"></h4>

                                </div>
                                <div class="modal-body">
                                    <div class="clearfix" style="margin-bottom:20px;"></div>
                                    <div class="row">

                                        <div class="owl-carousel owl-theme">
                                            @*@foreach (var m in a.images)
                                                {
                                                    <div class="item">
                                                        <img src="~/Images/gallery/@m.images" alt="odm images" style="width:100%;">
                                                    </div>
                                                }*@

                                        </div>
                                        @*<ul class="slider-nav-list testimonial-slider-nav-list">
                                                <li class="slider-nav prev slick-arrow" style="display: block;">
                                                    <span class="glyphicon glyphicon-menu-left"></span>
                                                </li>
                                                <li class="slider-nav next slick-arrow" style="display: block;">
                                                    <span class="glyphicon glyphicon-menu-right"></span>
                                                </li>
                                            </ul>*@
                                    </div>
                                </div>

                                @*</div>*@
                            </div>
                        </div>

                    </article>

                </div>
                <div class="col-lg-3 clearfix">
                    <div class="static-testimonial-box">
                        <span class="fa fa-quote-left quote quote-top"></span>
                        <div class="person-box">
                            <img src="~/Content/testimonial/NIRTIKA SATPATHY.jpg" alt="Photo">
                            <div class="details">
                                <p class="name">NIRTIKA SATPATHY</p><p class="designation">Student, Class IX</p>
                            </div>
                        </div><blockquote class="testimonial">“I have been studying at ODM for about 8 months. I previously studied in other school and ODM has been extremely different when compared to this first one and even what my friends tell me about their school. They have a great teachers team, moreover, the whole staff team care of their students.</blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                    </div>
                    <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                    @Html.Partial("Recentblogs")
                </div>
            </div>
        </section>
    </div>
</div>

<script src="~/Content/owlcarosel/jquery.min.js"></script>
<script src="~/Content/owlcarosel/owl.carousel.min.js"></script>

<script>
    function getgallery(id,title)
    {
        var owl=$(".owl-carousel").owlCarousel({
            items:1,
            loop:true,
            margin:10,
            autoplay:true,
            autoplayTimeout:3000,
            autoplayHoverPause:true,
            dots:false,
            nav:true,
            navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>'],
            //navigationText: ["<span>Previous</span>", "<span>next</span>"]
        });
        debugger;
        $.get('/Home/GetImages',{id:id},function(data){
            debugger;
            // $('#imageslider').empty();
            var length = $('.owl-carousel .item').length;
            for (var i=0; i<length; i++) {
                owl.trigger('remove.owl.carousel', [i]).trigger('refresh.owl.carousel');
            }
            if(data.length>0)
            {
                var result='';

                $.each(data,function(index,value){
                    owl.trigger('add.owl.carousel', [jQuery('<div class="item"><img src="/Images/gallery/'+value.images+'" alt="odm images" /></div>')]);
                });
                owl.trigger('refresh.owl.carousel');
                owl.owlCarousel();
                $('#headingtitle').html(title);

                //$('#imageslider').owlCarousel('update');
                $('#modalgallery').modal('show');
            }
        })
    }

</script>
