﻿
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Thank You | ODM PUBLIC SCHOOL</title>

}

<section class="inner-lead">
    <div class="row">
        <div class="col-md-12 text-align-center">
            <h1>Thank You</h1><h5>For choosing ODM Public School.</h5>
            <label for="get-to-know">
                <p>Also, we would love to know how did you get to KNOW ABOUT US. You can select multiple options below, which will help us get a better understanding.</p>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-5">
            <form action="" method="POST" name="dri-custom-get-to-apply-now-form" id="dri-custom-get-to-apply-now-form">
                <input type="hidden" name="action" value="feedback_form_handler">
                <div class="form-group">
                    <div class="selection-form-fields" style="width:100%;">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="knowaboutus" value="Hoardings" name="knowaboutus" class="myCheckBox"> Hoardings
                            </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="Newspaper ADS" name="knowaboutus" class="myCheckBox"> Newspaper ADS </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="Google search" name="knowaboutus" class="myCheckBox"> Google search </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="ODM Guest Lecture program" name="knowaboutus" class="myCheckBox"> ODM Guest Lecture program </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="Student success stories on Facebook" name="knowaboutus" class="myCheckBox"> Student success stories on Facebook </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="Existing ODM Parent" name="knowaboutus" class="myCheckBox"> Existing ODM Parent </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="Attended Marketing event" name="knowaboutus" class="myCheckBox"> Attended Marketing event </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="knowaboutus" value="Friends, colleagues and Relatives" name="knowaboutus" class="myCheckBox"> Friends, colleagues and Relatives </label>
                        </div>
                        <div class="checkbox">
                            <label> <input type="checkbox" id="anyway_else_chk" class="myCheckBox"> If anyway else , please mention here </label>
                        </div>
                    </div>
                </div>
                <div class="selection-form-fields" style="width:50%;display: none;" id="ifanyelse_textbox">
                    <div class="form-group">
                        <label for="others">If anyway else , please mention here</label>
                        <input type="text" name="anyway_else" id="anyway_else" size="80" class="form-control input-sm">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-cta btn-wide" id="submit_apply_now_feedback">
                    <img id="loading" src="~/Content/wp-content/themes/neptune/img/loading.gif" alt="Loading..." title="Loading..." style="display:none;">
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    $('#dri-custom-get-to-apply-now-form').submit(function (e) {
        e.preventDefault();
        var checkbox_vlid = $('input:checkbox.myCheckBox:checked').length;
        if (checkbox_vlid == 0) { alert("You must select at least one!"); return false(); } else { }
        $("#submit_apply_now_feedback").attr("disabled", "disabled"); $("#loading").show();
        var knowaboutus = [];
        $.each($("input[name='knowaboutus']:checked"), function () {
            knowaboutus.push($(this).val());
        });
        // alert(knowaboutus);
        // alert('Your Habits are :' + knowaboutus.join(", "));
        $.post('/Home/SaveAdmissionEnquiryFeedback', { knowaboutus: knowaboutus.join(", ") }, function (data) {
            if (data == '0') {
                $("#loading").hide();
                $("#submit_apply_now_feedback").attr("disabled", false); alert("DB Insert Failed");
            } else {
                $("#loading").hide();
                $("#submit_apply_now_feedback").attr("disabled", true); alert("Thank you for your feedback.");
                window.location = '../../Home/index';
            }
        });
    });</script>
		