﻿
@{
    ViewBag.Title = "OSAT 2020 and N40";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags
{
    <title>OSAT 2020 &amp; N40 | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="OSAT- ODM Scholarship Admission Test, is an entrance test conducted by ODM for students applying to take admission in Class XI. For the students of Class XI, qualification in this test serves as a mandatory criteria.">
    <meta name="keywords" content="OSAT 2020 and N40 in odm,OSAT 2020 and N40" />
    <link rel=" canonical" href="https://www.odmps.org/Admission/OSAT_2020_and_N40" />
}
<style>
    .form-horizontal .form-group {
        margin-right: 0px;
        margin-left: 0px;
    }
</style>
<section class="home-slider-container">
    <div class="home-slider slick-initialized slick-slider">
        <div class="item">
            <div class="bg" style="background:url(../../Content/banner/Chocolate.jpg) center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>FUTURE BELONGS TO THOSE WHO BELIEVE IN THE BEAUTY OF THEIR DREAMS</h1>
                                <p>Everything that is worthwhile in the life, seems scary. Especially choosing a school. But here it will definitely pay off</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to OSAT 2020 and N40." href="/Admission/OSAT_2020_and_N40" class="post post-page current-item"><span property="name">OSAT 2020 &amp; N40</span></a><meta property="position" content="2">
                    </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open"><span class="glyphicon glyphicon-menu-left"></span></div><div class="close"><span class="close">×</span></div>
                </div>
                <ul class="">
                    <li> <a href="/Admission/admission_details">Admission Details</a> </li>
                    <li> <a href="/Home/admission_enquiry">Admission Enquiry</a> </li>
                    <li class="active"> <a href="/Admission/OSAT_2020_and_N40">OSAT 2020 and N40</a> </li>
                    <li> <a href="/Admission/Scholarships">Scholarships</a> </li>
                </ul>

            </div>
        </div><div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <div class="col-md-4 col-md-push-8">
                                <h3>Admission Enquiry</h3>
                                @Html.Partial("_Admissionenquiry")
                            </div>
                            <div class="col-md-8 col-md-pull-4" style="padding-right: 30px;text-align: justify;">
                                <h1 style="margin-bottom: 0px;">OSAT 2020 &amp; N40</h1>
                                <h2 style="">OSAT 2020</h2>
                                
                              <h4>What is OSAT?</h4>  
                                <p>OSAT- ODM Scholarship Admission Test, is an entrance test conducted by ODM for students applying to take admission in Class XI. For the students of Class XI, qualification in this test serves as a mandatory criteria. On the basis of the performance of the children in this test, students qualify for PI round and then subsequently for admission in ODM. Top performers in OSAT are generally awarded with a scholarship post their qualification in an academic interview round</p>

                                <h4>For Whom?</h4>
                                <p>Students applying for Class XI (Science and Commerce)</p>

                                <h4>
                                    Test Format
                                </h4>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                Stream
                                            </th>
                                            <th>Subjects</th>
                                            <th>No of Questions</th>
                                            <th>Time(in minutes)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Science</td>
                                            <td>Physics, Chemistry, Maths/Biology</td>
                                            <td>100</td>
                                            <td>120</td>
                                        </tr>
                                        <tr>
                                            <td>Commerce</td>
                                            <td>English, Mental Ability, Maths and Economics</td>
                                            <td>100</td>
                                            <td>120</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>

                                <h4>Syllabus</h4>
                                <p>Class X- Board Curriculum and Related Applied Concepts</p>

                                <div class="text-center">
                                    <a href="/Images/pdffile/OSAT Sample QP.pdf" target="_blank" class="btn btn-cta btn-sm"><i class="fa fa-download"></i>&nbsp;DOWNLOAD SAMPLE QUESTION PAPER HERE</a>
                                </div>

                                <h4>Date and Time</h4>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                Test Name
                                            </th>
                                            <th>Day and Date</th>
                                            <th>Time</th>                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>OSAT Phase Test 1</td>
                                            <td>29th March 2020 (Sunday)</td>
                                            <td>08:30 am - 11 am</td>
                                        </tr>
                                        <tr>
                                            <td>OSAT Phase Test 1</td>
                                            <td>5th April 2020 (Sunday)s</td>
                                            <td>08:30 am - 11 am</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <h2 style="margin-top:40px;">Nucleus 40 Batch</h2>
                                <h4>
                                    What is Nucleus 40 Batch?
                                </h4>
                                <p>
                                    NUCLEUS 40 is a special batch of ODM where we select only 40 students each for JEE and
                                    NEET integrated preparation. The batch is curated to ensure that CBSE and entrance
                                    preparation is done for the students through an integrated curriculum. Major advantage of this
                                    batch is students get 50% more time than normal students to focus on self-study and practice
                                    more. Please note that the top students selected in a separate entrance exam will be admitted
                                    to this batch and some exceptional students will get scholarships as well.
                                </p>
                                <h4>Selection Criteria</h4> 
                                <ul>
                                    <li>Students in Nucleus 40, will be selected based on the following criterias</li>
                                    <li>Top Performance in OSAT 2020</li>
                                    <li>NTSE, RMO or PRMO Qualifier</li>
                                    <li>ODM Student with stellar academic records</li>
                                </ul>
                               <p>
                                   <strong>If vacancy is still there </strong>Direct Admission on the basis of Class X Board exam percentage
                               </p>
                                <div class="clearfix" style="margin-top:50px;"></div>
                                <a href="http://online.odmegroup.org/Application/Register" style="float: right;" class="btn btn-dark btn-sm">Apply Online</a>
                                <div class="clearfix" style="margin-bottom:35px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

