﻿@{
    ViewBag.Title = "plan_a_visit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Plan a Visit | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="Visiting the school campus is a crucial stage in selecting the right school for your kid. That is the reason we take your school tour very seriously. Our Parent Advisors/Counselors plan your school tour so that you get the maximum out of it.">
    <meta name="keywords" content="Plan a Visit in odm,Plan a Visit in odm public school,Plan a Visit,Plan a Visit of odm,Plan a Visit of odm public school" />
    <link rel=" canonical" href="https://www.odmps.org/Admission/plan_a_visit" />
}
<section class="home-slider-container">
    <div class="home-slider slick-initialized slick-slider">
        <div class="item">
            <div class="bg" style="background:url(../../Content/banner/campus.jpg) center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <div class="mask">
                                <h1>TAKE A CAMPUS DAY TIME TOUR</h1>
                                <p>Experience the way students learn at ODM. Know why we are different and the No. 1 school of Odisha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-default">
    <div class="container">
        <div class="row"><div class="col-md-12"><h2>Plan a Visit</h2></div></div><div class="row">
            <div class="col-sm-7 clearfix">
                <p>Visiting the school campus is a crucial stage in selecting the right school for your kid. That is the reason we take your school tour very seriously. Our Parent Advisors/Counselors plan your school tour so that you get the maximum out of it.</p>
                <p>During your carefully crafted school visit, you will not only see the world class infrastructure your kid will be studying in, you will also get an opportunity to see a class in progress.</p>
                <hr>
                <h3 class="green center" style="text-align: center;">To book a campus tour, please write to us at <a href="mailto:admission@odmegroup.org">admission@odmegroup.org</a></h3><hr><p>&nbsp;</p>
            </div><div class="col-sm-4 col-sm-offset-1">
                @Html.Partial("_Admissionenquiry")
            </div>
        </div>
    </div>
</section>
