﻿
@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Grow at ODM Public School | Chairman's Message</title>
    <meta name="description" content="Education is a necessary and each moment of learning is a golden opportunity- an opportunity to give, to help, to love and to live fully. Have this experience at ODMPS.">
    <meta name="keywords" content="Chairman's Message">
    <link rel="canonical" href="https://www.odmps.org/About/Chairman_Message" />
}

<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Chairman Sir.jpg') center center no-repeat;background-size:cover">
            </div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>THE ARCHITECT TO THIS BRILLIANT ORGANIZATION</h1>
                                <p>It is the most difficult job to set up the foundation stone and visualise the whole building when it actually doesn't exist</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home"><span property="name">ODM</span></a>
                        <meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Overview." href="/About/Index" class="post post-page"><span property="name">Overview</span></a>
                        <meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Chairman's Message." href="/About/Chairman_Message" class="post post-page current-item">
                            <span property="name">Chairman's Message</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/About/odm_difference">ODM Difference</a> </li>
                    <li class="active"> <a href="/About/Chairman_Message">Chairman's Message</a> </li>
                    <li> <a href="/About/University_Placements">University Placements</a> </li>
                    <li> <a href="/About/awards_and_accolades">Awards and Accolades</a> </li>
                    <li> <a href="/About/odm_educational_group">ODM Educational Group</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Chairman's Message</h1>
                        <p>Dear Parents,</p>
                        <p>An Educational Institute is not just about the design with bricks, mortar and concrete, but about building character, enriching minds and about experiences that last a lifetime. Life is not a set of instructions but is a series of experiences and learning processes.</p>
                        <p>It is easy to dream of building a nation with global citizens, but difficult to turn it into a reality. Education is a constant process where, each day, a brick is laid towards constructing the foundation for global citizenship. Improvisation and technological development contribute to exhaustive and in-depth learning. I believe in taking up the challenge of providing better facilities and infrastructure to every child entrusted to me.</p>
                        <p>Each moment is a golden opportunity- an opportunity to learn, to give, to help, to love and to live fully. Education today is no longer confined to the four walls of the class room. All-round efforts are being made to provide qualitative, value based and activity oriented education here. The growing and overwhelming response is a testimony of our dedication in the field of education. The unstinted support of parents, students, teachers and all our stakeholders has been an incentive to compete against the odds and reach a platform where we can further explore new horizons.</p>
                        <p>Come! Experience a new dimension in education. Let your child be groomed to meet challenges and emerge successful in the global scenario.</p>
                        <p><strong>Dr. S. Minaketan</strong> <br />Chairman, ODM Educational Group</p>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/SAI SUBHANKAR BISWAL.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">SAI SUBHANKAR BISWAL</p><p class="designation">Student, Class II</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                ODM Public School is a great school! The teachers here are super about encouraging students to do their very best. Viswo Vinita Mam, is my English teacher, is fun and I really like her class. She loves to joke around, but does not play about getting work done.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div>
                        <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

