﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>@ViewBag.careerdet.position | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="@ViewBag.careerdet.responsibilities">
    <meta name="keywords" content="@(ViewBag.careerdet.position),@(ViewBag.careerdet.position) in odm,@(ViewBag.careerdet.position) in odm school,@(ViewBag.careerdet.position) in odm public school" />
    <link rel="canonical" href="https://www.odmps.org/Career/jobdetails/@ViewBag.careerdet.id" />
}
<section class="about-section no-slider" style="padding: 80px 0px;">
    <div class="container">
        <h1 class="single-page-title" style="margin-bottom: 15px;">@ViewBag.careerdet.position</h1>
        <div class="row">
            <div class="col-md-2">
                <h4>Job Code</h4>
                <p>@ViewBag.careerdet.code</p>
            </div>
            <div class="col-md-2">
                <h4>Posted On</h4>
                <p>
                    @(Convert.ToDateTime(ViewBag.careerdet.inserted_on).ToString("MMM dd, yyyy"))
                </p>
            </div>
            <div class="col-md-2">
                <h4>No Of Vacancy</h4>
                <p>
                    @ViewBag.careerdet.no_of_vacancy
                </p>
            </div>
            <div class="col-md-2">
                <h4>Status</h4>
                <p>
                    @ViewBag.careerdet.status
                </p>
            </div>
            @*<div class="col-md-4"></div>*@
        </div>
        <div class="row margin-top-0">
            <div class="col-md-8">
                <div class="article-thumbnail">
                    <div>
                        <h4>Skills</h4>
                        <p>
                            @ViewBag.careerdet.skills
                        </p>
                    </div>
                    <div>
                        <h4>Qualification</h4>
                        <p>
                            @ViewBag.careerdet.qualification
                        </p>
                    </div>
                    <div>
                        <h4>Job Responsibilities</h4>
                    </div>
                    <div>
                        @Html.Raw(ViewBag.careerdet.responsibilities)
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
        @if (ViewBag.careerdet.status == "OPEN")
        {
            <div class="row" style="margin-top: 40px;">
                <div class="col-sm-12 text-center"> <a class="btn btn-cta btn-sm" href="/Career/Applynow/@ViewBag.careerdet.id">Apply Now</a> </div>
            </div>
        }
    </div>
</section>
