﻿@{
    ViewBag.Title = "career";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">


                    <h4 class="card-title">Career</h4>
                    <hr />
                    <div class="box-tool box-tooll text-right">
                        <a class="btn btn-primary" href="/Admin/createoreditcareer"><i class="fa fa-plus"></i><span> Create</span></a>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Code</th>
                                    <th>Position</th>
                                    <th>No of Vacancy</th>
                                    <th>Experience</th>
                                    <th>Salary</th>
                                    <th>Skill</th>
                                    <th>Status</th>
                                    <th>Added On</th>
                                    <th>Candidates</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.joblist != null)
                                    {
                                        int i = 0;

                                        foreach (var a in ViewBag.joblist)
                                        {
                                            <tr>
                                                <td>@(i = i + 1)</td>
                                                <td>@a.code</td>
                                                <td>@a.position</td>
                                                <td>@a.no_of_vacancy</td>
                                                <td>@a.experience</td>
                                                <td>@a.salary</td>
                                                <td>@a.skills</td>
                                                <td>@a.status</td>
                                                <td>@(Convert.ToDateTime(a.inserted_on).ToString("dd MMM yyyy"))</td>
                                                <td>
                                                    <a href="/Admin/candidatelist/@a.id"><i class="fa fa-eye"></i></a>
                                                </td>
                                                <td>
                                                    <a href="/Admin/createoreditcareer/@a.id"><i class="fa fa-edit"></i></a>
                                                    <a href="/Admin/removecareer/@a.id"><i class="fa fa-trash"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
