﻿@{
    ViewBag.Title = "Comments";
    ViewBag.Breadcrumb = "Comments";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    

                    <h4 class="card-title">Comments
                        
                    </h4>
                    <hr />
                    <div class="box-tool box-tooll text-right">
                        <a class="btn btn-primary" href="/Admin/CreateComments/@ViewBag.blog_id"><i class="fa fa-plus"></i><span> Post Comments</span></a>
                    </div>
                    <div class="clearfix" style="margin-bottom:10px;"></div>
                    <div class="table-responsive">
                        <table class="table table-advance" id="table1">
                            <thead>
                                <tr>
                                    <th>Sl No</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Message</th>
                                    <th>Added On</th>
                                    <th>Sub Comments</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.commentslist != null)
                                    {
                                        int i = 0;
                                        foreach (var a in ViewBag.commentslist)
                                        {
                                            <tr>
                                                <td>@(i = i + 1)</td>
                                                <td>@a.name</td>
                                                <td>@a.email</td>
                                                <td>@a.message</td>
                                                <td>@(Convert.ToDateTime(a.inserted_on).ToString("dd MMM yyyy"))</td>
                                                <td><a href="/Admin/Sub_Comments_on_blog/@a.id">Sub Comment</a></td>
                                                <td><a href="/Admin/Remove_Comments_on_blog/@a.id"><i class="fa fa-trash"></i></a></td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>