﻿
@{
    ViewBag.Title = "createoreditcareer";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<script type="text/javascript" src="http://js.nicedit.com/nicEdit-latest.js"></script>
<script type="text/javascript">
    //<![CDATA[
    bkLib.onDomLoaded(function () { nicEditors.allTextAreas() });
    //]]>
</script>
<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Or Edit Career</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("SaveorUpdatecareer", "Admin", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Code*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="code" name="code" class="form-control" required data-msg-required="Please write code" placeholder="Code" value="@ViewBag.code" disabled />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Position*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="position" name="position" class="form-control" required data-msg-required="Please write position" placeholder="Position" value="@ViewBag.position" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Skills*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="skills" name="skills" class="form-control" required data-msg-required="Please write skills" placeholder="Skills" value="@ViewBag.skills" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Qualification*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="qualification" name="qualification" class="form-control" required data-msg-required="Please write qualification" placeholder="Qualification" value="@ViewBag.qualification" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>No Of Vacancy*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="noofvacancy" name="noofvacancy" class="form-control" required data-msg-required="Please write no of vacancy" placeholder="no of vacancy" value="@ViewBag.no_of_vacancy" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Experience*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="experience" name="experience" class="form-control" required data-msg-required="Please write experience" placeholder="Experience" value="@ViewBag.experience" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Salary*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="salary" name="salary" class="form-control" required data-msg-required="Please write salary" placeholder="Salary" value="@ViewBag.salary" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Responsibilities*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <textarea name="responsibilities" style="width: 100%;" id="responsibilities" required rows="12" data-msg-required="Please write Responsibilities">
                                            @ViewBag.responsibilities
                                        </textarea>
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Status*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <select id="status" name="status" class="form-control" required data-msg-required="Please select status">
                                            <option value="OPEN" @(ViewBag.status == "OPEN" ? "selected" : "")>OPEN</option>
                                            <option value="CLOSE" @(ViewBag.status == "CLOSE" ? "selected" : "")>CLOSE</option>
                                        </select>
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                  
                                </div>
                                <div class="col-md-2">

                                </div>

                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/career';
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/career';
                    }

                })
            }
        });
    })
</script>