﻿@{
    ViewBag.Title = "createoreditstudentresult";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Or Edit Photo Gallery</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("SaveorUpdatestudentresult", "Admin", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Type*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <select id="typeid" name="typeid" class="form-control" required data-msg-required="Please select type">
                                            <option value="">Select Type</option>
                                            @if (ViewBag.typelist != null)
                                            {
                                                foreach (var a in ViewBag.typelist)
                                                {
                                                    <option value="@a.id" @(ViewBag.typeid == a.id ? "selected" : "")>@a.name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Category</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <select id="categoryid" name="categoryid" class="form-control" ></select>
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Student Name*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="student_name" name="student_name" required class="form-control" data-msg-required="Please write student name" placeholder="Student Name" value="@ViewBag.student_name" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Score*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="score" name="score" class="form-control" required data-msg-required="Please write score" placeholder="Score" value="@ViewBag.score" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Year*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <select id="year" name="year" class="form-control" required data-msg-required="Please select year">
                                            @for (int i = 2000; i <= DateTime.Now.Year; i++)
                                            {
                                                <option value="@i" @(ViewBag.year == i ? "selected" : "")>@i</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Upload Image*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="file" id="RegImage1" name="RegImage1" accept=".jpg,.jpeg,.png,.gif" @(Session["rid"] == null ? "required" : "") data-msg-required="Please upload image" /><br />
                                        <div> Image Dimension should be 235 x 270</div>
                                        <img id="PrevImage19" src="@ViewBag.image" title="Image is optional" width="440" height="211" alt="Image" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                </div>
                                <div class="col-md-2">

                                </div>

                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/admin_assets/js/jquery.elevatezoom.js"></script>
<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();
        checktypes();
        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#PrevImage19').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#RegImage1").change(function () {
            readURL1(this);
        });
        //$(".zoom_10").elevateZoom({
        //    zoomWindowWidth: 200,
        //    zoomWindowHeight: 200
        //});
        function checktypes() {
            var id = '@ViewBag.categoryid';
            var tid = '@ViewBag.typeid';
            debugger;
            if (id != '0' && tid != "0") {
                $.get('/Admin/getresultcategory', { id: tid }, function (data) {
                    debugger;
                    $('#categoryid').empty();
                    $('#categoryid').append('<option value="0">Select Category</option>');
                    if (data.length > 0) {                        
                        for (var i = 0; i < data.length; i++) {
                            if (id == data[i].id) {
                                $('#categoryid').append('<option value="' + data[i].id + '" selected>' + data[i].name + '</option>');
                            }
                            else {
                                $('#categoryid').append('<option value="' + data[i].id + '">' + data[i].name + '</option>');
                            }
                        }

                    }
                })
            }
        }
        $('#typeid').change(function () {
            debugger;
            if ($('#typeid').val() != '0') {
                debugger;
                $.get('/Admin/getresultcategory', { id: $('#typeid').val() }, function (data) {
                    debugger;
                    $('#categoryid').empty();
                    $('#categoryid').append('<option value="0">Select Category</option>');
                    if (data.length > 0) {                        
                        for (var i = 0; i < data.length; i++) {
                            $('#categoryid').append('<option value="' + data[i].id + '">' + data[i].name + '</option>')
                        }
                    }
                })
            }
        })
    });
</script>

<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                //var data = new FormData();
                //var files = $("#RegImage1").get(0).files;
                ////Basic Info
                //if (files.length > 0) {
                //    data.append("file", files[0]);
                //}
              
                var formData = new FormData($("#validation-form")[0]);
               // formData.append("file", files[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/studentresult';
                    },
                    error: function (resp) {

                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/studentresult';
                    }

                })
            }
        });
    })
</script>