﻿@{
    ViewBag.Title = "createoreditawards";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="content-wrapper">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Create Or Edit Homepage Slider</h4>
                    <hr />
                    <div class="row">
                        @using (Html.BeginForm("SaveorUpdateawards", "Admin", FormMethod.Post,
    new { @class = "form-horizontal", data_ajax = "false", enctype = "multipart/form-data", id = "validation-form" }))
                        {
                            <div class="form-group">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-8">
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Name*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="text" id="name" name="name" class="form-control" required data-msg-required="Please write name" placeholder="Name" value="@ViewBag.name" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Description*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <textarea class="form-control" data-rule-required="true" required data-msg-required="Please write your description" id="description" name="description" placeholder="Please write your description" style="margin: 0px -21.75px 0px 0px; height: 244px; width: 100%;" rows="5">@ViewBag.description</textarea>
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Year*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <select id="year" name="year" class="form-control" required data-msg-required="Please select year">
                                            <option value="0">Select Year</option>
                                            @for (int i = 1990; i <= DateTime.Now.Year; i++)
                                            {
                                                if (ViewBag.year != null && ViewBag.year == i)
                                                {
                                                    <option value="@i" selected>@i</option>
                                                }
                                                else
                                                {
                                                    <option value="@i">@i</option>
                                                }
                                            }
                                        </select>

                                    </div>                                   
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <label>Upload Image*</label>
                                    </div>
                                    <div class="col-sm-12 col-lg-12 controls">
                                        <input type="file" id="RegImage1" name="RegImage1" accept=".jpg,.jpeg,.png,.gif" @(Session["aid"] == null ? "required" : "") data-msg-required="Please upload image" />
                                        <img id="PrevImage19" src="@ViewBag.image" title="Image is optional" width="440" height="211" alt="Image" />
                                    </div>
                                    <div class="clearfix" style="margin-bottom:10px;"></div>
                                </div>
                                <div class="col-md-2">

                                </div>

                            </div>
                            <div class="form-group text-center">
                                <button type="submit" id="Reply" class="btn btn-large btn-primary btn-success"><i class="fa fa-check green-i"></i> <span>Submit</span></button>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/admin_assets/js/jquery.elevatezoom.js"></script>
<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();

        function readURL1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#PrevImage19').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#RegImage1").change(function () {
            readURL1(this);
        });
        $(".zoom_10").elevateZoom({
            zoomWindowWidth: 200,
            zoomWindowHeight: 200
        });

    });
</script>

<script>
    $(document).ready(function () {
        $("#hidden_txt").hide();
        $("#validation-form").on("submit", function (event) {
            debugger;
            if ($("#validation-form").valid()) {
                event.preventDefault();
                debugger;
                // Show the "busy" Gif:
                $("#divloader").show();
                var url = $(this).attr("action");
                var formData = new FormData($("#validation-form")[0]);
                $.ajax({
                    url: url,
                    type: "POST",
                    data: formData,
                    dataType: "json",
                    processData: false,
                    contentType: false,
                    success: function (resp) {
                        
                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/awards';
                    },
                    error: function (resp) {
                       
                        $("#divloader").hide();

                        // Do something useful with the data:
                        var message = "Saved Successfully";
                        alert(message);
                        window.location.href = '/Admin/awards';
                    }

                })
            }
        });
    })
</script>