﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Top Performers of ODM Public School | Achiever's Club</title>
    <meta name="description" content="All the top performers from Class IV to XII are part of the achiever's club at ODM Public School. ">
    <meta name="keywords" content="Achiever's Club in odm, Achiever's Club in odm public school, Achiever's Club in odm school,  Achiever's Club of odm, Achiever's Club of odm public school,Achiever's Club of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Studentlife/Achievers_club" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/chairmans Club.jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6  col-sm-offset-6">
                            <div class="mask">
                                <h1>AN ACHIEVER IS NOT BORN</h1>
                                <p>It is years of hardwork and perseverance</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a><meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Student Life." href="/Studentlife/Index" class="post post-page">
                            <span property="name">Student Life</span>
                        </a><meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Achiever's Club." href="/Studentlife/Achievers_club" class="post post-page current-item">
                            <span property="name">Achiever's Club</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/Studentlife/Index">About Student Life</a> </li>
                    <li> <a href="/Studentlife/Residential_Facility">Residential Facility</a> </li>
                    <li> <a href="/Studentlife/UN_Nodal_School">UN Nodal School</a> </li>
                    <li> <a href="/Studentlife/literary_activities">Literary Activities</a> </li>
                    <li> <a href="/Studentlife/art_and_cultural">Art And Cultural</a> </li>
                    <li> <a href="/Studentlife/sports_and_wellness">Sports and Wellness</a> </li>
                    <li> <a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a> </li>
                    <li class="active"> <a href="/Studentlife/Achievers_club">Achiever's Club</a> </li>
                    <li> <a href="/Studentlife/community_service">Community Service</a> </li>
                    <li> <a href="/Studentlife/Green_India_Club">Green India Club</a> </li>
                    <li> <a href="/Studentlife/Leap_series">L.E.A.P Series</a> </li>
                    <li> <a href="/Studentlife/odm_media_club">ODM Media Club</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Achiever's Club</h1>
                        <p></p>
                        <div class="col-sm-12 col-md-12">
                            <section class="inner-lead">
                                <div class="row">
                                    <p>If something that highlights the talent and achievements of ODMians, it is nothing but the Achievers Club of ODM. Formerly known as the Principal Club, Achievers Club constitutes of students with extraordinary achievements in the field of Academics as well as Co-Academics. A Certain selection criteria as mentioned below is provided to select the students in Achievers Club-</p>

                                    <p><strong>Classes Eligible-</strong> Class IV-XII</p>
                                    <h5><strong>Criteria</strong></h5>
                                    <p>Academics- the students who secure more than 95% in the annual examination of the last academic year or are qualifiers of NTSE, National Olympiads or KVPY.</p>
                                    <p>Co-Academics- The student who have any International, National or State Level achievement in any field (ex- Sports, Dance, Art, Cultural, Scientific)</p>
                                    <p>The students in the Achievers Club are provided with certain perks to encourage them even further-</p>
                                    <ul class="">
                                        <li>Scholarships in the Senior Secondary Level from the ODM Scholarship Fund</li>
                                        <li>Special Interaction Session, Hi-Tea Session with Chairman, ODM Educational Group</li>
                                        <li>Special Access to certain exclusive events and speaker sessions of the School.</li>
                                        <li>Felicitation and Badge of Honour in the school.</li>
                                        <li>An additional preference in selection for certain activities at school level.</li>
                                    </ul>

                                    <div class="activity-grid clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/MANSHAA PANDA.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">MANSHAA PANDA</p><p class="designation">Student, Class XI</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                I really recommend this school to everyone, since that contributed to making me one of the most beautiful experience in my life. All staff members are friendly, professional and always available to help you for everything. Classes are small and teachers are very qualified, kind and fun. 
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>