﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>Learn Empathy and To Give Back | ODM Public School</title>
    <meta name="description" content="It is important to inculcate empathy and passion for society amongst the younger ones. ODM Public School ensures that its students learn to give back to the society they live in.">
    <meta name="keywords" content="Community Service in odm, Community Service in odm public school, Community Service in odm school,  Community Service of odm, Community Service of odm public school,Community Service of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Studentlife/community_service" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Social Service Activity.jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6  col-sm-offset-6">
                            <div class="mask">
                                <h1>GIVING BACK TO THE SOCIETY</h1>
                                <p>Social Service is not just about free service, it is also about impacting the lives of the deserving ones</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a><meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Student Life." href="/Studentlife/Index" class="post post-page">
                            <span property="name">Student Life</span>
                        </a><meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Community Service." href="/Studentlife/community_service" class="post post-page current-item">
                            <span property="name">Community Service</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/Studentlife/Index">About Student Life</a> </li>
                    <li> <a href="/Studentlife/Residential_Facility">Residential Facility</a> </li>
                    <li> <a href="/Studentlife/UN_Nodal_School">UN Nodal School</a> </li>
                    <li> <a href="/Studentlife/literary_activities">Literary Activities</a> </li>
                    <li> <a href="/Studentlife/art_and_cultural">Art And Cultural</a> </li>
                    <li> <a href="/Studentlife/sports_and_wellness">Sports and Wellness</a> </li>
                    <li> <a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a> </li>
                    <li> <a href="/Studentlife/Achievers_club">Achiever's Club</a> </li>
                    <li class="active"> <a href="/Studentlife/community_service">Community Service</a> </li>
                    <li> <a href="/Studentlife/Green_India_Club">Green India Club</a> </li>
                    <li> <a href="/Studentlife/Leap_series">L.E.A.P Series</a> </li>
                    <li> <a href="/Studentlife/odm_media_club">ODM Media Club</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Community Service</h1>
                        <p></p>
                        <div class="col-sm-12 col-md-12">
                            <section class="inner-lead">
                                <div class="row">
                                    <p>With the vision of Chairman, to give back to the society, ODM took birth in 1989. So it is highly unlikely for the school not have the same values. Precisely, this is the reason, where ODM students by default have a sense of social responsibility instilled in them. ODMians through various activities take efforts round the year in doing community service. </p>

                                    <p>Our students, faculty and staff members never miss an opportunity to volunteer their resources and time to socialize. Our belief is that community service is learning by doing, experiencing, caring for members of the local and global community and demonstrating this by a personal commitment towards making a difference to the lives of others.We want our students to grow up to be successful, purposeful members of society; to make meaningful contributions towards the development of the economically deprived strata of our society. Instead of taking the theoretical approach to service leadership, we look for opportunities for our students to engage in hands-on community service. Following are some of the activities that they engage in each term:</p>


                                    <ul class="">
                                        <li>
                                            Adoption of Tribal villages in Bhalunka. Providing them with livelihood, mushroom culture, sewing machines to women.
                                        </li>
                                        <li>
                                            Slum school in Shikarchandi
                                        </li>
                                        <li>
                                            Computer literacy to tribal children.
                                        </li>
                                        <li>
                                            Sharing provisions with members of OLD Age Home, khurda
                                        </li>
                                        <li>
                                            Visit and sharing with orphans in Shailashree Vihar
                                        </li>
                                        <li>
                                            Flood relief
                                        </li>
                                        <li>
                                            Eye checkup camp
                                        </li>
                                        <li>
                                            Blood donation camp
                                        </li>
                                        <li>
                                            Restoration after Cyclone Fani.
                                        </li>
                                        <li>
                                            Mega plantation and distribution of saplings to localites
                                        </li>
                                        <li>
                                            Swaachta Abhiyan
                                        </li>
                                        <li>
                                            Road demonstrations and awareness programs- safety rules, dengue, AIDS etc
                                        </li>
                                    </ul>

                                    <div class="activity-grid clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/SARTHAK KUMAR SAHOO.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">SARTHAK KUMAR SAHOO</p><p class="designation">Student, Class XI</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                I can certainly say that It’s one of the most important tiles of the mosaic called “Academics”. I’ve spent 7 years here and I could see my improvement from the beginning and the cause of this is that they have well-organised qualified teaching staff always willing to help you. The school offers many activities in the afternoon in order to always provide you the opportunity to excel in other activities
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>