﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>ODM Public School is on a mission to create a Green Planet</title>
    <meta name="description" content="ODMPS has created a Green India Club in which it encourages its students and people in neighbourhood to follow the policy of each one plants one. It aims at planting 40,000 in the next year.">
    <meta name="keywords" content="Green India Club in odm, Green India Club in odm public school, Green India Club in odm school,  Green India Club of odm, Green India Club of odm public school,Green India Club of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Studentlife/Green_India_Club" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Green India.jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6  col-sm-offset-6">
                            <div class="mask">
                                <h1>WE GROW WHEN EACH ONE PLANTS ONE</h1>
                                <p>Nothing is more important than the real quality of the place we live in</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a><meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Student Life." href="/Studentlife/Index" class="post post-page">
                            <span property="name">Student Life</span>
                        </a><meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Green India Club." href="/Studentlife/Green_India_Club" class="post post-page current-item">
                            <span property="name">Green India Club</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/Studentlife/Index">About Student Life</a> </li>
                    <li> <a href="/Studentlife/Residential_Facility">Residential Facility</a> </li>
                    <li> <a href="/Studentlife/UN_Nodal_School">UN Nodal School</a> </li>
                    <li> <a href="/Studentlife/literary_activities">Literary Activities</a> </li>
                    <li> <a href="/Studentlife/art_and_cultural">Art And Cultural</a> </li>
                    <li> <a href="/Studentlife/sports_and_wellness">Sports and Wellness</a> </li>
                    <li> <a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a> </li>
                    <li> <a href="/Studentlife/Achievers_club">Achiever's Club</a> </li>
                    <li> <a href="/Studentlife/community_service">Community Service</a> </li>
                    <li class="active"> <a href="/Studentlife/Green_India_Club">Green India Club</a> </li>
                    <li> <a href="/Studentlife/Leap_series">L.E.A.P Series</a> </li>
                    <li> <a href="/Studentlife/odm_media_club">ODM Media Club</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Green India Club</h1>
                        <p></p>
                        <div class="col-sm-12 col-md-12">
                            <section class="inner-lead">
                                <div class="row">
                                    <p>The goal of the Green India Club- “The Goal isn’t to live forever, the goal is to create something that will”. The mission for a Green India, Save India Clubs, is one of the eight missions under the National Action Plan on Climate Change (NAPCC). </p>

                                    <p>
                                        It acknowledges the influences that the forestry sector has on environmental amelioration through climate mitigation, food security, biodiversity conservation and livelihood security of forest department communities.
                                        Greening is meant to enhance ecosystem services such as carbon sequestration and storage (in forests and other ecosystems), hydrological services and biodiversity as well as other provisioning services.
                                    </p>
                                    <p>The Green India club is formed at School level to create awareness among the children on protection of environment and their role and responsibility. The awareness will be developed among them with the concept of Each One, Plant One.</p>
                                    <p>The Mission Strategy of Green India Club includes-</p>

                                    <ul class="">
                                        <li>
                                            Greening of Smart City Bhubaneswar and other parts of Odisha state as well as neighbouring states of Odisha.
                                        </li>
                                        <li>
                                            Restore degraded forests, and enhancement of forests with relatively dense forest cover.
                                        </li>
                                        <li>
                                            The mission will foster an integrated approach that treats forests and non-forest public lands as well as private lands simultaneously.
                                        </li>
                                    </ul>
                                    <p>The Plan of Action for next one year includes-</p>
                                    <ul class="">
                                        <li>
                                            Plant with Personal Care- 30,000 Plants
                                        </li>
                                        <li>
                                            Plant with Community Care- 40,000 Plants
                                        </li>
                                        <li>
                                            Plant with Institutional Care- 30,000 Plants
                                        </li>
                                    </ul>
                                    <div class="activity-grid clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/AYUSH NAYAK.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">AYUSH NAYAK</p><p class="designation">Student, Class III</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                We do fun activities and we’re all really close. Padhi Sir is the ever-hilarious Language teacher but he is also very serious when it comes to our work. Somnath Sir, my math teacher, is really good at what he does. Whenever I think something is hard, he makes it so easy.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>