﻿@{
    ViewBag.Title = "Residential_Facility";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section metatags
{
    <title>Residential Facility | ODM PUBLIC SCHOOL</title>
    <meta name="description" content="At ODM, we believe that education systems need to help develop the 21st century skills required for children to successfully negotiate through life’s challenges. Hence, Student life at ODM goes beyond conventional academics and curriculum. We are convinced that extra-curricular programs are an important part of education and that there is as much learning outside of classrooms as there is within them. We offer the students a spectacular range of activities, events, workshops, courses and conferences to choose from, each of which is handpicked and vetted by our team of experts.">
    <meta name="keywords" content="Residential Facility in odm, Residential Facility in odm public school, Residential Facility in odm school, Residential Facility of odm, Residential Facility of odm public school, Residential Facility of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Studentlife/Residential_Facility" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url(../../Content/banner/v007.jpg) center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-6">
                            <div class="mask">
                                <h1>LEARNING WITH ALL THE FUN</h1>
                                <p>Teaching students the basics with a lot of fun events</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a><meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Student Life." href="/Studentlife/Index" class="post post-page">
                            <span property="name">Student Life</span>
                        </a><meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to About Residential Facility." href="/Studentlife/Residential_Facility" class="post post-page current-item">
                            <span property="name">Residential Facility</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/Studentlife/Index">About Student Life</a> </li>
                    <li class="active"> <a href="/Studentlife/Residential_Facility">Residential Facility</a> </li>
                    <li> <a href="/Studentlife/UN_Nodal_School">UN Nodal School</a> </li>
                    <li> <a href="/Studentlife/literary_activities">Literary Activities</a> </li>
                    <li> <a href="/Studentlife/art_and_cultural">Art And Cultural</a> </li>
                    <li> <a href="/Studentlife/sports_and_wellness">Sports and Wellness</a> </li>
                    <li> <a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a> </li>
                    <li> <a href="/Studentlife/Achievers_club">Achiever's Club</a> </li>
                    <li> <a href="/Studentlife/community_service">Community Service</a> </li>
                    <li> <a href="/Studentlife/Green_India_Club">Green India Club</a> </li>
                    <li> <a href="/Studentlife/Leap_series">L.E.A.P Series</a> </li>
                    <li> <a href="/Studentlife/odm_media_club">ODM Media Club</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>Residential Facility</h1>
                        <p></p>
                        <div class="col-sm-12 col-md-12">
                            <section class="inner-lead">
                                <div class="row">
                                    <p>HOSTEL is one of the facilities offered by ODM, as a part of its quality drive for holistic education. It provides separate hostels, both in-campus and off-campus for boys and in-campus for girls. AC Hostel rooms are offered to students for their comfortable stay during their two-years’ study at ODM. All the hostels have attached canteens serving hygienically cooked Indian and Continental food. Hostel life at ODM is provided with all the elements which make it a second home for outstation students.</p>
                                    
                                    <h4 style="margin-top:20px;">&nbsp;ODM Boarding Provision has-</h4>
                                    <ul>
                                        <li>Complete AC Sharing Accomodations</li>
                                        <li>Central Water Heating Systems</li>
                                        <li>Spacious Rooms with Bunker Bed Provisions</li>
                                        <li>24x7 complete camera supervision</li>
                                        <li>Inside the Campus and Outside the Campus accommodation provision</li>
                                        <li>In-House Ambulance and Pharmacy Services</li>
                                        <li>
                                            Hygienic Food Provision
                                        </li>
                                        <li>
                                            Boarding Managers and Floor Coordinators to take care of the children
                                        </li>
                                    </ul>
                                    <h4 style="margin-top:20px;">&nbsp;Why choose ODM’s Hostel Provision?</h4>
                                    <ul>
                                        <li>They are inside/outside (within 50 mtrs) from the campus and are completely operated by the school management ensuring complete safety of the children.</li>
                                        <li>End-to-End responsibility of the child, right from Academics to safety and comfort.</li>
                                        <li>Get more time for integrated study with CBSE and Coaching Provisions and perform better academically</li>
                                        <li>
                                            Get ample sports opportunities and co-curricular activities opportunities
                                        </li>
                                        <li>
                                            With no-phone, electronic gadgets and strict regulations on outside visit or exposure to negative elements, the hostels provide a distraction-free environment for the students.
                                        </li>

                                    </ul>
                                    <div class="activity-grid clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/ADITYA PRASAD TRIPATHY.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">ADITYA PRASAD TRIPATHY</p><p class="designation">Student, Class III</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                ODM expects nothing less than the best from each and every student. Teachers are here to teach but at this school they inspire. They are compassionate and caring towards the students. Tutoring and after-school programs are offered to all students.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
