﻿@{
    ViewBag.Title = "UN Nodal School";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
    <title>ODM Public School Chosen by UN Nodal School to help Local Community</title>
    <meta name="description" content="ODMPD is endowed with the responsibility to give back to the society. ODMPS with its students and management is working towards creating a sustainable environment for the neighbourhood.">
    <meta name="keywords" content="UN Nodal School in odm, UN Nodal School in odm public school, UN Nodal School in odm school, UN Nodal School of odm,UN Nodal School of odm public school, UN Nodal School of odm school" />
    <link rel=" canonical" href="https://www.odmps.org/Studentlife/UN_Nodal_School" />
}
<section class="home-slider-container">
    <div class="home-slider">
        <div class="item">
            <div class="bg" style="background:url('../../Content/banner/Another Social Service Activity.jpg') center center no-repeat;background-size:cover"></div>
            <div class="info">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6  col-sm-offset-6">
                            <div class="mask">
                                <h1>GROW BY THE JOY OF GIVING</h1>
                                <p>We learn with the resources at our disposal, sharing the same with people with no resources, makes it all the more special</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="breadcrumbs-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcrumbs" typeof="BreadcrumbList" vocab="http://schema.org/">
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to ODM." href="/" class="home">
                            <span property="name">ODM</span>
                        </a><meta property="position" content="1">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to Student Life." href="/Studentlife/Index" class="post post-page">
                            <span property="name">Student Life</span>
                        </a><meta property="position" content="2">
                    </span> &gt;
                    <span property="itemListElement" typeof="ListItem">
                        <a property="item" typeof="WebPage" title="Go to UN Nodal School." href="/Studentlife/UN_Nodal_School" class="post post-page current-item">
                            <span property="name">UN Nodal School</span>
                        </a><meta property="position" content="3">
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-3" id="sidebar-col">
            <div class="sidebar-nav" id="sidebar-nav">
                <div id="sidebar-toggle">
                    <div class="open">
                        <span class="glyphicon glyphicon-menu-left"></span>
                    </div>
                    <div class="close">
                        <span class="close">×</span>
                    </div>
                </div>
                <ul class="">
                    <li> <a href="/Studentlife/Index">About Student Life</a> </li>
                    <li> <a href="/Studentlife/Residential_Facility">Residential Facility</a> </li>
                    <li class="active"> <a href="/Studentlife/UN_Nodal_School">UN Nodal School</a> </li>
                    <li> <a href="/Studentlife/literary_activities">Literary Activities</a> </li>
                    <li> <a href="/Studentlife/art_and_cultural">Art And Cultural</a> </li>
                    <li> <a href="/Studentlife/sports_and_wellness">Sports and Wellness</a> </li>
                    <li> <a href="/Studentlife/trips_and_expeditions">Trips And Expeditions</a> </li>
                    <li> <a href="/Studentlife/Achievers_club">Achiever's Club</a> </li>
                    <li> <a href="/Studentlife/community_service">Community Service</a> </li>
                    <li> <a href="/Studentlife/Green_India_Club">Green India Club</a> </li>
                    <li> <a href="/Studentlife/Leap_series">L.E.A.P Series</a> </li>
                    <li> <a href="/Studentlife/odm_media_club">ODM Media Club</a> </li>
                </ul> <img src="~/Content/images/30years logo.png" class="sidebarimage" alt="30 years of Excellence" style="margin: 0 auto;"><br><img src="" class="sidebarimage" alt="" style="margin: 0 auto;">
            </div>
        </div>
        <div class="col-sm-8 col-md-9">
            <section class="inner-lead">
                <div class="row">
                    <div class="col-lg-8 clearfix">
                        <h1>UN Nodal Schoo</h1>
                        <p></p>
                        <div class="col-sm-12 col-md-12">
                            <section class="inner-lead">
                                <div class="row">
                                    <p>Students at ODM have always believed in giving it back to the society and contributing to the society. ODM was chosen as an UN Nodal School by Gandhi Global Foundation, where ODM has been endowed with the responsibility to achieve the following goals with the efforts of its students and management in the local community. There are 17 Sustainable Development Goals and here is what ODM tries to achieve the same-</p>
                                    <p>
                                        <h4><strong>Goal No. 1: No Poverty</strong></h4>
                                        Economic growth must be inclusive to provide sustainable jobs and promote equality.
                                    </p>

                                    <p>
                                        <h4><strong>Goal No. 2: Zero Hunger</strong></h4>
                                        The food and agriculture sector offers key solutions for development, and is central for hunger and poverty eradication.
                                    </p>


                                    <p>
                                        <h4><strong>Goal No. 3: Good Health and Well-Being</strong></h4>
                                        Ensuring healthy lives and promoting the well-being for all at all ages is essential to sustainable development.
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 4: Quality Education</strong></h4>
                                        Obtaining a quality education is the foundation to improving people’s lives and sustainable development.
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 5: Gender Equality</strong></h4>
                                        Gender equality is not only a fundamental human right, but a necessary foundation for a peaceful, prosperous and sustainable world
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 6: Clean Water and Sanitation</strong></h4>
                                        Clean, accessible water for all is an essential part of the world we want to live in.
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 7: Affordable and Clean Energy</strong></h4>
                                        Energy is central to nearly every major challenge and opportunity.
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 8: Decent Work and Economic Growth</strong></h4>
                                        Sustainable economic growth will require societies to create the conditions that allow people to have quality jobs
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 9: Industry, Innovation and Infrastructure</strong></h4>
                                        Investments in infrastructure are crucial to achieving sustainable development.
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 10: Reduced Inequalities</strong></h4>
                                        To reduce inequalities, policies should be universal in principle, paying attention to the needs of disadvantaged and marginalized populations.
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 11: Sustainable Cities and Communities</strong></h4>
                                        There needs to be a future in which cities provide opportunities for all, with access to basic services, energy, housing, transportation and more.
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 12: Responsible Production</strong></h4>
                                        Responsible Consumption and Production is also the need of the hour
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 13: Climate Action</strong></h4>
                                        Climate change is a global challenge that affects everyone, everywhere.
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 14: Life Below Water</strong></h4>
                                        Careful Management of this essential global resource is a key feature for the sustainable future
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 15: LIfe on Land</strong></h4>
                                        Sustainably manage forests, combat desertification, halt and reverse land degradation, halt biodiversity loss.
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 16: Peace, Justice and Strong Institutions</strong></h4>
                                        Access to Justice for all, and building effective accountable institutions at all levels
                                    </p>
                                    <p>
                                        <h4><strong>Goal No. 17: Partnerships for the Goals</strong></h4>
                                        Revitalize the global partnership for sustainable development
                                    </p>

                                    <div class="activity-grid clearfix"></div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="col-lg-4 clearfix">
                        <div class="static-testimonial-box">
                            <span class="fa fa-quote-left quote quote-top">
                            </span>
                            <div class="person-box">
                                <img src="~/Content/testimonial/NANDINI DAS.jpg" alt="Photo">
                                <div class="details">
                                    <p class="name">NANDINI DAS</p><p class="designation">Student, Class II</p>
                                </div>
                            </div>
                            <blockquote class="testimonial">
                                I have been a student at ODM for three school years and from what I have experienced, I can tell you it is a great school. The teachers are very reasonable and fair. The staff is excellent and the rules help keep the school safe and in order.
                            </blockquote><span class="fa fa-quote-right quote quote-bottom"></span>
                        </div>
                        <div class="seperator"></div> <h2>Recent Blog Posts</h2>
                        @Html.Partial("Recentblogs")
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>