﻿
a:focus {
    outline: none !important;
}


.mis-slide {
    width: 100%;
    padding: 0;
    display: block;
    position: relative;
    float: left;
    overflow: visible !important;
}

/*.js .mis-slide {
    display: inline;
    opacity: 1;
}

.mis-slide:before {
    display: inline ;
}*/

.mis-slide.mis-current {
    z-index: 100;
    display: block;
}

.mis-stage, .mis-slider, .mis-slide, .mis-container, .mis-container * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.mis-slider {
    margin-top: 112.5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}

.mis-container {
    display: block;
    width: auto;
    height: auto;
    border: 0;
}

.mis-slider li img {
    max-width: 225px;
    width: 100%;
    display: inline;
    border-radius: 0px;
    border: 5px solid #ffffff;
    height: 225px;
    margin: 0;
    filter: none !important;
    -webkit-filter: none !important;
    -ms-filter: none !important;
    -moz-filter: none !important;
    -o-filter: none !important;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*.entry-content li, .comment-content li, .mu_register li {
    margin: 0px;
}

.mis-slide {
    width: 305px;
    height: 315px;
    margin-top: -72.5px !important;
    padding: 0px !important;
}*/

/*.mis-slider li span, .mis-slider li a figure {
    font-family: Aldhabi !important;
}

.mis-slider li span, .mis-slider li a {
    box-shadow: none !important;
    border: none !important;
}

.entry-content ol li, .entry-content ul li {
    margin-left: 0px;
}*/

/*.mis-nav-list li a {
    width: 15px;
    height: 10px;
    margin: 0 3px;
    border: 1px solid #0084aa;
    border-radius: 15px;
    background: #ffffff;
}

.mis-nav-list li.mis-current a {
    background: #0084aa;
}

.mis-nav-list li a:hover {
    background: #0066bf;
}*/

/*.mis-nav-buttons a {
    color: #ffffff !important;
    border: none !important;
}

    .mis-nav-buttons a.mis-prev:before, .mis-nav-buttons a.mis-next:after {
        content: "\f104";
        display: block;
        font-size: 40px;
        text-indent: 0;
        border: none !important;
    }

    .mis-nav-buttons a.mis-next:after {
        content: "\f105";
        border: none !important;
    }*/

/*.mis-nav-list {
    position: absolute;
    top: 0px;
    width: 100%;
    margin: 0 auto !important;
    z-index: 300;
    padding: 0px !important;
}

    .mis-nav-list li {
        display: none;
        margin: 0px !important;
    }

        .mis-nav-list li:before, li.mis-slide:before {
            content: '' !important;
        }

        .mis-nav-list li a {
            display: block;
            text-indent: 100%;
            overflow: hidden;
            white-space: nowrap;
            box-shadow: none !important;
        }*/

/*.mis-nav-buttons {
    display: block;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0.5;
    z-index: 200;
}

    .mis-nav-buttons a {
        position: absolute;
        font-size: 0;
        line-height: .01;
        font-family: FontAwesome;
        font-weight: bold;
        text-decoration: none;
        text-indent: -9999px;
        box-shadow: none !important;
        z-index: 2;
    }

        .mis-nav-buttons a:hover {
            opacity: .8;
        }

        .mis-nav-buttons a.mis-next {
            right: -425px !important;
            right: 3px;
            border: none !important;
            padding-left: 25px !important;
            background: transparent;
        }

        .mis-nav-buttons a.mis-prev {
            right: 700px !important;
            border: none !important;
            padding-right: 25px !important;
            background: transparent;
        }*/

@media screen and (max-width:700px) {
    /*.mis-nav-buttons a {
        cursor: default !important;
    }

    .mis-slider li a {
        cursor: default !important;
    }*/
}
